# EditorConfig is awesome: http://editorconfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# we use 4 space indentation for php files
[*.php]
indent_size = 4

# ...and 2 space indentation for coffee and js files
[*.{coffee,js}]
indent_size = 2
