version: '3.4'

x-env: &x-env
  BROADCAST_DRIVER: redis
  CACHE_DRIVER: redis
  DB_HOST: db
  ES_HOST: elasticsearch:9200
  ES_SCORES_HOST: elasticsearch:9200
  GITHUB_TOKEN: "${GITHUB_TOKEN}"
  NOTIFICATION_REDIS_HOST: redis
  REDIS_HOST: redis
  SESSION_DRIVER: redis

x-web: &x-web
  build:
    context: ./docker/development
    dockerfile: ../../Dockerfile.development
  volumes:
    - .:/app
  environment:
    <<: *x-env

services:
  php:
    <<: *x-web
    shm_size: '2gb' # for chromium
    # For running sandboxed chromium (default) with minimal privileges.
    # reference: https://ndportmann.com/chrome-in-docker/
    security_opt:
      - seccomp=docker/development/chromium-seccomp.json

  assets:
    <<: *x-web
    command: ['watch']

  job:
    <<: *x-web
    command: ['job']

  schedule:
    <<: *x-web
    command: ['schedule']

  migrator:
    <<: *x-web
    command: ['migrate']

  notification-server:
    image: pppy/osu-notification-server
    depends_on:
      - redis
      - db
    volumes:
      - .env:/app/.env
      - ./storage/oauth-public.key:/app/oauth-public.key
    environment:
      <<: *x-env

  notification-server-dusk:
    image: pppy/osu-notification-server
    depends_on:
      - redis
      - db
    volumes:
      - .env.dusk.local:/app/.env
      - ./storage/oauth-public.key:/app/oauth-public.key
    environment:
      <<: *x-env

  db:
    image: mysql/mysql-server:8.0
    volumes:
      - database:/var/lib/mysql
      - ./docker/development/db_setup.sql:/docker-entrypoint-initdb.d/db_setup.sql
      - ./docker/development/db_user.sql:/docker-entrypoint-initdb.d/db_user.sql
    environment:
      <<: *x-env
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ONETIME_PASSWORD: "yes"
    ports:
      - "${MYSQL_EXTERNAL_PORT:-3306}:3306"
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:latest

  elasticsearch:
    # Version must be kept up to date with library defined in: composer.json
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    environment:
      action.auto_create_index: "false"
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms512m -Xmx512m" # less OOM on default settings.

  nginx:
    image: nginx:latest
    depends_on:
      - php
      - notification-server
      - notification-server-dusk
    volumes:
      - ./docker/development/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - .:/app
    ports:
      - "${NGINX_PORT:-8080}:80"

volumes:
  database:
  elasticsearch:
