/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

@address-box-padding: 20px;

.address-list {
  margin-top: 20px;
}

.address {
  .default-border-radius();
  background: white;
  border: 3px solid transparent;
  font-style: italic;
  padding: @address-box-padding;
  &:last-child {
    margin-bottom: 20px;
  }

  &.shadow-selected {
    border-color: @green;

    button { display: none; }
  }
}

.address-select-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.address-delete-button {
  .reset-input();
  color: @gray-light;
  position: absolute;
  top: -@address-box-padding;
  right: -@address-box-padding;
  z-index: 1;
  padding: @address-box-padding;
  font-size: 20px;

  &:hover {
    color: red;
  }
}

.store_getProduct {
  .preview {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
  }
}

@media print
{
  .js-content, .osu-layout__section
  {
    display: block !important;
  }

  .no-print, .no-print *
  {
      display: none !important;
  }

  .print-page-break
  {
    page-break-before: always;
  }
}

.price-box {
  font-weight: 700;

  .price {
    color: @pink-text;
    font-style: bold;
    font-size: 30px;
    margin-bottom: 0;
  }

  .notes {
  }
}

#product-header {
  .product-header-base;
  padding-left: 40px;
  padding-top: 40px;
  height: 300px;
}

.product-header-base() {
  background-size: cover;
  background-position: 50%;
  background-color: fade(@pink-darker, 25%);

  display: block;
  color: #fff;
  .default-text-shadow;

  * {
    color: inherit;
    font-style: normal;
    margin: 0 0 10px;
    line-height: 0.8;
  }

  h1 {
    font-size: 40px;
    font-weight: 200;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}

.cart-items {
  font-style: italic;
  .list-group;
  line-height: 36px;
}

.cart-footer {
  @media @desktop {
    padding-right: 87px;
  }

}

.total-box {
  font-style: italic;
  text-align: right;

  p {
    line-height: 12px;
    &:nth-child(2) { font-size: 22px; color: @pink-text }
    &:nth-child(3) {
      color: @gray-light;
      font-size: 14px;
    }
  }
}

table.order-line-items {
  td {
    width: 100px;

    &:first-child {
      width: auto;
    }
  }
  margin-top: 20px;

  .total { font-weight: 700; }

  &.table-fancy {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;

    tfoot {
      td {
        color: @gray-light;
        &:first-child {
          text-transform: lowercase;
        }
      }

      .total { display: none; }
    }

    tr > td {
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
    tr.warning > td { background-color: #fff; }
  }

}

.store_getCheckout, .store_cart-show {
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3 { font-size: 15px; }
}

.invoice-page {
  .shipper-info {
    h3, p {
      font-size: 16px;
    }
  }

  .transaction-info {
    margin-top: 40px;
  }
}

#new-address-switch {
  margin-top: 20px;
}
