/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
#store-header {
  padding: 0px;
  height: 200px;
  .at2x("/images/headers/store.png", 900px, 200px);

  > div {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .float {
    position: absolute;
    top: 0px;
    height: 100%;

    display: flex;
    padding: @grid-gutter-width/2;

    align-items: flex-end;
    @media @desktop {
      align-items: center;
    }
  }

  .float-left { left: 0px; }
  .float-right { right: 0px; }

  .float-link {
    padding: @grid-gutter-width/4;
    &:extend(.default-box-shadow);
    border-radius: 5px;
    background: #fff;

    display: flex;
    align-items: center;

    .pink-link;

    > * {
      margin-right: @grid-gutter-width/8;

      &:last-child {
        margin-right: 0px;
      }
    }

    span { font-size: 12px; }
    i {
      font-size: 18px;
      margin-top: 4px;
    }
  }
}
