.store-supporter-tag {
  &__textual-info {
    margin: 8px 20px;  // TODO: placeholder
    .error {
      align-self: flex-end;
    }
  }

  &__user {
    &--searching {
      display: none;
    }
  }

  &__user-search {
    @media @mobile {
      &.grid--margin {
        > .grid-cell {
          & + .grid-cell {
            margin-left: 0;
          }
        }
      }
    }
  }

  &--disabled {
    .js-slider {
      .ui-slider-handle {
        background-color: gray;
        border-radius: 50%;
      }
      &.ui-slider {
        background-color: lightgray;
        .ui-slider-range {
          background-color: gray;
        }
      }
    }
  }

  .js-input-feedback {
    display: inline-block;
    margin: 8px;
    text-align: center;
  }

  .price-box {
    margin-left: 20px;
    white-space: nowrap; // TODO: elevate?
  }
}

.ui-slider {
  margin: 8px 0;
  .ui-slider-pip {
    position: absolute;
    text-align: center;
    .ui-slider-label {
      display: block;
      padding: 8px;
      margin-left: -100%;
      cursor: pointer;
      &:empty {
        display: none;
      }
    }
  }
}
