.store-column {
  display: flex;
  flex-direction: column;
}

.store-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-column--full-width {
  width: 100%;
}

.store-support-osu {
  display: flex;
  &.row {
    margin: 20px; // TODO: placeholder
  }
}

.store-support-osu__textual-info {
  margin: 8px 20px;  // TODO: placeholder
}

.store-support-osu__user {
  display: flex;
  width: 100%;
  &.store-support-osu__user--searching {
    display: none;
  }
}

.store-support-osu--disabled {
  .js-slider {
    .ui-slider-handle {
      background-color: gray;
      border-radius: 50%;
    }
    &.ui-slider {
      background-color: lightgray;
      .ui-slider-range {
        background-color: gray;
      }
    }
  }
}

.ui-slider {
  .ui-slider-pip {
    position: absolute;
    text-align: center;
    .ui-slider-label {
      display: block;
      padding: 8px;
      margin-left: -100%;
      cursor: pointer;
      &:empty {
        display: none;
      }
    }
  }
}
