.store-supporter-tag {
  background-color: #ccc;

  &__user-icon {
    margin: 8px;
  }

  &__user-search {
    margin: 8px;

    .grid-cell {
      margin: 0 0 8px 0;
    }

    input.form-control {
      min-width: 15em;
    }
  }

  &--disabled {
    .js-slider {
      .ui-slider-handle {
        background-color: gray;
        border-radius: 50%;
      }
      &.ui-slider {
        background-color: lightgray;
        .ui-slider-range {
          background-color: gray;
        }
      }
    }
  }

  .form-control {
    color: #555;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  .js-input-feedback {
    display: inline-block; // prevent collapsing of empty block
    font-weight: 600;
    color: #555;
    text-align: center;
  }

  .price-box {
    margin-left: 20px;
    white-space: nowrap; // TODO: elevate?
  }
}

.ui-slider {
  margin: 8px 0;

  }
}
