.store-column {
  display: flex;
  flex-direction: column;
}

.store-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-column--full-width {
  width: 100%;
}

.store-support-osu {
  display: flex;
  &.row {
    margin: 20px; // TODO: placeholder
  }
}

.store-support-osu__textual-info {
  margin: 8px 20px;  // TODO: placeholder
}

