/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.avatar {
  @default-avatar-size: 70px;

  .default-box-shadow();
  .default-border-radius();

  width: @default-avatar-size;
  height: @default-avatar-size;

  background-color: @gray-3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--beatmapset {
    width: @beatmapset-avatar-size;
    height: @beatmapset-avatar-size;
    .default-border-radius();
  }

  &--beatmapset-scoreboard {
    width: @beatmapset-scoreboard-avatar-size;
    height: @beatmapset-scoreboard-avatar-size;
    .default-border-radius();
    .default-box-shadow();
  }

  &--forum {
    @border: (@spacing / 2);
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% ~'-' (@border * 2));

    box-shadow: none;
    border: @border solid @gray-f;
  }

  &--forum-reply {
    @avatar: 60px;

    align-self: flex-end;
    width: @avatar;
    height: @avatar;
    border: ceil(@spacing / 4) solid @gray-f;
    margin-right: @spacing;
  }

  &--forum-small {
    flex: none;
    width: @forum-post--xs-avatar;
    height: @forum-post--xs-avatar;
    box-shadow: none;
  }

  &--full {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    box-shadow: none;
    border-radius: 0;

    // otherwise white border when zoomed in.
    background-position: 0 0;
  }

  &--full-rounded {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    box-shadow: none;
  }

  &--guest {
    .at2x-simple("/images/layout/avatar-guest.png");
  }

  &--navbar-mobile {
    width: @navbar-mobile--content-height;
    height: @navbar-mobile--content-height;
    margin-right: @spacing;
    display: block;
  }

  &--profile {
    width: @profile-avatar-size;
    height: @profile-avatar-size;

    // brings avatar on top of following row
    z-index: @z-index--user-profile-avatar;
  }
}
