/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.badge-rank {
  @size: 100%;
  width: @size;
  height: @size;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .all(@rank, @prefix) {
    &--@{rank} {
      .bg(@prefix);
    }
  }

  .bg(@filename) {
    .at2x-simple("/images/badges/score-ranks/Score-@{filename}-Small-60.png");
  }

  .all(XH, "SSPlus");
  .all(X, "SS");
  .all(SH, "SPlus");
  .all(S, "S");
  .all(A, "A");
  .all(B, "B");
  .all(C, "C");
  .all(D, "F");

  &--full {
    width: 100%;
    height: 100%;

    // to avoid problem in chrome when located inside flexbox
    // reference: https://code.google.com/p/chromium/issues/detail?id=341310
    position: absolute;
  }

  &--medium {
    width: @rank-width;
    height: @rank-height;
  }

  &--small {
    width: 50px;
    height: 26px;
  }

  &--tiny {
    width: 30px;
    height: 12px;
  }
}
