/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.bar {
  @_top: bar;
  display: block;
  width: 100%;
  background-color: @yellow;
  height: @bar-size;

  &--beatmap-rating {
    height: 5px;
    background-color: @green;
  }

  &--beatmap-stats {
    height: 5px;
    background-color: fade(#fff, 50%);
  }

  &--beatmap-success-rate {
    height: 5px;
    background-color: #ddd;
    margin-top: 5px;
  }

  &--beatmapset-nomination {
    .default-border-radius();
    height: 5px;
    margin: 5px 2.5px;
  }

  &--beatmapset-nomination-off {
    background-color: #222;
  }

  &--beatmapset-nomination-on {
    background-color: @green;
  }

  &--double {
    height: (@bar-size * 2);
  }

  &--forum-poll {
    height: 5px;
    background-color: #eee;
  }

  &--locale {
    background-color: @purple;
  }

  &--user-profile {
    height: 5px;
    background-color: #111;
    margin-bottom: 5px;
  }

  &__fill {
    height: 100%;

    .@{_top}--beatmap-rating & {
      background-color: @yellow-dark;
    }

    .@{_top}--beatmap-stats & {
      .default-bar-transition();
      background-color: #fff;
    }

    .@{_top}--beatmap-stats-stars & {
      background-color: @yellow;
    }

    .@{_top}--beatmap-success-rate & {
      .default-bar-transition();
      background-color: @green;
    }

    .@{_top}--forum-poll & {
      background-color: @pink-darker;
    }

    // must be after --forum-poll
    .@{_top}--forum-poll-voted & {
      background-color: @purple-darker;
    }

    .@{_top}--user-profile & {
      background-color: @yellow;
    }
  }
}
