/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.bar {
  @_top: bar;
  display: block;
  width: 100%;
  background-color: @yellow;
  height: @bar-size;

  &--double {
    height: (@bar-size * 2);
  }

  &--user-profile {
    height: @spacing;
    background-color: @grey-d;
    margin-bottom: (@spacing / 2);
  }

  &--forum-poll {
    height: (@spacing / 2);
    background-color: @grey-e;
  }

  &--beatmapset-success-rate {
    height: (@spacing * 0.5);
    background-color: @grey-d;
    margin-top: (@spacing * 0.5);
  }

  &__fill {
    height: 100%;

    .@{_top}--user-profile & {
      background-color: @blue-dark;
    }

    .@{_top}--forum-poll & {
      background-color: @pink-darker;
    }

    // must be after --forum-poll
    .@{_top}--forum-poll-voted & {
      background-color: @purple-darker;
    }

    .@{_top}--beatmapset-success-rate & {
      background-color: @green;
      .default-bar-transition;
      margin: 0;
    }
  }
}
