/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-packs {
  // display: flex;
  // flex-direction: column;
  padding: 20px;
  background-color: #eee;

  &__cell {
    width: calc(33%);
    flex-grow: 1;
    flex-shrink: 0;
    & + & {
      padding-left: 20px;
    }
  }

  &__filter {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }

  &__filters {
    padding: 20px;
    margin: -20px;
    background-color: #fff;
    list-style: none;
  }

  &__row {
    display: flex;
  }
}


.accordion {
  display: flex;
  flex-direction: column;
  &__item {
    overflow: hidden;
    height: 36px;
    &--expanded {
      height: auto;
      flex: 1 1 auto;
    }

    &-header {

    }

    &-body {

    }
  }
}
