/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmapset-activities {

    &__beatmapset-cover {
        width: 45px;
        height: 30px;
        border-radius: 6px;
        object-fit: cover;
    }

    &__event-icon-spacer {
        margin: 0px 10px;
    }

    &__post-grow {
        flex-grow: 1;
    }

    &__discussion-post {
        display: flex;
        margin-bottom: 10px;
    }

    &__timeline-icon-margin {
        margin: 10px !important;
    }

    &__user-upvote-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__user-upvote-panel {
        display: flex;
        margin: 10px;
        width: 200px;
    }

    &__vote-icon-spacer {
        margin: 10px 5px 10px 0px;
    }

    &__vote-user-panel {
        width: 50px;
        flex-shrink: 0;
    }
}
