/**
*    Copyright 2016 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.beatmapset-details {
  &__avatar-container {
    width: @beatmapset-avatar-container-size;
    height: @beatmapset-avatar-container-size;

    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;

    margin-bottom: (@spacing * 2);

    .default-box-shadow();
    .default-border-radius();
  }

  &__avatar {
    position: absolute;
    left: 3px;
    bottom: 3px;
  }

  &__mapper {
    font-size: 14px;
    text-align: center;

    padding-bottom: (@spacing * 1.5);

    &--username {
      font-style: italic;
      font-weight: 500;
    }
  }

  &__date {
    text-align: center;
    font-size: 11px;
    color: @gray-7;
  }

  &__line {
    .default-line;
  }

  &__download {
    max-width: 240px;

    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    display: block;

    width: 100%;
    height: 45px;

    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 45px;

    text-align: center;
    vertical-align: middle;

    background-color: @pink;

    margin-bottom: (@spacing * 0.5);

    .default-box-shadow();
    .default-border-radius();

    &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__novideo {
    margin-top: @spacing;
    display: flex;
  }

  &__text {
    font-size: 12px;

    &--logged-out {
      text-align: center;
    }
  }
}
