/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.beatmap-discussion-nomination {
  @top: beatmap-discussion-nomination;
  background-color: @gray-3;
  color: @gray-f;
  padding: @spacing;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--extended {
      flex: 1;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: @font-size--small-2;
  }

  &__lights {
    display: flex;
    margin: 0 (-@spacing / 4);
  }

  &__note {
    font-size: @font-size--normal;
    color: @gray-e;

    .@{top}__footer--extended & {
      padding-top: (@spacing / 2);
      height: 100%;
    }
  }

  &__title {
    font-weight: 600;
  }
}
