/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-basic-stats {
  display: flex;
  justify-content: space-between;
  margin: -5px -5px;
  font-weight: 700;
  font-size: @font-size--normal;
  color: @yellow-light;

  &__entry {
    display: flex;
    flex: none;
    padding: 5px 5px;
    align-items: center;
  }

  &__entry-icon {
    width: 24px;
    height: 24px;

    background-size: contain;

    margin-right: 3px;
  }
}
