/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-discussion-nomination {
  @top: beatmap-discussion-nomination;
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__footer {
    display: flex;
    flex-direction: column;

    &--extended {
      flex: 1 0 auto;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: @font-size--small-2;

    @media @mobile {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__lights {
    display: flex;
    margin: 0 -2.5px;

    @media @mobile {
      margin: 10px;
    }
  }

  &__note {
    font-size: @font-size--normal;
    color: #eee;
    margin-right: 10px;
    margin-top: 5px;
    word-wrap: break-word;

    .@{top}__footer--extended & {
      padding-top: 5px;
      height: 100%;
    }

    &--nominators {
      font-style: italic;
      align-self: flex-end;
    }
  }

  &__status-message {
    font-size: 14px;
    width: 100%;
    text-align: center;

    @media @desktop {
      text-align: inherit;
    }
  }

  &__row {
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;

    &--status-message {
      margin-bottom: 20px;
    }

    @media @mobile {
      flex-direction: column;
      margin-bottom: 0px;
    }
  }

  &__row-left {
    margin-right: 10px;
    @media @desktop {
      flex: 1;
    }
  }

  &__row-right {
    width: 150px;

    @media @mobile {
      align-self: center;
    }
  }

  &__title {
    font-weight: 600;
  }
}
