/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-discussion-vote {
  @_default-color: #999;
  .reset-input();
  .default-box-shadow();
  .default-border-radius();
  .fade-element(100ms);

  min-width: 35px;
  padding: 10px;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;

  font-size: 12px;

  &:hover {
    .thick-box-shadow();
  }

  &--up {
    &, &:hover {
      color: @green;
    }
  }

  &--down {
    &, &:hover {
      color: @yellow-dark;
    }
  }

  &--inactive {
    color: @_default-color;
  }

  // overrides the other stuff
  &[disabled] {
    color: @_default-color;
    background-color: #eee;
    cursor: default;

    &:hover {
      .default-box-shadow();
      color: @_default-color;
    }
  }

  &__count {
    color: @_default-color;
  }
}
