/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.beatmapsets-search {
  @_top: beatmapsets-search;

  .default-box-shadow();
  padding: @spacing (@spacing * 5);
  background: @gray-0;
  font-size: @font-size--normal-2;

  &__advanced {
    font-size: @font-size--small;
    display: none;

    .@{_top}--expanded & {
      display: block;
    }
  }

  &__background {
    .full-size();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }

  &__expand-link {
    display: block;
    text-align: center;
    font-size: @font-size--small;
    margin-top: @spacing;
    color: @gray-f;

    &:hover,
    &:active,
    &:focus {
      color: @gray-f;
    }

    .@{_top}--expanded & {
      display: none;
    }
  }
}
