/**
*    Copyright 2016 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.beatmapset-header {
  background-size: cover;
  background-position: center;
  padding: (@spacing * 2);
  height: 250px;

  display: flex;
  flex-direction: row;

  @media @desktop {
    padding-left: (@spacing * 4);
    padding-right: (@spacing * 4);
  }

  &__title {
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    .default-text-shadow();

    margin: 0;

    &--small {
      padding-top: 5px;
      font-size: 20px;
    }

    &--stat {
      font-size: 18px;
      font-weight: 500;
      text-align: right;

      overflow: hidden;
      white-space: nowrap;

      &:first-of-type {
        padding-bottom: 5px;
      }
    }
  }

  &__stat-number {
    padding-right: 10px;
  }

  &__icon
  {
    width: 18px;
    height: 18px;

    &--playcount {
      // The playcount icon is thinner than the heart icon,
      // so we move it a bit to the left so they are centered.
      padding-right: 2px;
    }
  }

  &__title-box {
    align-self: flex-end;

    &--right {
      margin-left: auto;
    }
  }
}
