/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.beatmap-basic-stats {
  display: flex;
  margin: (-@spacing / 2) (-@spacing);
  font-weight: 700;
  font-size: @font-size--normal;
  color: @yellow-light;

  &__entry {
    display: flex;
    flex: 1;
    padding: (@spacing / 2) @spacing;
  }

  &__entry-icon {
    width: 15px;
    height: 15px;

    background-size: contain;

    margin-right: (@spacing / 2);
  }
}
