/**
*    Copyright 2016 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.beatmapset-success-rate {
  @colour-retry: @yellow;
  @colour-fail: @yellow-darker;


  &__label {
    font-size: 15px;
    font-style: italic;
  }

  &__bar {
    height: 30px;
    background: @grey-d;
    margin-bottom: @spacing * 2;

    &--fill {
      background: @green;
      transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &__chart-area {
    display: flex;
    flex-wrap: wrap;
  }

  &__chart {
    max-width: 100%;
    height: 150px;

    flex-basis: 100%
  }

  &__legend {
    margin-left: auto;
  }

  &__legend-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: @spacing * 0.5;
  }

  &__legend-label {
    padding-right: @spacing;
    font-size: 15px;
  }

  &__legend-color {
    width: 20px;
    height: 20px;

    &--retry {
      background-color: @colour-retry;
    }

    &--fail {
      background-color: @colour-fail;
    }
  }

  &__chart-bar {
    shape-rendering: crispEdges;

    &--0 {
      fill: @colour-fail;
    }

    &--1 {
      fill: @colour-retry;
    }
  }
}
