/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-score-top {
  @_top: beatmap-score-top;
  @avatar-size: 70px;


  display: flex;
  flex-direction: column;

  &:hover {
    background-color: #eee;
  }

  &__achieved {
    font-size: @font-size--small-2;
    color: #777;
    font-style: normal;
    font-weight: normal;
  }

  &__avatar {
    .default-border-radius();
    .default-box-shadow();

    flex: none;
    width: @avatar-size;
    height: @avatar-size;
    margin: 0px 10px;

    // clip avatar div following border radius
    overflow: hidden;
    .own-layer();
  }

  &__mods {
    margin-top: 10px;
    margin-left: (@avatar-size + 10px);
  }

  &__position {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  &__position-number {
    padding-bottom: 5px;
  }

  &__rank {
    flex: none;
    width: @avatar-size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__section {
    width: 100%;
    padding: 10px;
    display: flex;

    .default-border-radius();
    .default-box-shadow();

    align-items: center;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
    }
  }

  &__stat {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    @media @mobile {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__stat-header {
    font-size: 10px;
    font-weight: 700;

    padding-bottom: 2px;

    border-bottom: 2px solid #BBB;
    text-transform: uppercase;

    width: 50px;

    &--wider {
      min-width: 80px;
      width: 100%;
    }

    &--mods {
      width: 100%;
      min-width: 30px;
    }
  }

  &__stat-value {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    margin-top: 4px;

    line-height: 0.9;

    &--smaller {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__stats {
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;

    @media @desktop {
      margin: 5px 10px 5px 0px;
      justify-content: flex-end;
    }

    &--wrappable {
      flex-wrap: wrap;
    }
  }

  &__user-box {
    flex: none;
  }

  &__username {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 5px;
    color: #555;
    display: block;
    margin-right: 10px;
  }

  &__wrapping-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--left {
      flex-shrink: 0;
    }

    &--right {
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%; // 'cuz ie is a poop

      @media @mobile {
        justify-content: space-around;
      }
    }
  }
}
