/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-discussion {
  @_top: beatmap-discussion;
  .own-layer();
  display: flex;

  &--deleted {
    opacity: 0.75;
  }

  &__actions {
    flex: none;

    display: flex;
    justify-content: flex-end;

    height: @beatmap-discussion--avatar-size;
    margin: 10px;
    margin-right: 0;
  }

  &__action {
    .reset-input();
    display: flex;

    &--with-line {
      &::before {
        .full-size();
        content: ' ';
        width: 1px;
        right: 100%;
        background-image: linear-gradient(to bottom, transparent, #ccc 50%, transparent);
      }
    }
  }

  &__discussion {
    .default-box-shadow();
    .default-border-radius();

    flex: 1;
    min-width: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;

    .@{_top}--highlighted & {
      .thicker-box-shadow();
    }
  }

  &__expanded {
    display: flex;
    flex-direction: column;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;

    border-radius: @border-radius-base 0 0 @border-radius-base;

    &--resolved {
      background-color: @green;
    }
  }

  &__replies {
    .inner-shadow-top();
    display: flex;
    flex-direction: column;
  }

  &__resolved {
    text-align: center;
    color: @green-dark;
    font-size: 12px;
    font-weight: bold;
    text-transform: lowercase;
    margin: 5px 0;
  }

  &__timestamp {
    flex: none;

    // hopefully enough for type and resolve status icons.
    width: 50px;

    .@{_top}--timeline & {
      // with timestamp, timeline's line and dot.
      width: 110px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media @desktop {
      flex-direction: row;
    }
  }
}
