/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-discussions-header-bottom {
  .default-box-shadow();
  .inner-shadow-top();

  display: flex;
  padding: 0 20px;
  background-color: #555;
  flex-direction: column;
  margin-bottom: @page-spacing;

  @media @desktop {
    flex-direction: row;
    align-items: stretch;
  }

  &__content {
    @media @desktop {
      flex: 1;
    }

    &--details {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      justify-content: space-between;

      @media @mobile {
        margin-top: 10px;
        align-self: center;
      }
    }

    &--nomination {
      margin-top: 10px;
      min-width: 0;

      @media @desktop {
        flex-basis: 30%;
      }
    }
  }

  &__subscribe {
    margin: 10px 0;

    @media @desktop {
      margin: 10px 10px 10px 0;
    }
  }
}
