/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.beatmap-discussions-chart {
  @_top: beatmap-discussions-chart;
  width: 100%;
  height: 100%;

  &__axis {
    fill: @gray-c;
  }

  &__bar {
    stroke-width: 1;
    shape-rendering: crispEdges;

    .@{_top}__point:hover & {
      stroke-width: 2;
    }
  }

  &__icon {
    stroke-width: 0;
  }

  &__point {
    font-size: 12px;

    &--praise {
      fill: @beatmap-discussion--color-praise;
      stroke: @beatmap-discussion--color-praise;
    }

    &--problem {
      fill: @beatmap-discussion--color-problem;
      stroke: @beatmap-discussion--color-problem;
    }

    &--suggestion {
      fill: @beatmap-discussion--color-suggestion;
      stroke: @beatmap-discussion--color-suggestion;
    }
  }
}
