/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-pack {
  .default-box-shadow();
  width: 100%;
  margin: 2px 0;

  &__body {
    padding: 20px;
    background-color: #eee;  }

  &__header {
    padding: 20px;
    background-color: #fff;
  }

  &__author {
    &.beatmap-packs__cell {
      width: 120px;
      text-align: right;
    }
  }

  &__date {
    &.beatmap-packs__cell {
      width: 180px;
      text-align: right;
      flex: 0;
    }
  }

  &__name {
    color: #6645CC;
    &.beatmap-packs__cell {
      flex-grow: 4;
    }
    .accordion__item--expanded & {
      font-weight: 600;
    }
  }

  &.accordion__item--expanded {
    z-index: 1;
    box-shadow: 0 4px 12px fade(#000, 50%);
  }
}
