/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmapset-event {
  font-size: @font-size--normal;
  display: flex;
  margin: 2px 0;
  align-items: baseline;

  &__content {
    word-wrap: break-word;
    min-width: 0;
  }

  &__icon {
    border-radius: 3px;
    width: 8px;
    flex: none;
    align-self: stretch;

    .type(@name, @bg-color) {
      &--@{name} {
        background-color: @bg-color;
      }
    }

    .type(approve, @blue);
    .type(discussion-delete, @yellow);
    .type(discussion-post-delete, @yellow);
    .type(discussion-post-restore, @blue);
    .type(discussion-restore, @blue);
    .type(disqualify, @red);
    .type(issue-reopen, @yellow);
    .type(issue-resolve, @green);
    .type(kudosu-allow, @blue);
    .type(kudosu-deny, @red);
    .type(kudosu-gain, @blue);
    .type(kudosu-lost, @red);
    .type(kudosu-recalculate, #ccc);
    .type(nominate, @blue);
    .type(nomination-reset, @red);
    .type(qualify, @blue);
    .type(rank, @green);
  }

  &__time {
    width: 80px;
    flex: none;
    padding: 0 10px;
  }
}
