/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.beatmapset-scoreboard {
  @_top: beatmapset-scoreboard;

  margin-top: @spacing;
  padding: 30px 20px;

  &__mods-wrapper {
    display: flex;
    justify-content: center;
    margin-top: @spacing * 2;
  }

  &__mods {
    display: flex;

    &--initial {
      .@{_top}__mod-box {
        opacity: 1;
      }

      &:hover .@{_top}__mod-box {
        opacity: 0.5;
      }

      & .@{_top}__mod-box:hover {
        opacity: 1;
      }
    }
  }

  &__mod-box {
    display: flex;
    align-items: center;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &--enabled {
      opacity: 1;
    }

    width: 40px;
    height: 25px;

    cursor: pointer;
  }

  &__mod {
    width: 36px;
    height: 25px;
  }

  &__main {
    padding-top: @spacing * 4;

    &--loading {
      opacity: 0.5;
    }
  }

  &__notice {
    text-align: center;
    padding-top: @spacing;

    &--no-scores {
      font-size: 15px;
    }

    &--guest {
      text-align: left;
      font-style: italic;
    }
  }

  &__supporter-text {
    font-size: 24px;
    font-weight: 600;

    padding-bottom: @spacing;

    &--small {
      font-size: 18px;
      font-weight: normal;

      padding: 0;
    }
  }
}
