/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.beatmap-icon {
  .icon-bg();
  .default-box-shadow();
  .center-content();

  color: @grey-f;
  border: 2px solid @grey-f;

  .circle(21px);
  font-size: 23px;

  padding: 0;

  &--large {
    .circle(29px);
    font-size: 30px;
  }

  &--beatmapset {
    .circle(38px);
    font-size: 40px;
  }

  &--easy {
    background-color: @green;
  }

  &--normal {
    background-color: @yellow;
  }

  &--hard {
    background-color: @pink;
  }

  &--insane {
    background-color: @purple;
  }

  &--expert {
    background-color: @grey-0;
  }
}
