/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-packs {
  &__page-header {
    padding: 40px 0 45px;
  }

  &__page-icon {
    .at2x-simple("/images/headers/beatmappacks-icon.png");
    width: @header-icon-size;
    height: @header-icon-size;
    margin: @header-icon-margin auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__page-title {
    font-weight: 300;
    font-size: @font-size--header-title;
    color: #fff;
  }

  &__blurb {
    padding: 20px 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: @font-size--title-small;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
  }

  &__important {
    font-size: 110%;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  &__cell {
    & + & {
      padding-left: @beatmappack-listing--gutter;
    }

    &--right {
      text-align: right;
      justify-content: flex-end;
    }
  }

  &__list {
    padding: @beatmappack-listing--gutter;
    background-color: @gray-lighter;
  }

  &__scary {
    color: @yellow;
    font-weight: 600;
  }

  &__row {
    display: flex;
  }
}
