/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmap-discussions-chart {
  @top: beatmap-discussions-chart;
  width: 100%;
  height: 100%;

  &__axis {
    fill: #333;
  }

  &__bar {
    stroke-width: 1;
    shape-rendering: crispEdges;

    .@{top}__point:hover & {
      stroke-width: 2;
    }
  }

  &__bar-gradient {
    stop-color: #fff;

    &--start {
      stop-opacity: 0;
    }
  }

  &__chart-area {
    fill: @gray-blue;
  }

  &__icon {
    stroke-width: 0;
    text-anchor: middle;
    dominant-baseline: middle;
  }

  &__label-area {
    fill: #222;
  }

  &__point {
    font-size: 12px;
    cursor: pointer;

    &--mapper-note {
      fill: @beatmap-discussion--color-mapper-note;
    }

    &--praise {
      fill: @beatmap-discussion--color-praise;
    }

    &--problem {
      fill: @beatmap-discussion--color-problem;
    }

    &--resolved {
      fill: @beatmap-discussion--color-resolved;
    }

    &--suggestion {
      fill: @beatmap-discussion--color-suggestion;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__target-area {
    fill: transparent;
    stroke: transparent;
  }
}
