/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmapsets-search {
  @_icon-width: @font-size--large + 5px;
  @_icon-width--sticky: @font-size--normal-2 + 5px;
  @_top: beatmapsets-search;

  .default-box-shadow();
  padding: 10px 50px;
  background: #000;
  font-size: @font-size--normal-2;

  &--sticky {
    margin: 0px;
    padding: 0px;
    background: #333;
    box-shadow: none;
  }

  &__advanced {
    font-size: @font-size--small;
    display: none;

    .@{_top}--expanded & {
      display: block;
    }
  }

  &__background {
    .full-size();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }

  &__expand-link {
    display: block;
    text-align: center;
    font-size: @font-size--small;
    margin-top: 10px;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }

    .@{_top}--expanded & {
      display: none;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: @_icon-width + 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .@{_top}--sticky & {
      width: @_icon-width--sticky + 20px;
    }
  }

  &__input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    padding-right: 10px + @_icon-width + 20px;

    font-style: italic;
    font-weight: lighter;

    &:focus {
      outline: none;
      border-color: @pink-light;
      box-shadow: 0 0 10px @pink-lighter;
    }

    .@{_top}--sticky & {
      padding: 5px;
      padding-right: 5px + @_icon-width--sticky + 20px;
    }
  }

  &__input-container {
    color: @pink;
    font-size: @font-size--large;
    margin: 0 -10px;
    margin-top: 100px;
    margin-bottom: 20px;

    .@{_top}--sticky & {
      font-size: @font-size--normal-2;
      margin: 5px 0;
    }
  }
}
