/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.beatmapset-panel {
  @top: beatmapset-panel;
  @padding: 10px;
  @hover-transition-duration: 120ms;
  .own-layer();
  color: @text-color;

  &__content {
    height: 75px;
    padding: @padding;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__count-number {
    padding-right: 5px;
  }

  &__counts-box {
    position: absolute;
    right: @padding;
    top: @padding;
  }

  &__difficulties {
    position: absolute;
    bottom: @padding;
    left: @padding;
    display: flex;
    align-items: center;
    font-size: @font-size--normal;
  }

  &__difficulty-icon {
    margin-right: 5px;
  }

  &__difficulty-count {
    margin-right: 10px;
    margin-left: 3px;
    font-weight: bold;
  }

  &__header {
    .default-text-shadow();
    border-radius: @border-radius-base @border-radius-base 0 0;
    .at2x('/images/layout/beatmaps/default-bg.png');
    background-position: center;
    background-size: cover;

    color: #fff;
    font-weight: 400;
    font-style: italic;
  }

  &__header-text {
    .thick-text-shadow();
    font-weight: 600;

    &--title {
      font-size: 130%;
    }
  }

  &__icon {
    .link-gray-dark();
    padding-left: 5px;
  }

  &__icons-box {
    flex: none;
  }

  &__mapper-source-box {
    font-size: 70%;
    font-weight: 600;
    flex: 1;
    // avoid extending beyond container on long line
    min-width: 0;
  }

  &__panel {
    .own-layer();
    .default-box-shadow();
    .default-border-radius();

    width: 100%;
    background: #fff;
  }

  &__play {
    .link-white();
    .link-plain();
    .fade-element(@hover-transition-duration);
    position: absolute;
    left: @padding;
    top: @padding / 2;
    font-size: 40px;
    opacity: 0;
    line-height: 1;

    &:hover {
      color: @yellow;
    }

    .@{top}:hover & {
      opacity: 1;
    }

    .@{top}--previewing & {
      color: @yellow;
      opacity: 1;
    }
  }

  &__preview-bar {
    background-color: @yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition-timing-function: linear;
  }

  &__row {
    display: flex;
  }

  &__shadow {
    .default-border-radius();
    .own-layer();
    .full-size();
    .thicker-box-shadow();
    .fade-element(@hover-transition-duration);

    opacity: 0;
    pointer-events: none;

    .@{top}:hover & {
      opacity: 1;
    }
  }

  &__thumb {
    .link-white();
    .link-plain();
    display: block;
    border-radius: @border-radius-base @border-radius-base 0 0;
    background-position: center;
    background-size: cover;
    height: 120px;

    &::before {
      .full-size();
      content: ' ';
      background-image: linear-gradient(to bottom, fade(#000, 10%), fade(#000, 70%));
    }
  }

  &__title-artist-box {
    position: absolute;
    left: @padding;
    bottom: @padding;
    width: calc(100% ~'-' (@padding * 2));
  }

  &__video-icon {
    padding: @padding;
    .fade-element(@hover-transition-duration);

    .@{top}:hover & {
      opacity: 0;
    }
  }
}
