/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.beatmap-list {
  @top: beatmap-list;
  color: @gray-f;
  min-width: 0;
  display: flex;

  &--selecting {
    z-index: @z-index--blackout-visible;
  }

  &__selector {
    .default-box-shadow();

    position: absolute;
    top: 100%;
    left: 0;
    margin-top: (@spacing / 2);
    background-color: @gray-blue-darker;

    flex-direction: column;


    display: none;
    .@{top}--selecting & {
      display: flex;
    }

    &--submenu {
      top: 0;
      left: 100%;
      margin-left: (@spacing / 2);
      margin-top: 0;
      padding: @spacing 0;
    }
  }

  &__item {
    .reset-input();

    display: flex;
    align-items: center;
    text-align: left;
    padding: (@spacing / 2) @spacing;

    &:hover {
      background-color: @gray-0;
    }

    &--selected {
      .default-box-shadow();
      .default-border-radius();
      background-color: @gray-blue-darker;
      box-shadow: 0 0 0 2px fade(@gray-0, 25%);
      height: 100%;
      padding-top: @spacing;
      padding-bottom: @spacing;
      min-width: 0;

      &:hover {
        background-color: @gray-0;
      }
    }

    &--current {
      background-color: @gray-1;
    }
  }
}
