/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.btn-osu-big {
  .default-border-radius();
  border: none;

  display: inline-block;

  margin: 0;
  padding: @spacing;

  background-color: @blue-darker;
  background-image: url('/images/backgrounds/buttonblue@2x.png');
  background-size: cover;
  background-position: 50% 50%;
  outline: none;

  color: @grey-f;
  font-weight: 600;
  transition: background-position 120ms;

  &:hover,
  &:focus {
    color: @grey-f;
    text-decoration: none;
    background-position: calc(50% ~'-' (@spacing * 4)) 50%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    margin-right: (@spacing * 4);
  }
}
