/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.btn-circle {
  @top: btn-circle;
  .reset-input();
  .circle(@btn-circle-diameter);
  .default-box-shadow();
  cursor: pointer;
  display: inline-block;
  text-shadow: inherit;

  flex: none;
  background-color: @blue-darker;
  color: #fff;
  transition: all 120ms ease-in-out;
  font-size: 14px;

  &:focus,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 5px 15px fade(#000, 40%);
  }

  &--bbcode {
    .default-text-shadow();
    margin: 2px;
    font-size: 13px;
    box-shadow: none;

    &:focus,
    &:hover,
    &:active {
      .default-box-shadow();
    }
  }

  &--blank {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.7;

    &:focus,
    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  &--topic-entry {
    .circle(20px);
    box-shadow: none;
    margin: 2.5px;
    font-size: 10px;

    &:focus,
    &:hover,
    &:active {
      .default-box-shadow();
    }
  }

  &--topic-nav {
    margin: 0 5px;
  }

  &--activated, &.js-activated {
    background-color: @blue;
    color: #000;

    &:focus,
    &:hover,
    &:active {
      color: #000;
    }
  }

  // colour variations
  &--purple {
    background-color: @purple-dark;

    &.@{top}--activated {
      background-color: @purple-light;
    }
  }

  &--yellow {
    background-color: @yellow-dark;

    &.@{top}--activated {
      background-color: @yellow-light;
    }
  }

  // overrides everything else
  &[disabled],
  &.js-disabled,
  &--disabled {
    background-color: #333;
    cursor: not-allowed;

    // looks dumb if black and other buttons on the bar are not.
    .post-editor__toolbar & {
      background-color: @blue-darker;

      &::before {
        .full-size();
        .circle(@btn-circle-diameter);
        content: ' ';
        background-color: fade(#fff, 50%);
      }
    }
  }

  // some browsers can't display flex for <button>
  &__content {
    .center-content();
    height: 100%;
    width: 100%;
  }
}
