/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.btn-osu-big {
  @top: btn-osu-big;

  .reset-input();
  .link-plain();
  .default-border-radius();
  border: none;

  display: inline-block;

  background-color: @blue-darker;
  background-image: url('/images/backgrounds/buttonblue@2x.png');
  background-size: cover;
  background-position: 50% 50%;
  transition: background-position 120ms;

  padding: 5px;
  color: #fff;
  font-size: @font-size--normal;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  text-transform: none;
  white-space: nowrap;

  &:focus {
    color: #fff;
    background-position: calc(50% ~'-' 10px) 50%;
  }

  &:hover {
    color: #fff;
    background-position: calc(50% ~'-' 20px) 50%;
  }

  &:active {
    color: #fff;
    background-position: calc(50% ~'-' 10px) 50%;
  }

  &[disabled] {
    &:hover,
    &:focus,
    &:active {
      background-position: 50% 50%;
    }

    &::before {
      .full-size();
      content: ' ';
      border-radius: inherit;
      background-color: fade(#fff, 50%);
    }
  }

  &--account-edit {
    display: block;
    width: @avatar-size--base;
    padding: 7px 10px;
    text-align: left;
  }

  &--beatmap-discussion {
    margin-left: 5px;
  }

  &--beatmapset-header {
    min-width: 120px;
    height: 45px;
    margin: 0 5px 5px 0;
  }

  &--beatmapset-header-square {
    width: 45px;
    height: 45px;
    margin: 0 5px 5px 0;
  }

  &--beatmapset-header-square-unfavourite {
    background-image: url('/images/backgrounds/buttonpink@2x.png');
  }

  &--comment-editor {
    border-radius: 10000px;
    padding: 10px 20px;
  }

  &--contest-download {
    width: 300px;
    height: 45px;
    margin: 0 5px 5px 0;
    &:hover {
      background-position: calc(50% ~'-' (20px - 2px)) 50%;
    }
  }

  &--download-landing {
    .default-box-shadow();
    .default-text-shadow();
    font-style: italic;
    font-size: @font-size--title-small;
    padding: 10px 5px;
  }

  &--download-page {
    .default-box-shadow();
    .default-border-radius();
    .center-content();
    background-image: url("/images/backgrounds/button.svg");
    background-color: @blue-darker;
    background-size: 150%;

    flex: none;
    height: 50px;
    width: 180px;
    margin-bottom: 20px;

    flex-direction: column;
  }

  &--mega {
    width: 100%;
    height: 50px;
    font-size: 18px;
    .center-content();
  }

  &--forum-new-topic {
    border-radius: 18px;
    padding: 0 10px;
    height: 36px;
    min-width: @forum-topic-new-topic-button--width;
    // remove line descenders on <a>; should probably go on the block if
    // the existing doesn't magically break.
    vertical-align: middle;

    @media @mobile {
      width: 100%;
    }

    .@{top}__icon {
      font-size: 120%;
    }
  }

  &--forum-reply {
    border-radius: (@btn-circle-diameter / 2);
    padding: 0 5px;
    height: @btn-circle-diameter;
    background-image: none;
  }

  &--full {
    width: 100%;
  }

  &--green {
    background-color: @green;
  }

  &--nav-popup {
    text-align: left;
    width: 120px;
    height: 35px;
    padding: 7px 10px;
  }

  &--password-reset {
    padding: 10px;
    text-align: center;
  }

  &--pink {
    background-color: @pink;
  }

  &--rounded {
    padding: 10px 15px;
    border-radius: 100000px;
  }

  &--search-advanced {
    flex: 1 0 auto;
    text-transform: lowercase;
    margin: 0 5px;
  }

  &--wrap-text {
    white-space: normal;
  }

  &--user-homepage {
    display: block;
    width: 100%;
    background-image: url('/images/backgrounds/button.svg');
    background-size: 175%;
    background-color: @blue;
    margin-bottom: 5px;
  }

  &--activated, &.js-activated {
    background-color: @blue;
    color: #000;

    &:focus,
    &:hover,
    &:active {
      color: #000;
    }
  }

  &__content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--center {
      justify-content: center;
    }

    .@{top}--account-edit & {
      width: auto;
      margin: 0 -5px;
    }

    .@{top}--forum-reply & {
      // aligned to my system
      top: -1px;
    }

    .@{top}--nav-popup & {
      width: auto;
      margin: 0 -5px;
    }

    .@{top}--user-homepage & {
      flex-direction: column;
    }
  }

  &__fileupload {
    position: absolute;
    left: -200%;
    top: -200%;
  }

  &__icon {
    flex: none;
    margin: 0 5px;
    font-size: 150%;

    &--normal {
      font-size: inherit;
    }

    .@{top}--account-edit & {
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .@{top}--download-landing & {
      .circle(40px);
      .center-content();
      .thick-box-shadow();
      margin-left: 20px;
      font-size: 20px;
      border: 2px solid #fff;
    }

    .@{top}--nav-popup & {
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .@{top}--forum-reply & {
      margin-right: 0;
    }
  }

  &__left {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .@{top}--user-homepage & {
      align-items: center;
    }

    .@{top}--beatmap-discussion-reply-open & {
      margin-right: 20px;
    }
  }

  &__text-top {
    .@{top}--user-homepage & {
      margin-bottom: 5px;
    }

    .@{top}--download-page & {
      font-size: 15px;
      font-style: italic;
      font-weight: 700;

      margin: 0;

      .default-text-shadow;
    }
  }

  &__text-bottom {
    font-size: @font-size--small;

    .@{top}--download-page & {
      font-style: italic;
      .default-text-shadow;
    }
  }
}
