/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.changelog-header {
  display: flex;
  flex-direction: column;
  align-content: flex-end;

  min-height: 250px;

  background-size: cover;
  background-position: center;

  background-image: url('/images/headers/generic.jpg');

  padding: 0 40px;

  .default-box-shadow;
  .inner-shadow-top;

  &__streams {
    display: flex;
    flex-direction: row;

    @media @mobile {
      flex-wrap: wrap;
    }
  }

  &__streams-box {
    margin-top: auto;
    padding-top: 10px;
  }
}
