/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.changelog-change {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

  padding: 5px 0;

  @media @mobile {
    flex-direction: column;
  }

  & + & {
    border-top: 1px solid #eee;
  }

  &__icon {
    font-size: 18px;
    width: 18px;
    margin-right: 12px;
    flex: none;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media @desktop {
      width: 150px;
      min-width: 150px;
      margin-right: 10px;
    }

    @media @mobile {
      margin-bottom: 5px;
    }
  }

  &__right {
    font-size: @font-size--normal-2;
    text-align: justify;

    @media @mobile {
      text-align: center;
    }

    &--major {
      font-size: 16px;
      color: @purple-dark;
    }
  }

  &__username {
    font-size: @font-size--title-small;
    font-style: italic;
    font-weight: 700;
  }
}
