/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.chart {
  @_top: chart;
  @_marker-radius: 6px;

  height: 250px;

  &__axis {
    font-family: inherit;
    font-size: inherit;
  }

  &__hover-area {
    fill: none;
    pointer-events: all;
  }

  &__line {
    fill: none;
    stroke: @pink-darker;
    stroke-width: 3px;
  }

  &__tick-gradient {
    &--end {
      stop-color: #ccc;
    }

    &--start {
      stop-color: #fff;
    }
  }

  &__tick-line {
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;

    &--default {
      stroke: #ccc;
    }
  }

  &__tick-text {
    fill: @text-color;
    font-size: 12px;

    &--strong {
      font-weight: 700;
    }
  }

  &__tooltip {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 0;

    margin-bottom: (-@_marker-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;

    &::before {
      .circle(@_marker-radius * 2);
      content: '';
      order: 1;
      background-color: #fff;
      border: 3px solid @pink-darker;
    }

    &::after {
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid @pink-darker;
    }
  }

  &__tooltip-content {
    .default-border-radius();
    flex: none;
    padding: 10px 20px;
    background-color: @pink-darker;
    color: #fff;
  }

  &__tooltip-text {
    text-align: center;
    white-space: nowrap;

    &--x {
      font-size: 10px;
    }

    &--y {
      font-weight: bold;
      font-size: 12px;
    }
  }
}
