/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.chart {
  @_top: ~"chart";

  height: 250px;

  &__hover-area {
    fill: none;
    pointer-events: all;
  }

  &__hover-mark {
    fill: @grey-f;
    stroke: @pink-darker;
    stroke-width: 3px;
    pointer-events: none;
  }

  &__line {
    fill: none;
    stroke: @pink-darker;
    stroke-width: 3px;
  }

  &__tick-gradient {
    &--end {
      stop-color: @grey-c;
    }

    &--start {
      stop-color: @grey-f;
    }
  }

  &__tick-line {
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;

    &--default {
      stroke: @grey-c;
    }
  }

  &__tick-text {
    fill: @text-color;
    font-size: 12px;

    &--strong {
      font-weight: 700;
    }
  }

  &__tooltip {
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 0;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;
  }

  &__tooltip-container {
    .default-border-radius();
    flex: none;
    padding: @spacing (@spacing * 2);
    background-color: @pink-darker;
    color: @grey-f;
    margin-bottom: (@spacing * 2);

    &::before {
      content: ' ';
      position: absolute;
      left: calc(50% ~'-' (@spacing / 2));
      top: 100%;
      border-left: (@spacing / 2) solid transparent;
      border-right: (@spacing / 2) solid transparent;
      border-top: @spacing solid @pink-darker;
    }
  }

  &__tooltip-text {
    text-align: center;

    &--x {
      font-size: 10px;
    }

    &--y {
      font-weight: bold;
      font-size: 12px;
    }
  }
}
