/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.chat-input {
  padding: 10px 50px;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: right;

  background: linear-gradient(to bottom, fade(@community-blue-dark, 0%), fade(@community-blue-dark, 95%) 40%, fade(@community-blue-dark, 95%) 100%);
  width: calc(100% ~'-' 10px); // this prevents the gradient drawing over the browser's scroll-bar
  height: 160px;

  @media @mobile {
    position: fixed;
    font-size: 16px;
    padding: 10px;
    height: 70px;
    align-items: center;
    display: flex;
  }

  &__box {
    .reset-input();
    .default-border-radius();
    .default-box-shadow();
    width: 100%;
    background: @community-blue-darkest;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 50px;

    &--disabled {
      opacity: 0.8;
    }

    @media @mobile {
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 10px;
    }
  }
}
