/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.comment-show-more {
  @_top: comment-show-more;

  display: block;
  font-size: @font-size--normal;

  &--top {
    .default-gutter();
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__link {
    .reset-input();
    .link-default();
    .link-hover({
      text-decoration: underline;
    });

    .@{_top}--changelog & {
      .link-blue-light();
    }
  }
}
