/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

@base-size: 256px;

.contest-art-list {
  &__panel {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    &--top3 {
      align-items: baseline;
    }
  }

  &__entry {
    margin: 10px;
    width: @base-size;
    height: @base-size;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: top;
    transform: translateZ(0);

    &--landscape {
      width: @base-size;
      height: @base-size/(16/9);

      &--placed-2 {
        width: @base-size * 0.75;
        height: (@base-size/(16/9)) * 0.75;
      }

      &--placed-3 {
        width: @base-size * 0.5;
        height: (@base-size/(16/9)) * 0.5;
      }

      &--smaller {
        width: @base-size * 0.5;
        height: (@base-size/(16/9)) * 0.5;
      }
    }

    &--selected {
        border: 4px solid #ffa500;
    }

    &--result {
      margin-bottom: 48px;
    }

    &--placed {
      margin-bottom: 68px;
    }

    &--placed-2 {
      width: @base-size * 0.75;
      height: @base-size * 0.75;
    }

    &--placed-3 {
      width: @base-size * 0.5;
      height: @base-size * 0.5;
    }

    &--smaller {
      width: @base-size * 0.5;
      height: @base-size * 0.5;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__result {
    margin-top: 5px;
    text-align: center;
  }

  &__result-place {
    &--top-three {
      font-size: 20px;
    }
  }

  &__result-votes {
    font-size: 10px;
    color: #8dacb6;
    &--percentage {
      font-size: 10px;
      color: #60757b;
    }
  }

  &__trophy {
    &--1 {
      color: gold;
    }
    &--2 {
      color: silver;
    }
    &--3 {
      color: chocolate;
    }
  }
}
