/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.contest {
  @_top: contest;
  background-color: #1A2223;
  color: white;
  padding-left: @spacing * 2;
  padding-right: @spacing * 2;
  padding-bottom: @spacing * 2;

  &__description {
    background-color: #293336;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
    .default-box-shadow();

    > h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    a {
      color: #93b8c4;
    }
  }

  &__countdown-timer {
    background: #293336;
    padding-bottom: @spacing * 2;
    margin-top: -@spacing;
  }

  &__voting-notice {
    background-color: #1A2223;
    color: white;
    padding-top: @spacing * 2;
    text-align: center;
    &--padding {
      padding-bottom: @spacing * 2;
    }
  }

  &__accordion {
    background: #1A2223;
    padding: @spacing * 2;
  }

  &__group {
    margin: @spacing auto;
    max-width: 600px;
    background: #161a1b;
    border: none;
    .default-box-shadow();
  }

  &__group-heading {
    display: flex;
    justify-content: space-between;
    padding: @spacing;

    color: white;
    &:hover, &:visited, &:link, &:active {
      color: white;
      text-decoration: none;
    }
  }

  &__section-toggle {
    transition: all 300ms;
    transform: rotateZ(0deg);
    .@{_top}__group-heading[aria-expanded='true'] & {
      transform: rotateZ(180deg);
    }
  }

  &__buttons {
    text-align: center;
    padding: 20px 0px;
  }

  &__vote-summary {
    &--art {
      font-size: 10px;
      padding-top: 10px;
      margin-bottom: 5px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__vote-summary-text {
    float: right;
    text-transform: uppercase;
    color: #8dacb6;
    font-weight: bold;
    height: 16px;
    display: flex;
    align-items: center;
    width: 32px;
    &--art {
      width: inherit;
      margin-right: 10px
    }
  }

  &__vote-link-banner {
    width: 32px;
    height: 32px;
    border-style: solid;
    border-width: 0 0 64px 64px;
    margin-top: -64px;
    float: right;
    border-color: transparent transparent white transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--smaller {
      width: 16px;
      height: 16px;
      border-width: 0 0 32px 32px;
      margin-top: -32px;
      font-size: 10px;
    }
    &--selected {
      border-color: transparent transparent #ffa500 transparent;
    }
  }

  &__vote-star--fixed {
    width: 16px;
    background-color: #1a2223;
  }

  &__vote-count {
    width: 110px;
    text-align: right;
    background-color: #1a2223;
  }

  &__voting-star {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: smaller;
    color: rgba(1, 1, 1, 0.5);

    &:hover, &:focus {
      color: rgba(1, 1, 1, 0.75);
      font-size: inherit;
      text-decoration: none;
    }

    &--spin {
      animation: spin-w-easing 1s ease-in-out infinite;
    }

    &--art {
      margin-top: 90px;
      margin-left: -35px;
    }
    &--art-smaller {
      margin-top: 42px;
      margin-left: -19px;
    }

    &--selected {
      font-size: inherit;
      color: #ffa500;
      &:hover, &:focus {
        color: rgba(255, 165, 0, 0.75);
      }
    }

    &--selected-art, &--selected-art-smaller {
      font-size: inherit;
      color: white;
      &:hover, &:focus {
        color: rgba(255, 255, 255, 0.50);
      }
    }

    &--smaller {
      width: 16px;
      height: 16px;
    }

    &--float-right {
      float: right;
    }
  }
}
