/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.detail-row {
  @top: detail-row;
  @activated-row: detail-row--menu-active;
  @passive-row: detail-row--highlightable;
  @content-spill: 10px;
  @handle: 16px;

  display: flex;
  align-items: center;

  @media @desktop {
    margin-right: -(@content-spill + @handle);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 2px 0;

    &::before {
      .default-box-shadow();
      .full-size();

      content: '';
      margin: 0 -@content-spill;
      width: calc(100% ~'+' @content-spill * 2);
      pointer-events: none;
      background-color: #eee;

      will-change: opacity;
      transition: all 25ms ease-out;
      opacity: 0;

      // normal behaviour; highlights on hover.
      .@{passive-row}:hover & {
        opacity: 1;
        transition: all 50ms ease-out;

        // when menu is active, only the active row is highlighted.
        .play-detail-list--menu-active & {
          opacity: 0;
        }
      }

      // when menu is active; always highlighted.
      .@{activated-row} & {
        opacity: 1;
        transition: all 50ms ease-out;

        .play-detail-list--menu-active & {
          opacity: 1;
        }
      }
    }
  }

  &__more {
    display: none;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    opacity: 0;
    margin-left: @content-spill;
    width: @handle; // fixed width for less mind-bendingness

    @media @desktop {
      display: inline-flex;
    }

    // normal behaviour; highlights on hover.
    .@{passive-row}:hover & {
      opacity: 1;

      // when menu is active, only the active row is highlighted.
      .play-detail-list--menu-active & {
        opacity: 0;
      }
    }

    // when menu is active; always highlighted.
    .@{activated-row} & {
      opacity: 1;

      .play-detail-list--menu-active & {
        opacity: 1;
      }
    }
  }

  &__detail {
    flex: 1;
    display: flex;
    align-items: center;

    &--vertical {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__detail-column {
    flex: none;

    &--full {
      min-width: 0;
      flex: 1;
    }

    &--more {
      display: flex;
      align-self: stretch;
    }

    &--score-data {
      display: flex;
      flex-direction: column;

      @media @desktop {
        align-items: center;
        flex-direction: row;
      }
    }
  }

  &__detail-row {
    display: flex;

    &--main {
      min-height: 22px;
      align-items: flex-end;
    }

    &--bottom {
      min-height: @detail-row--bottom-min-height;
      align-items: flex-start;
    }
  }

  &__score-data {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

    &--main {
      min-width: 150px;
      order: 2;
      @media @mobile {
        min-width: 100px;
      }
    }

    &--mods {
      order: 3;
      @media @desktop {
        order: 1;
      }
    }
  }

  &__score-details {
    text-align: right;
    margin-top: @detail-row--score-details-gap;
    min-height: @detail-row--bottom-min-height - @detail-row--score-details-gap;
  }

  &__text-score {
    font-style: italic;
    font-size: 11px;

    &--title {
      font-size: 15px;
      font-weight: 600;
    }

    &--artist {
      font-size: 12px;
      font-weight: 500;
    }

    &--pp {
      font-size: 18px;
      font-weight: bold;
      color: @pink-darker;
    }

    &--time {
      font-style: normal;
    }
  }

  &__icon {
    flex: none;
    width: @rank-width;
    align-self: stretch;
    margin-right: 10px;
  }
}
