.faq-search {
  //margin-top: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
  width: 100%;
  @media @desktop {
    width: 90%;
  }
  &__input {
    width: 100%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2.5rem;
    font-style: italic;
    border: none;
  }
  &__search-icon {
    position: absolute;
    right: 15px;
    color: #dc63a5;
    top: 20px;
    font-size: 2.5rem;
  }
}

