/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.footer {
  @top: footer;

  .default-text-shadow();
  background-color: fade(#000, 60%);
  background-image: linear-gradient(to bottom, fade(#000, 60%) 0, transparent 4px);

  color: #ccc;
  font-size: 10px;

  display: flex;
  flex-direction: column;
  flex: none;

  padding: 10px 0 5px;

  &--landing {
    background: transparent;
    color: #fff;
    font-style: italic;
    font-size: @font-size--normal;
    font-weight: 600;
    padding: 20px 0;
  }

  &__row {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }

  &__link {
    .link-plain();
    font-weight: bold;
    color: #fff;
    margin: 0 10px;

    &:hover, &:focus, &:active {
      color: @pink;
    }

    .@{top}--landing & {
      font-weight: inherit;
    }
  }

  .osu-layout--mobile-app & {
    @media @mobile {
      display: none;
    }
  }
}
