/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.forum-topic-title {
  // actual font takes more than the 1.1 default line height.
  line-height: 1.5;

  &__button {
    margin-left: 5px;
    display: flex;
    pointer-events: auto;
  }

  &__buttons {
    padding-left: 20px;
    display: flex;
  }

  &__buttons-container {
    .full-size();
    display: flex;
    align-items: center;
    pointer-events: none;
  }

  &__buttons-padding {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__input {
    .reset-input();
    flex: 1;
    // Overrides browser default. Actual width handled by flex.
    width: 0;
  }

  &__title {
    .link-white();
    .link-plain();
    margin-right: 10px;

    /* force line-breaking and hide overflow */
    word-break: break-all;
    max-height: 180px;
    overflow: hidden;

    /* magic line-clamping on webkit browsers (safari, chrome, etc) */
    /* (other browsers won't show ellipses) */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
