/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.forum-topic-headernav {
  @_main-height: 60px;
  width: 100%;
  position: fixed;
  z-index: @z-index--forum-topic-headernav;
  backface-visibility: hidden;
  color: @gray-f;
  transition: opacity 120ms linear;
  top: 0;
  left: 0;

  &__breadcrumb {
    .default-border-radius;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;

    // Less padding top because the font used has too much space
    // on the upper side
    padding: 2.5px 2.5px 5px;
  }

  &__breadcrumb-item {
    display: flex;
    font-size: 12px;
    line-height: 1;

    margin: 0 2.5px;

    &::after {
      content: '»';
      margin-left: 5px;
    }
  }

  &__content {
    background-color: @gray-3;
    display: flex;
    width: 100%;
    max-width: @container-sm;
    min-height: @_main-height;
  }

  &__logo {
    width: @_main-height;
    background-color: @gray-2;
  }

  &__title {
    font-size: 15px;
    font-style: normal;
    flex: none;
    margin-bottom: 0;

    & + & {
      margin-top: 5px;
    }
  }

  &__titles {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  &__stripe {
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
