/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.forum-poll {
  @_top: forum-poll;

  .default-box-shadow();
  background-color: #fff;

  margin-bottom: 5px;
  padding: 20px 30px 0;
  font-size: @font-size--normal;

  display: flex;
  flex-direction: column;

  @media @desktop {
    padding-left: 60px;
    padding-right: 60px;
  }

  &__row {
    margin: 0 0 20px;
    text-align: center;

    &--details {
      margin-bottom: (20px - 5px);
    }

    &--options {
      width: calc(100% ~'+' 10px);
      margin-left: -5px;
      margin-right: -5px;
      text-align: left;
      overflow-x: auto;
    }

    &--title {
      color: inherit;
      font-style: normal;
      font-size: @font-size--title-small;
    }
  }

  &__detail {
    font-weight: bold;
    margin: 0 0 5px;

    &--sub {
      font-size: @font-size--small;
      color: #777;
    }
  }
}
