/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.forum-post {
  @_reply-xs-top-margin: 4px;

  .default-box-shadow();
  background-color: #fff;

  margin-bottom: 5px;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media @desktop {
    flex-direction: row;
  }

  &--reply {
    backface-visibility: hidden;
    transition: opacity 120ms;
    box-shadow: none;
    width: 100%;
    margin-bottom: 0;
  }

  .js-forum-post--hidden & {
    opacity: 0.5;
  }

  &__actions {
    .desktop-position() {
      @media @desktop {
        justify-content: flex-start;
        width: 0;
        right: 0;
        top: 20px;

        opacity: 0;
        will-change: opacity;

        .forum-post:hover & {
          opacity: 1;
        }
      }
    }

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 120ms ease-in-out;

    right: 30px;
    bottom: 20px;
    .desktop-position();

    &--reply {
      top: (-@_reply-xs-top-margin);
      height: 0;
      .desktop-position();
    }
  }

  &__body {
    flex: none;
    @media @desktop {
      flex: 1 1 auto;
    }

    display: flex;
    flex-direction: column;

    // to prevent child from overflowing
    // reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1108514#c2
    min-width: 0;

    &--reply-form {
      flex: 1 1 auto;
    }
  }

  &__content {
    font-size: 12px;
    flex: none;

    padding: 20px 30px;

    &--edit-bar {
      background-color: @gray-lighter;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--edit-bar-create {
      background-color: #444;
    }

    &--edit-body {
      flex: 1 0 auto;
      display: flex;
    }

    &--footer {
      order: 2;
      font-weight: bold;
      color: #777;

      padding-top: 0;
      padding-bottom: 20px;
      @media @desktop {
        order: 0;
        padding-top: 20px;
      }
    }

    &--header {
      font-weight: bold;
      order: 1;

      padding-top: 0;

      @media @desktop {
        order: 0;
        padding-top: 20px;
        padding-bottom: 0;
      }
    }

    &--main {
      flex: 1 0 auto;
      order: 0;

      padding-top: 20px;
      padding-bottom: 20px;
    }

    &--poll-create {
      background-color: #555;
      color: #fff;
    }

    &--reply-tabs {
      background-color: @gray-lighter;
      display:flex;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--signature {
      background-color: #eee;

      padding-top: 20px;
      padding-bottom: 20px;

      .bbcode {
        max-height: 150px;
        overflow: hidden;
      }
    }
  }

  &__info-panel {
    flex: none;
    width: 180px;
    background-color: @user-color-default;
    display: flex;
    flex-direction: column;

    &--reply {
      background-color: transparent;
    }
  }

  &__info-panel-extra {
    background-color: fade(#fff, 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 10px;
    text-align: center;
  }

  &__info-panel-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, transparent, fade(#000, 20%));

    &::before {
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url("/images/backgrounds/button.svg");
      background-size: 300px;
      opacity: 0.5;
    }
  }

  &__info-panel-xs {
    .default-border-radius;
    background-color: @blue-darker;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
  }

  &__info-panel-xs-flag {
    margin-left: 5px;
  }

  &__info-panel-xs-main {
    flex: 1 0 auto;
  }

  &__info-panel-xs-title {
    font-size: 10px;
    color: #fff;
  }

  &__info-panel-xs-name {
    font-size: 14px;
    display: flex;
  }

  &__info-row {
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
    color: #555;
    margin-bottom: 5px;

    &--user-title {
      color: #333;
    }
  }

  &__reply-body {
    .default-box-shadow();
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__reply-container {
    background-color: fade(#333, 90%);
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-top: @_reply-xs-top-margin;

    @media @desktop {
      padding-top: 10px;
    }
  }

  &__reply-content {
    display: flex;
    height: 100%;
  }

  &__reply-stick {
    flex: 1 0 auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }

  &__stripe {
    position: absolute;
    height: 100%;
    right: 100%;
    top: 0;
    width: 10px;

    display: none;

    @media @desktop {
      display: block;
    }
  }

  &__username {
    .default-text-shadow();
    display: block;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
      width: auto;
      overflow: visible;
    }

    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
    }
  }
}
