/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.forum-header-breadcrumb {
  .default-border-radius;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 12px;
  color: @grey-f;

  // Less padding top because the font used has too much space
  // on the upper side
  padding: (@spacing / 4) (@spacing / 4) (@spacing / 2);

  &--large {
    font-size: 15px;
    padding: @spacing;
  }

  &__item {
    display: flex;
    line-height: 1;

    margin: 0 (@spacing / 4);

    &::after {
      content: '»';
      margin-left: (@spacing / 2);
    }
  }
}
