/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.forum-topic-nav {
  @_top: forum-topic-nav;

  @_content-height: 30px;
  @_main-height: (@_content-height + 20px);
  @_seek-bar-height: 10px;
  @_seek-bar-height-desktop: 5px;
  @_seek-bar-height-desktop-hover: 15px;
  @_seek-tooltip-arrow-height: 10px;
  width: 100%;
  background-image: linear-gradient(to top, @gray-dark @_main-height, transparent @_main-height);

  height: @_main-height;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: @_main-height;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__counter {
    // enough for 5 digits
    width: 40px;
    @media @desktop {
      width: 50px;
    }

    &--input {
      .reset-input();
      color: #fff;
      display: none;

      border: 0;
    }

    &--left {
      text-align: right;
    }

    &--middle {
      width: auto;
      text-align: center;
      margin: 0 10px;
    }
  }

  &__counter-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &__group {
    display: flex;
    flex: 1;

    &--main {
      flex: none;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__item {
    .reset-input();
    .default-border-radius();
    .center-content();
    color: #fff;
    margin: 0 5px;
    border: 2px solid transparent;

    font-size: 12px;
    @media @desktop {
      font-size: 16px;
    }

    ._button-hover() {
      background-color: #111;
      color: #fff;
      text-decoration: none;
    }

    &--button {
      width: @_content-height;
      height: @_content-height;
      display: inline-block;

      &:focus,
      &:hover,
      &:active {
        ._button-hover;
      }
    }

    &--counter {
      ._button-hover;
    }

    &--main {
      margin: 0 2.5px;
      @media @desktop {
        margin: 0 10px;
      }
    }

    &--focus {
      border-color: @yellow-darker;
    }
  }

  &__item-content {
    .center-content();
    width: 100%;
    height: 100%;
  }

  &__seek-bar {
    position: absolute;
    left: 0;
    bottom: 100%;
    transition: width 500ms ease-out, height 120ms ease-out;
    cursor: pointer;
    backface-visibility: hidden;

    height: @_seek-bar-height;

    @media @desktop {
      height: @_seek-bar-height-desktop;
    }

    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 100%;
      height: @_main-height;
      width: 100%;
      background-color: @gray-darker;
    }

    // easier targeting
    &::after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 100%;
      height: 10px;
      width: 100%;
      background-color: transparent;
    }

    .@{_top}:hover & {
      @media @desktop {
        height: @_seek-bar-height-desktop-hover;
      }
    }

    &--all {
      width: 100%;
      opacity: 0.5;

      @media @desktop {
        opacity: 0.01;
      }

      &::before {
        @media @desktop {
          display: none;
        }
      }

      .@{_top}:hover & {
        opacity: 0.5;
      }
    }
  }

  &__seek-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: @_main-height;
  }


  &__seek-tooltip {
    position: absolute;
    bottom: (@_main-height + @_seek-bar-height-desktop-hover + @_seek-tooltip-arrow-height);

    display: flex;
    width: 0;
    justify-content: center;
    will-change: opacity, transform;
  }

  &__seek-tooltip-number {
    .default-border-radius();
    background-color: @gray-dark;
    padding: 5px 20px;
    color: #fff;
    flex: none;

    &::before {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;

      border-width: @_seek-tooltip-arrow-height 8px 0 8px;
      border-style: solid;
      border-color: transparent;
      border-top-color: @gray-dark;
    }
  }
}
