/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.forum-topics-spacer {
  display: flex;
  align-items: center;
  margin: 30px 40px;

  @media @mobile {
    // so the pager doesn't get squashed.
    // some reordering magic will probably be required if a right side button gets added.
    flex-direction: column;
  }

  &--pager {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 4em; // don't look too silly if there's no pager.
  }

  &__buttons {
    min-width: 150px;

    @media @mobile {
      width: 100%;
    }

    // needs to:
    // - expand to fit text.
    // - not affect pager layout.
    // - be the same width in blocks with no pager.
    // - not expand to fill up space.
    // - have minimum width.
    // won't work if text is way too long.
    .forum-topics-spacer--pager & {
      position: absolute;
      z-index: 1;

      @media @mobile {
        position: relative;
      }
    }
  }

  &__pager {
    width: 100%;
  }
}
