/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.header-v3 {
  @_top: header-v3;
  @_background-side-overflow: 200px;
  @_background-color: #222;

  width: 100%;
  margin-bottom: -20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;

  @media @desktop {
    min-height: @nav2-header-image-height;
  }

  &__bg {
    .full-size();
    background-color: @_background-color;
    background-position: center;
    background-size: (@container-sm + @_background-side-overflow * 2) auto;
    background-repeat: no-repeat;
    z-index: @z-index--header-bg;

    .@{_top}--changelog & {
      .at2x-simple('/images/headers/changelog.jpg');
    }

    .@{_top}--chat & {
      .at2x-simple('/images/headers/chat.jpg');
    }
  }

  &__overlay {
    // side overflow
    .full-size();
    z-index: @z-index--header-bg;
    background-position: center;
    background-size: (@container-sm + @_background-side-overflow * 2) 100%;
    background-image: linear-gradient(to right,
      @_background-color,
      fade(@_background-color, 50%) (@_background-side-overflow / 4),
      fade(@_background-color, 25%) (@_background-side-overflow / 2),
      transparent @_background-side-overflow,
      transparent (@container-sm + @_background-side-overflow),
      fade(@_background-color, 25%) (@container-sm + @_background-side-overflow + @_background-side-overflow / 2),
      fade(@_background-color, 50%) (@container-sm + @_background-side-overflow + @_background-side-overflow * 3 / 4),
      @_background-color);

    // top to bottom overlay
    &::before {
      content: '';
      .full-size();
      background-image: linear-gradient(to bottom, @_background-color, transparent);
    }
  }
}
