/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

 .landing-download {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 180px;
    right: 50px;
    display: table;

    &__inner {
        display: table-cell;
        vertical-align: middle;
    }

    &__button {
        color: @grey-f;
        width: 180px;
        background: url("/images/layout/landing-page/download-button.jpg") no-repeat center center / cover;
        border-radius: 2px;
        display: block;
        padding: 7px 0 10px;
        margin-bottom: 13px;
        .clearfix;
        transition: all 80ms linear;

        &:hover,
        &:focus {
            color: @grey-f;
        }
    }

    &__icon {
        float: left;
        display: block;
        margin: 0 20px 0 10px;
        width: 30px;
        height: 30px;


        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            border: 2px solid @grey-f;
            border-radius: 100%;
            padding: 5px;
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        }
    }

    &__content-wrapper {
        display: block;
        float: left;
        font-weight: 600;
        font-style: italic;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__content {
        &--top {
            font-size: 15px;
        }

        &--bottom {
            font-size: 9px;
            display: block;
        }
    }

    &__other {
        display: block;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        font-style: italic;
        color: @grey-f;

        &:hover,
        &:focus {
            color: @grey-f;
        }
    }
}
