.livestream-featured {
  position: relative;
  margin-bottom: 15px !important;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &__header {
    color: #fff;
    padding-top: 10px;
    padding-left: 40px;
  }
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 60%, rgba(0,0,0,1));
  }
  &__container a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
  }
  &__info {
    & * {
      .default-text-shadow;
      color: white;
    }
    font-size: 22px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  &__name {
    font-size: 44px;
    margin-bottom: 15px;
    font-style: italic;
  }
  &:hover &__actions {
    opacity: 1;
  }
  &__actions {
    color: white;
    z-index: 9000;
    @padding-offset: 9px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 120ms ease-in-out;

    right: 15px + @padding-offset;
    bottom: 15px;
    @media @desktop {
      justify-content: flex-start;
      width: 0;
      right: @padding-offset;
      bottom: 40px;

      opacity: 0;
      will-change: opacity;
    }
  }
}
