/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.logo-menu {
  @_menu-colour: #333;
  @_menu-colour-hover: #222;
  @_menu-text-colour: #fff;
  @_stripe-width: 5px;
  width: 100%;
  height: 100%;
  position: absolute;

  &__logo {
    width: 100%;
    height: 100%;
    background-image: url('/images/layout/osu-logo-white.svg');
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__logo-container {
    width: 100%;
    height: 100%;
    display: block;

    &.js-menu--active,
    &:focus,
    &:hover,
    &:active {
      .logo-menu__logo-hover-bg {
        opacity: 1;
      }
    }
  }

  &__logo-hover-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__menu {
    list-style: none;
    flex-direction: column;
    position: absolute;
    padding: 0;
    display: flex;
    background-color: @_menu-colour;

    &--main {
      top: 100%;
      left: 0;
    }

    &--sub {
      top: 0;
      left: 100%;
    }
  }

  &__menu-item {
    &--separator {
      height: 10px;
    }
  }

  &__menu-link {
    color: @_menu-text-colour;
    display: flex;

    &.js-menu--active,
    &:focus,
    &:hover,
    &:active {
      background-image: linear-gradient(to right, transparent @_stripe-width, @_menu-colour-hover @_stripe-width);
      color: @_menu-text-colour;
      text-decoration: none;

      .logo-menu__menu-stripe {
        opacity: 1;
      }
    }
  }

  &__menu-link-icon {
    padding-left: 20px;
  }

  &__menu-stripe {
    width: @_stripe-width;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &--hover {
      opacity: 0;
    }
  }

  &__menu-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 5px 10px 5px 20px;
    font-size: 15px;
    white-space: nowrap;

    &--sub {
      padding-right: 20px;
    }
  }

  &__user {
    display: flex;
    background-size: cover;

    &--full {
      &:focus,
      &:hover,
      &:active {
        background-color: @_menu-colour-hover;
        text-decoration: none;
        color: @_menu-text-colour;
      }
    }
  }

  &__user-slice {
    .reset-input();
    padding: 10px;
    color: @_menu-text-colour;

    &:focus,
    &:hover,
    &:active {
      background-color: @_menu-colour-hover;
      text-decoration: none;
      color: @_menu-text-colour;
    }

    &--avatar {
      @_avatar-size: 40px;
      padding: 10px;
      // includes padding*2
      width: (20px + @_avatar-size);
      height: (20px + @_avatar-size);
    }

    &--bg {
      background-color: fade(#000, 50%);
    }

    &--session {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}
