/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.mods {
  @_mod-width-small: 25px;
  @_mod-height-small: 18px;
  @_width-small: (@_mod-width-small * 3);


  @_mod-width: 30px;
  @_mod-height: 22px;
  @_width: (@_mod-width * 3);

  width: @_width;
  min-width: @_width;
  max-width: @_width;

  display: flex;
  justify-content: space-between;
  padding: 0 (@_mod-width / 2);

  &--small {
    width: @_width-small;
    min-width: @_width-small;
    max-width: @_width-small;

    padding: 0 (@_mod-width-small / 2);
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  &__mod {
    width: 0;
    display: flex;
    justify-content: center;
  }

  &__mod-image {
    flex: none;
    width: @_mod-width;
    height: @_mod-height;

    &--small {
      width: @_mod-width-small;
      height: @_mod-height-small;
    }
  }
}
