/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.mods {
  @top: mods;

  @mod-height-small: 18px;
  @mod-width-small: (@mod-height-small / @mod-height * @mod-width);

  @mod-height-normal: 22px;
  @mod-width-normal: (@mod-height-normal / @mod-height * @mod-width);

  flex: none;
  width: (@mod-width-normal * 3);
  height: @mod-height-normal;
  padding: 0 (@mod-width-normal / 2);

  display: flex;
  justify-content: space-around;

  &--scoreboard {
    width: auto;
    height: @mod-height-small;
    padding: 0px;
    justify-content: flex-start;
  }

  &--small {
    width: (@mod-width-small * 3);
    height: @mod-height-small;
    padding: 0 (@mod-width-small / 2);
  }

  &--large {
    width: (@mod-width * 3);
    height: @mod-height;
    padding: 0 (@mod-width / 2);
  }

  &--reversed {
    flex-direction: row-reverse;

    @media @mobile {
      flex-direction: row;

      &:empty {
        display: none;
      }
    }
  }

  &__mod {
    width: 0;
    display: flex;
    justify-content: center;

    .@{top}--scoreboard & {
      width: auto;
      margin-right: 1px;
    }
  }

  &__mod-image {
    min-width: @mod-width-normal;

    .@{top}--scoreboard & {
      min-width: 25px;
    }

    .@{top}--small & {
      min-width: @mod-width-small;
    }

    .@{top}--large & {
      min-width: @mod-width;
    }
  }
}
