/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.mp-history-game {
  width: 100%;
  .default-border-radius;

  margin-bottom: 20px;

  &__header {
    display: block;

    width: 100%;
    height: 100px;
    .at2x-simple('/images/layout/beatmaps/default-bg.png');

    background-position: center;
    background-size: cover;

    border-radius: @border-radius-base @border-radius-base 0 0;

    @media @desktop {
      height: 150px;
    }
  }

  &__header-overlay {
    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0.5;

    border-radius: @border-radius-base @border-radius-base 0 0;
  }

  &__stats-box {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 10px;
    top: 10px;

    @media @desktop {
      flex-direction: row;
    }
  }

  &__stat {
    .default-text-shadow();

    font-size: @font-size--small;
    font-style: italic;

    padding-right: 15px;

    color: #fff;

    @media @desktop {
      font-size: @font-size--title-small;
    }
  }

  &__metadata-box {
    width: ~"calc(100% - 70px)";
    position: absolute;
    left: 10px;
    bottom: 10px;

    @media @desktop {
      width: auto;
    }
  }

  &__metadata {
    font-style: italic;
    color: #ffffff;
    .default-text-shadow;

    margin: 0;

    &--title {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: normal;

      @media @desktop {
        font-size: 20px;
      }
    }

    &--artist {
      font-size: 14px;
    }
  }

  &__mods-box {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__team-type {
    position: absolute;

    right: 10px;
    bottom: 10px;

    width: 40px;
    height: 40px;

    background-size: contain;
  }

  &__player-scores {
    padding: 10px;
    background-color: #eee;

    &--no-teams {
      border-radius: 0 0 @border-radius-base @border-radius-base;
    }
  }

  &__player-score {
    width: 100%;
    height: 125px;

    background-color: #ffffff;

    margin-bottom: 5px;

    .default-border-radius();
    .default-box-shadow();

    @media @desktop {
      height: auto;
    }
  }

  &__team-scores {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: #eee;

    @media @desktop {
      justify-content: space-between;
      height: 90px;
    }

    border-radius: 0 0 @border-radius-base @border-radius-base;
  }

  &__team-score {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    padding: 20px;


    @media @desktop {
      width: unset;
      &--blue {
        align-items: flex-start;
      }

      &--red {
        align-items: flex-end;
      }
    }
  }

  &__team-score-text {
    text-align: center;
    @media @desktop {
      text-align: left;
    }

    &--name {
      font-size: 15px;
      font-weight: 600;
    }

    &--score {
      font-size: 26px;
      font-style: italic;
      color: @pink-text;

      @media @desktop {
        font-size: 30px;
      }
    }
  }

  &__results {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ddd;

    min-height: 45px;
    padding: 0 20px;

    border-radius: 0 0 @border-radius-base @border-radius-base;
  }

  &__results-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;

    text-align: center;

    padding-right: 5px;

    @media @desktop {
      font-size: 20px;
    }

    &--score {
      font-weight: 400;
      padding: 0;
    }
  }
}
