/**
 *    Copyright 2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.mp-history-player-score {
  @width: 1000px;

  display: flex;

  &__shapes {
    flex: none;
    width: 40px;
    background-size: cover;

    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  &__main {
    flex-grow: 1;

    padding-top: @spacing * 0.5;
    padding-right: @spacing * 2;
    padding-left: @spacing * 1.5;
    padding-bottom: @spacing * 0.75;

    display: flex;
    justify-content: space-between;
  }

  &__info-box {
    display: flex;
    flex-direction: column;

    height: 100%;

    &--user {
      align-items: flex-start;
    }

    &--stats {
      align-items: flex-end;
    }
  }

  &__username-box {
    display: flex;
    align-items: baseline;

    padding-bottom: @spacing * 0.5;
  }

  &__username {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    color: @blue-text;

    padding-right: @spacing * 2;
  }

  &__stat-row {
    &--first {
      @media (min-width: @width) {
        width: 530px;
      }
    }

    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  &__failed {
    font-size: 15px;
    color: @red;
    font-weight: 700;

    padding-right: @spacing * 2;

    display: none;

    @media (min-width: @width) {
      display: initial;
    }
  }

  &__mods-box {
    padding-right: @spacing * 2;

    display: none;

    @media (min-width: @width) {
      display: initial;
    }
  }

  &__stat {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    padding-right: @spacing * 4;

    &--small {
      padding-right: @spacing * 2;
    }

    &--combo {
      margin-right: auto;
    }

    &:last-child {
      padding: 0;
    }
  }

  &__stat-label {
    font-style: italic;
    font-weight: 600;

    padding-right: 3px;

    &--small {
      color: @gray-5;
      font-size: 10px;
    }

    &--large {
      color: @gray-9;
      font-size: 12px;
    }
  }

  &__stat-number {
    font-style: italic;
    font-weight: 700;
    color: @purple-dark;

    &--small {
      font-size: 12px;
    }

    &--medium {
      font-size: 14px;
    }

    &--large {
      font-size: 25px;
      color: @pink-darker;
    }
  }
}
