/**
 *    Copyright 2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.nav-popup-box {
  @_top: nav-popup-box;
  position: absolute;
  overflow: hidden;
  width: 100%;
  pointer-events: none;

  &__content {
    pointer-events: auto;
    will-change: transform;

    .@{_top}.js-nav-switch--animated & {
      transition-duration: 120ms;
    }

    .@{_top}--extra & {
      transform: translateX(100%);
    }

    .@{_top}--extra.js-nav-switch--active & {
      transform: translateX(0%);
    }
  }

  &__slide-y {
    transform: translateY(-100%);
    transition-duration: 120ms;

    &:hover,
    .@{_top}.js-nav-switch--visible & {
      transform: translateY(0%);
    }
  }
}
