/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.nav-search-result {
  @top: nav-search-result;
  @horizontal-results-gutter: 2px;

  display: flex;
  flex-direction: column;
  padding: 20px @nav-search-icon-width 20px 0;

  &__count {
    font-style: inherit;
    font-weight: bold;
  }

  &__more {
    color: #999;
    font-size: @font-size--small;
    font-style: italic;
    margin-bottom: 20px;

    .link-hover({
      color: #bbb;
    });
  }

  &__result {
    .@{top}__results--horizontal & {
      margin: 0 @horizontal-results-gutter;
    }
  }

  &__results {
    display: flex;
    flex-direction: column;

    &--horizontal {
      flex-direction: row;
      justify-content: flex-end;
      margin: 0 (-@horizontal-results-gutter);
    }
  }

  &__results-container {
    width: 100%;
    text-align: right;
    margin: 5px 0;
  }

  &__title {
    font-size: @font-size--small;
    color: @yellow;
    padding-left: 10px;
    margin-left: @nav-search-icon-width;

    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    border-left: 2px solid #555;

    .@{top}__results-container:hover & {
      border-left-color: #ccc;
    }

    .@{top}__results--horizontal & {
      // account for gutter
      margin-left: calc(@nav-search-icon-width - @horizontal-results-gutter);
    }
  }
}
