/**
 *    Copyright 2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.nav-popup {
  @_top: nav-popup;

  width: 100%;
  min-height: @height--nav-popup;
  background-color: @grey-2;
  background-size: cover;
  display: flex;

  @media @desktop {
    padding-left: @padding-big;
  }

  &--dim {
    &::before {
      display: block;
      .full-size();
      background-color: fade(@grey-0, 75%);
    }
  }

  &--sections {
    color: @grey-9;
    justify-content: flex-end;

    flex-direction: column;
    @media @desktop {
      flex-direction: row;
    }
  }

  &__action {
    margin: 0 (@spacing / 2);
  }

  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__flags {
    margin: @spacing (-@spacing / 2) (@spacing * 2);
  }

  &__flag {
    .default-border-radius();
    .default-box-shadow();
    height: (@spacing * 2);
    margin: 0 (@spacing / 2);
  }

  &__form-input {
    .default-border-radius();
    border: none;
    outline: none;
    background-color: @grey-2;
    padding: @spacing (@spacing / 2);

    margin: (@spacing / 2);

    @media @desktop {
      width: calc(100% ~'-' @spacing);
      margin: 0 (@spacing / 2);
    }

    &::placeholder {
      color: @grey-7;
    }
  }

  &__link {
    color: @yellow;
    font-size: @font-size--nav-popup-link;
    margin: (@spacing / 4) 0;
    display: block;

    &:focus,
    &:hover {
      text-decoration: none;
      color: @grey-f;
    }
  }

  &__link-marker {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: @spacing;
    color: @grey-5;
    opacity: 0;

    .@{_top}__link:focus &,
    .@{_top}__link:hover & {
      opacity: 1;
    }
  }

  &__menu-head {
    color: @grey-9;
    display: flex;
    padding: (@spacing / 2) 0 @spacing;
    margin-right: (@spacing * 3);

    &--active,
    &.js-menu--active,
    &:focus,
    &:hover {
      color: @grey-f;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__menu-head-bar {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;

    .@{_top}__menu-head--active &,
    .@{_top}__menu-head.js-menu--active &,
    .@{_top}__menu-head:focus &,
    .@{_top}__menu-head:hover & {
      opacity: 1;
    }
  }

  &__row {
    flex: none;
    margin: 0 0 @spacing;
    display: flex;

    &--actions {
      justify-content: space-between;
      align-items: flex-end;
      white-space: nowrap;
    }

    &--error {
      color: @purple-light;
    }

    &--full {
      flex: 1;
    }

    &--title {
      color: @grey-f;
      font-size: @font-size--nav-popup-title;
      font-style: normal;
    }

    &--username {
      color: @grey-f;
      font-size: @font-size--nav-popup-title-large;
      font-style: italic;
      font-weight: 600;
    }

    &--with-gutter {
      margin-left: (-@spacing / 2);
      margin-right: (-@spacing / 2);
    }

    &--xs-vertical {
      @media @mobile {
        flex-direction: column;
      }
    }
  }

  &__section {
    padding: (@spacing * 2) (@spacing * 2) 0;
    display: flex;
    flex-direction: column;
    font-size: @font-size--nav-popup-section;
    flex: 1;

    &--login {
      background-color: @grey-3;

      @media @desktop {
        max-width: 380px;
      }
    }

    &--user {
      flex: none;
      padding-top: (@spacing * 4);
      padding-bottom: (@spacing * 3);
    }

    &--user-overview {
      min-width: 180px;

      background-color: fade(@grey-0, 50%);

      align-items: flex-end;
    }

    &--user-links {
      background-color: @grey-2;
      padding-left: (@spacing * 4);
    }

    &--register {
      background-color: @grey-4;

      @media @desktop {
        max-width: 240px;
      }
    }
  }

  &__submenu {
    position: absolute;
  }
}
