/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.nav-search-entry {
  @top: nav-search-entry;

  .link-plain();
  color: #ccc;
  font-size: @font-size--title-small-2;

  .link-hover({
    color: #eee;
  });

  &--extra {
    color: @blue-light;

    .link-hover({
      color: @blue-lighter;
    });
  }

  &__bullet {
    left: 100%;
    top: 0;
    position: absolute;
    width: @nav-search-icon-width;
    height: 100%;
    .center-content();

    &--hover {
      opacity: 0;
      font-size: 14px; // icon size

      .@{top}:hover & {
        opacity: 1;
      }

      .@{top}--beatmapset & {
        color: @purple-light;
      }

      .@{top}--extra & {
        color: @pink-light;
      }
    }

    &--normal {
      opacity: 1;

      &::before {
        content: ' ';
        height: calc(100% ~'-' 10px);
        width: 2px;

        .@{top}--beatmapset & {
          background-color: @purple-dark;
        }

        .@{top}--extra & {
          background-color: @pink-dark;
        }
      }

      .@{top}:hover & {
        opacity: 0;
      }
    }
  }
}
