/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * container of this component should have its own stacking context otherwise
 * fun things will happen
 */
.nav-popup {
  @_top: nav-popup;
  @_menu-spacing: 30px;

  width: 100%;
  background-color: #222;
  background-size: cover;
  display: flex;
  z-index: 0; // component top level z-index

  @media @desktop {
    padding-left: (@padding-big - (@_menu-spacing / 2));
    min-height: @height--nav-popup;
    transition: height 120ms;
  }

  &--main {
    background-color: fade(#222, 95%);
  }

  &--sections {
    color: #999;

    flex-direction: column;
    @media @desktop {
      flex-direction: row;
    }
  }

  &__action {
    margin: 0 5px;
  }

  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__flags {
    margin: 10px -5px 20px;
  }

  &__flag {
    .default-border-radius();
    .default-box-shadow();
    height: 20px;
    margin: 0 5px;
  }

  &__form-input {
    .default-border-radius();
    border: none;
    outline: none;
    background-color: #222;
    padding: 10px 5px;

    margin: 5px;
    font-size: @font-size--phone-input;

    @media @desktop {
      width: calc(100% ~'-' 10px);
      margin: 0 5px;
      font-size: inherit;
    }

    &::placeholder {
      color: #777;
    }
  }

  &__link {
    .reset-input();
    color: @yellow;
    font-size: @font-size--nav-popup-link;
    margin: 2.5px 0;
    display: flex;

    &:focus,
    &:hover {
      text-decoration: none;
      color: #fff;
    }

    .@{_top}__menu--locale & {
      color: @purple;

      &:focus,
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__link-marker {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 10px;
    color: #555;
    opacity: 0;

    .@{_top}__link:focus &,
    .@{_top}__link:hover & {
      opacity: 1;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
  }

  &__menu-head {
    color: #999;
    display: flex;
    padding: 5px (@_menu-spacing / 2) 10px;
    flex: none;

    &--active,
    &.js-menu--active,
    &:focus,
    &:hover {
      color: #fff;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &__menu-head-bar {
    position: absolute;
    top: 0;
    width: calc(100% ~'-' @_menu-spacing);
    transition-duration: 80ms;
    transform: translateY(-100%);

    .@{_top}__menu-head--active &,
    .@{_top}__menu-head.js-menu--active &,
    .@{_top}__menu-head:focus &,
    .@{_top}__menu-head:hover & {
      transform: translateY(0%);
    }
  }

  &__menu-icon {
    width: 20px;
    margin-right: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__overlay {
    display: block;
    .full-size();
    background-color: fade(#000, 75%);
  }

  &__row {
    flex: none;
    margin: 0 0 10px;
    display: flex;

    &--actions {
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
    }

    &--error {
      color: @purple-light;
    }

    &--full {
      flex: 1;
    }

    &--title {
      color: #fff;
      font-size: @font-size--nav-popup-title;
      font-style: normal;
    }

    &--username {
      color: #fff;
      font-size: @font-size--nav-popup-title-large;
      font-style: italic;
      font-weight: 600;
    }

    &--with-gutter {
      margin-left: -5px;
      margin-right: 5px;
    }

    &--xs-vertical {
      @media @mobile {
        flex-direction: column;
      }
    }
  }

  &__section {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    font-size: @font-size--nav-popup-section;

    flex: none;
    @media @desktop {
      flex: 1;
    }

    &--blank {
      padding: 0;
    }

    &--login {
      background-color: #333;

      @media @desktop {
        max-width: 380px;
      }
    }

    &--user {
      flex: none;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &--user-overview {
      min-width: 180px;

      background-color: fade(#000, 50%);

      align-items: flex-end;
    }

    &--user-links {
      background-color: #222;
      padding-left: 40px;
    }

    &--register {
      background-color: #444;

      @media @desktop {
        max-width: 240px;
      }
    }
  }

  &__social {
    .circle(39px);
    .center-content();
    .link-plain();
    border: 2px solid #333;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;

    .link-hover({
      background-color: #fff;
      border-color: #fff;
    });

    &--facebook {
      .link-hover({
        color: @facebook-colour;
      });
    }

    &--support {
      .link-hover({
        color: @pink;
      });
    }

    &--twitter {
      .link-hover({
        color: @twitter-colour;
      });
    }
  }

  &__socials {
    position: absolute;
    bottom: @bar-size;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #111;
    z-index: 2; // local context, above submenu
  }

  &__submenu-container {
    width: 0;
    flex: 1;
    display: flex;
    margin-left: (@_menu-spacing / 2);
  }

  &__submenu {
    position: absolute;
    padding-right: 20px;
    z-index: 1; // local context
    white-space: nowrap;
    height: 100%;
  }
}
