/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.nav2-header-legacy-padding {
  @media @desktop {
    padding-top: @nav2-height;
  }
}

.nav2-header {
  @_top: nav2-header;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @z-index--fixed-bar;

  &__body {
    width: 100%;
  }

  &__menu-bg {
    .full-size();
    height: @nav2-header-image-height;
    background-color: fade(#000, 70%);
    transition-duration: 0s;

    &[data-visibility=hidden] {
      transition-duration: 250ms;
    }
  }

  &__legacy-gradient-overlay {
    .full-size();

    .@{header-pinned} & {
      background-position-y: 100%;
    }

    display: block;
    transition: background-position @header-pinned-animation-duration / 2;
  }

  &__legacy-triangles {
    .full-size();
    display: block;
    background-size: 640px 360px;

    .at2x-simple("/images/layout/nav-backgrounds/triangles-combined.png");
  }

  &__transition-overlay {
    .full-size();
    background-color: #222;
    opacity: 0;
    transition: opacity @header-pinned-animation-duration;

    .@{header-pinned} & {
      opacity: 1;
    }
  }

  &__triangles {
    .full-size();
    background-image: url('/images/layout/nav2-background.png');
    background-position: bottom center;
    background-repeat: repeat-x;

    .@{_top}--restricted & {
      .at2x-simple('/images/layout/nav2-bg/red.png');

      &::before {
        content: '';
        .full-size();
        height: 5px;
        background-image: url('/images/layout/caution-bar.png');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
