/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.navbar-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @z-index--fixed-bar;
  color: #fff;

  &__brand {
    float: none;
    padding: 0 10px;
    height: auto;
    min-width: 0;
    font-size: 20px;
    line-height: 1.5; // avoid clipping
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @navbar-height;
    padding: 0 10px;

    &::after,
    &::before {
      display: none;
    }
  }

  &__header-section {
    display: flex;
    align-items: center;
    min-width: 0;

    &--buttons {
      flex: none;
    }
  }

  &__logo {
    flex: none;
    display: inline-block;
    background-image: url('/images/layout/osu-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: @navbar-mobile--content-height;
    height: @navbar-mobile--content-height;
  }

  &__menu {
    position: fixed;
    top: @navbar-height;
    padding: 0 10px;
    background-color: #444;
    width: 100%;
    z-index: @z-index--nav2;

    &:focus,
    &:hover,
    &:active,
    & {
      color: #fff;
    }
  }

  &__menu-items {
    margin-top: 0;
  }

  &__toggle {
    flex: none;
    float: none;
    width: @navbar-mobile--content-height;
    height: @navbar-mobile--content-height;
    padding: 0;
    margin: 0;

    border-width: 2px;
    color: #fff;

    display: block;

    &:focus,
    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  &__toggle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
