/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.navbar-mobile-item {
  &--user {
    && {
      display: flex;
      align-items: center;
      background-color: #333;
    }
  }

  &__icon {
    width: @navbar-mobile--content-height;
    margin-right: 10px;

    &--main {
      text-align: center;
    }

    // state changes at bottom
    &--closed {
      display: inline-block;

      .open > a > & {
        display: none;
      }
    }

    &--opened {
      display: none;

      .open > a > & {
        display: inline-block;
      }
    }
  }

  &__locale-flag {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    align-self: stretch;
    margin-right: 5px;
  }

  &__main {
    // to win over bootstrap's selector
    && {
      color: fade(#fff, 50%);
      display: flex;
      align-items: center;

      &:focus,
      &:hover,
      &:active,
      .open > & {
        color: #fff;
      }

      &--user {
        flex: 1 0 auto;
        color: #fff;
      }

      &--logout {
        .reset-input();
        .default-border-radius();
        width: @navbar-mobile--content-height;
        height: @navbar-mobile--content-height;
        border: 2px solid fade(#fff, 50%);
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: @navbar-padding-horizontal;

        &:focus,
        &:hover,
        &:active {
          background-color: fade(#fff, 50%);
          color: #333;
          border-color: transparent;
        }
      }
    }
  }

  &__submenu {
    // to win over bootstrap's selector
    &&&& {
      color: #fff;
      display: flex;
      align-items: center;
      padding-left: (@navbar-mobile--content-height + 20px);

      &:focus,
      &:hover,
      &:active {
        color: #fff;
        background-color: #333;
      }
    }
  }
}
