/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.notification-banner {
  @top: notification-banner;

  background-color: black;
  padding: 10px 40px 5px 40px;
  color: white;
  text-align: center;

  .default-box-shadow();
  .default-text-shadow();

  font-size: @font-size--normal;

  &::before {
    .full-size();
    content: ' ';
    height: 5px;
    background-image: url(/images/layout/caution-bar.png);
    background-position: top center;
  }

  &--alert {
    background-image: linear-gradient(to bottom, fade(@red-darker, 40%), fade(black, 40%));
  }

  &--warning {
    background-image: linear-gradient(to bottom, fade(@yellow-darker, 25%), fade(black, 25%));
  }


  &__icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;

    .@{top}--alert &,
    .@{top}--warning & {
      background-image: url(/images/layout/exclamation-icon.svg);
    }
  }

  &__icon-label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__text {
    margin-bottom: 5px;

    a {
      .link-yellow();
    }
  }

  &__light-bar {
    width: 250px;
    height: 5px;
    border-radius: 2.5px;
    display: inline-flex;

    .@{top}--alert & {
      background-color: @red;
    }

    .@{top}--warning & {
      background-color: @yellow;
    }
  }
}
