/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.osu-checkbox {
  @_top: osu-checkbox;
  @_box: 18px;
  @_box-border: 2px;
  @_tick: (@_box - (@_box-border * 2) - 2px);

  text-transform: initial;
  font-weight: initial;
  flex: none;
  display: inline-flex;
  margin: 0;
  cursor: pointer;

  &--beatmap-discussion {
    margin-top: 5px;
  }

  &__box {
    .full-size();
    .default-border-radius();
    .default-box-shadow();
    border: @_box-border solid #fff;
    background-color: #ccc;
    margin-right: 5px;
    width: @_box;
    height: @_box;

    .@{_top}__input:checked ~ & {
      background-color: @green;
    }
  }

  // the input is hidden
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  &__tick {
    visibility: hidden;
    color: #fff;
    padding: 3px;
    display: flex;
    font-size: @_tick;

    .@{_top}__input:checked ~ & {
      visibility: visible;
    }
  }
}
