/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.osu-nav {
  @_top: osu-nav;

  &__avatar {
    .default-border-radius();
    .default-box-shadow();

    margin-left: @spacing;
    margin-bottom: (-@spacing);
    overflow: hidden;

    width: @nav-avatar-size;
    height: @nav-avatar-size;

    .js-nav-switch--active & {
      box-shadow: 0 0 0 @bar-size @yellow;
    }
  }

  &__content {
    margin: auto;
    width: 100%;
    max-width: @container-sm;

    @media @desktop {
      width: calc(100% ~'-' (@spacing * 8));
    }
  }

  &__highlight-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;

    .js-nav-switch--active & {
      opacity: 1;
    }
  }

  &__title {
    padding-bottom: (@spacing / 2);
    display: flex;
    align-items: flex-end;
  }

  &__title-separator {
    display: inline-block;
    margin: 0 @spacing;
    opacity: 0.5;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    padding: (@spacing * 2) (@spacing * 2) 0;
  }

  &__top-col {
    flex: none;
    display: flex;
    align-items: flex-end;

    color: @grey-f;
    font-size: @font-size--large;
    font-weight: 300;

    &:focus,
    &:hover {
      color: @grey-f;
      text-decoration: none;
    }

    &--float {
      z-index: @z-index--nav-float;
    }

    &--logo {
      height: 0;
      align-self: flex-start;
      margin-top: (-@spacing / 2);
      align-items: flex-start;
    }

    &--title {
      padding: 0 @spacing;
      flex: 1 0 auto;
    }
  }
}
