/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.osu-page-header {
  background-size: cover;

  padding: (@spacing * 2);

  @media @desktop {
    // header left margin (20) + logo (100) + menu left margin (10)
    padding-left: @padding-big;
  }

  &--tournaments {
    .at2x-simple("/images/headers/tournament.jpg");
  }

  &--slack {
    .at2x-simple("/images/headers/slack.jpg");
    background-position: center;
    height: 200px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 10px;
    .default-text-shadow();
    color: #fff;

    font-style: normal;

    &--small {
      font-size: 16px;
    }
  }

  &__title-box {
    position: absolute;
    bottom: (@spacing * 2 - 10px);
  }
}
