/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.osu-page-header-v2 {
  background: transparent;
  background-size: cover;
  background-position: center center;

  padding: 20px;
  display: flex;
  flex-direction: column;

  font-weight: 300;
  color: white;
  height: 100px;
  justify-content: center;

  @media @desktop {
    padding-left: 40px;
    padding-right: @padding-big;
    height: 150px;
    justify-content: flex-start;
}

  &--artist {
    height: 200px;
    .at2x-simple("/images/headers/artist.png");
    justify-content: flex-start;
  }

  &--contests {
    .at2x-simple("/images/headers/contest.jpg");

    @media @desktop {
      .default-box-shadow();
      z-index: @z-index--contest-header;
    }
  }

  &--download {
    height: 360px;
    .at2x-simple("/images/headers/download.jpg");

    @media @desktop {
      .default-box-shadow();
      z-index: @z-index--download-header;
    }

    @media @mobile {
      background-position-x: left;
    }
  }

  &--featured-artists {
    .at2x-simple("/images/headers/featured-artists.jpg");
  }

  &--tournaments {
    .at2x-simple("/images/headers/tournament-v2.jpg");

    @media @desktop {
      .default-box-shadow();
      z-index: @z-index--tournament-header;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, fade(#000, 60%), transparent);
  }

  &__subtitle {
    font-size: @font-size--new-header-subtitle;
    margin-bottom: 10px;
    margin-top: 5px;

    @media @mobile {
      font-size: @font-size--new-header-subtitle-mobile;
    }
  }

  &__title {
    font-size: @font-size--new-header-title;
    margin-top: 30px;
    font-style: italic;

    @media @mobile {
      margin-top: 0;
      font-size: @font-size--new-header-title-mobile;
    }

    &--artist {
      margin-top: 60px;
      @media @mobile {
        margin-top: 0;
        text-align: center;
      }
    }
  }
}
