/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.osu-md {
  @top: osu-md;
  @paragraph-space: 1.5em;

  .content-font();
  color: inherit;
  padding: 10px 20px 0;
  font-size: @font-size--wiki;
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  &--news {
    padding: 0;
  }

  &--store {
    padding: 0;
  }

  &__figure-caption {
    margin-top: 5px;
    font-style: normal;
    display: inline-block;
  }

  &__figure-container {
    margin: @paragraph-space 0;
    text-align: center;
  }

  &__figure-image {
    display: block;
    margin: 0 auto;
  }

  &__header {
    .default-font();
    .fragment-target-fn();

    font-weight: bold;
    font-style: normal;
    color: @pink-light;

    &:first-child {
      margin-top: 0;
    }

    &--2 {
      font-size: @font-size--header-wiki-2;
      margin: 50px -20px 10px;
      color: #fff;

      .@{top}--news & {
        color: @pink-darker;
        margin-left: 0;
      }
    }

    &--3 {
      font-size: @font-size--header-wiki-3;
      margin: 30px -20px 10px;

      .@{top}--news & {
        color: @pink-darker;
        margin-left: 0;
      }
    }

    &--4 {
      font-size: @font-size--header-wiki-4;
      margin: 30px -10px 10px;
      font-style: italic;
    }

    &--5 {
      font-size: @font-size--header-wiki-5;
      font-weight: normal;
      font-style: italic;
      margin-top: 20px;
    }

    &--6 {
      font-size: @font-size--header-wiki-6;
      font-weight: normal;
      font-style: italic;
      margin-top: 20px;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__link {
    .link-yellow();

    .@{top}--news & {
      .link-default();
    }

    .@{top}--store & {
      .link-default();
    }
  }

  &__list {
    padding-left: 20px;
  }

  &__list-item {
    margin: 5px 0;

    &--deep {
      color: #ccc;
    }

    .@{top}--store & {
      margin-left: 10px;
    }
  }

  &__paragraph {
    margin-bottom: @paragraph-space;
    line-height: 1.5;

    .@{top}--store & {
      margin-bottom: 10px;
    }
  }

  // not actual table but its container
  &__table {
    .default-font();
    overflow-x: auto;
    margin-bottom: 20px;

    .@{top}--store & {
      table {
        width: 100%;
      }
    }
  }

  &__table-data {
    border-top: 1px solid fade(@yellow, 50%);
    padding: 5px;

    &--center {
      text-align: center;
    }

    &--header {
      border-top: none;
      border-bottom: 2px solid @yellow;
      font-weight: bold;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  code {
    .default-border-radius();
    background-color: #222;
    border: 1px solid #111;
    color: @blue;
    padding: 1px 4px;
  }

  pre {
    background-color: #222;
    border: none;
    border-radius: 0px;

    code {
      border: none;
      padding: 0px;
    }
  }
}
