/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.osu-checkbox {
  @_top: osu-checkbox;

  flex: none;
  .center-content();
  display: inline-flex;
  margin: 0 5px 0 0;
  cursor: pointer;
  width: 19px;
  height: 19px;
  font-size: 12px;
  line-height: 1;
  color: #fff;

  &--beatmap-discussion {
    margin-top: 5px;
  }

  &__box {
    .full-size();
    .default-border-radius();
    .default-box-shadow();
    border: 2px solid #fff;
    background-color: #ccc;

    .@{_top}__input:checked ~ & {
      background-color: @green;
    }
  }

  // the input is hidden
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  &__tick {
    visibility: hidden;
    display: flex;

    .@{_top}__input:checked ~ & {
      visibility: visible;
    }
  }
}
