/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.osu-page-header {
  @main-padding: 20px;
  @top: osu-page-header;

  background-size: cover;
  background-color: #333;
  background-position: center;

  padding: @main-padding;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media @desktop {
    padding-left: @padding-big;
    padding-right: @padding-big;
  }

  &--artist {
    @media @desktop {
      padding-left: 40px;
    }
  }

  &--beatmappacks {
    .at2x-simple('/images/headers/beatmappacks.jpg');
    padding: 0;
    text-align: center;
    justify-content: center;
  }

  &--forum-index {
    .at2x-simple("/images/headers/forum-top.png");
    .default-box-shadow();
    background-size: cover;
    background-position: 0 0;
    height: 200px;
  }

  &--groups {
    background-image: url('/images/headers/generic.jpg');
    height: 200px;
    text-align: center;
  }

  &--home-user {
    color: #fff;
    flex-direction: column;
    padding: 0 10px;

    @media @desktop {
      flex-direction: row;
      align-items: flex-end;
      padding: 0 40px;
      height: 150px;
    }

    @media @mobile {
      display: none;
    }

    &::before {
      .full-size();
      content: ' ';

      background-image: linear-gradient(to bottom, fade(#000, 25%), fade(#000, 75%));

      @media @desktop {
        background-image: linear-gradient(to bottom, fade(#000, 0%), fade(#000, 75%));
      }
    }

  }

  &--live {
    .at2x-simple("/images/headers/live-top.png");
    height: 165px;
  }

  &--mp-history {
    .at2x-simple("/images/headers/mp-history.jpg");
    background-position: center;
    @media @desktop {
      height: 125px;
    }
  }

  &--news {
    background-image: url('/images/headers/generic.jpg');
    height: 200px;
    text-align: center;
  }

  &--password-reset {
    .at2x-simple("/images/headers/password-reset.jpg");
    .default-box-shadow();
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  &--tournaments {
    .at2x-simple("/images/headers/tournament.jpg");
  }

  &--wiki {
    .default-box-shadow();
    .at2x-simple("/images/headers/wiki.jpg");
    height: 125px;
    padding-bottom: 0;

    @media @desktop {
      padding-left: @padding-wiki-desktop;
      padding-right: @padding-wiki-desktop;
    }
  }

  &__actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    right: 10px;
    bottom: 10px;

    @media @desktop {
      right: 0;
      bottom: 20px;
      width: 0;

      opacity: 0;
      will-change: opacity;
    }

    .@{top}:hover & {
      opacity: 1;
    }
  }

  &__background {
    .full-size();
    .default-header-overlay();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__box {
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 20px 0;

    .@{top}--home-user & {
      flex: none;
      width: 100%;
      align-self: flex-end;
      margin: 0;

      @media @desktop {
        margin: 0 10px;
        width: calc(60% ~'-' 20px);
      }
    }

    .@{top}--home-user &--status {
      flex: none;
      display: flex;
      background-color: fade(#000, 50%);
      padding: 0;
      padding-top: 5px;
      justify-content: flex-start;
      margin: 0 -10px;
      width: calc(100% ~'+' 20px);

      @media @desktop {
        margin: 0 10px;
        width: calc(40% ~'-' 20px);
      }
    }
  }

  &__detail {
    font-size: @font-size--normal;
    .default-text-shadow();
    padding: 0;
    margin: 0;
  }

  &__link {
    .link-white();

    &--plain {
      .link-plain();
    }
  }

  &__status {
    padding: 0 10px 20px;
  }

  &__status-chart {
    height: 70px;
    width: 100%;
    margin-top: -20px;
  }

  &__status-label {
    font-size: @font-size--small;
    font-weight: 400;
    .@{top}__status--selected & {
      font-size: @font-size--small-2;
    }
  }

  &__status-text {
    color: @yellow;
    font-size: @font-size--title-small-2;
    .@{top}__status--selected & {
      font-size: @font-size--title-small-3;
    }
  }

  &__title {
    .default-text-shadow();
    font-size: @font-size--header-title-mobile;
    // avoid clipping
    margin: -5px -5px 5px;
    padding: 5px;
    color: #fff;

    font-style: italic;

    @media @desktop {
      font-size: @font-size--header-title;
    }

    &--small {
      font-size: @font-size--header-subtitle;
    }

    &--smaller {
      font-size: @font-size--header-description;
    }

    .@{top}--forum-index & {
      font-style: normal;
      margin: 0;
    }

    .@{top}--home-user & {
      font-size: @font-size--new-header-title;
      font-weight: 300;
      strong {
        font-weight: 500;
      }
    }

    .@{top}--mp-history & {
      font-style: italic;
    }

    .@{top}--password-reset & {
      font-style: normal;
      font-size: @font-size--new-header-title;
      font-weight: 300;
      color: @gray-blue;
      text-shadow: none;
    }

    .@{top}--wiki &--main {
      @border-height: 5px;
      margin-bottom: 0;
      padding-bottom: (@main-padding - @border-height);
      border-bottom: @border-height solid @yellow;
    }
  }

  &__title-box {
    position: absolute;
    bottom: 10px;

    .@{top}--forum-index & {
      width: 100%;
      // the diameter of circle thing (more or less)
      max-width: 740px;
      // thickness of the circle (more or less)
      padding: 20px 70px;
      left: 0;
      bottom: 0;
      text-align: center;
    }

    .@{top}--mp-history & {
      @media @desktop {
        left: 150px;
        bottom: 30px;
      }

      @media @mobile {
        position: relative;
        padding: 0 20px;
      }
    }

    .@{top}--wiki & {
      bottom: 0;
    }
  }
}
