/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.page-extra {
  @top: page-extra;

  .default-box-shadow();
  background-color: #fff;
  padding: 20px @page-extra-side-padding--small;
  margin-bottom: 10px;

  font-size: 14px;

  @media @desktop {
    padding-left: @page-extra-side-padding--large;
    padding-right: @page-extra-side-padding--large;
  }

  &--compact {
    padding: 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    right: 30px;
    top: 20px;

    @media @desktop {
      right: 0;
      top: 20px;
      width: 0;
      opacity: 0;
    }

    .@{top}:hover & {
      opacity: 1;
    }
  }

  &__chart {
    height: 250px;
    width: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;

    &--small {
      font-size: 15px;
      margin-top: 30px;
    }
  }

  &__dragdrop-toggle {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: move;
  }
}
