/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.page-mode {
  @_top: page-mode;
  @_gutter: 10px;

  background-color: #333;
  color: #ccc;

  display: block;
  text-align: center;

  padding: 20px 10px 0;
  list-style: none;
  margin: 0;
  font-size: 15px;
  overflow: hidden;

  &--page-extra-tabs {
    background-color: transparent;
  }

  &--post-reply {
    background-color: transparent;
    font-size: @font-size--normal;
    padding-left: 0;
    padding-right: 0;
    margin: 0 (-@_gutter);
  }

  &--ranking-page-mode-tabs {
    background-color: transparent;
    color: white;

    padding: 10px 10px 0;
  }

  &--search {
    background: transparent;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
    border-bottom: 1px solid;
    border-top-width: 0;
  }

  &__item {
    .link-plain();
    display: inline-flex;
    vertical-align: bottom;
    line-height: 1;

    margin: 0 @_gutter;

    .@{_top}--breadcrumb & {
      margin-left: 5px;
      margin-right: 5px;
    }

    // pls halp
    .@{_top}--breadcrumb & + &::before {
      content: '»';
      margin-right: 10px;
      margin-top: 5px;
      vertical-align: middle;
    }
  }

  &__item-icon {
    // A bit too tall if same as the text.
    // And looks like crap at other size. Or maybe at this size as well
    // depending on zoom level and star alignment.
    font-size: 89%;
  }

  &__underline {
    margin-top: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #222, transparent);
  }
}
