/**
*    Copyright 2016 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.page-contents {
  width: 100%;
  font-size: 14px;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  @media @desktop {
    flex-direction: row;
  }

  &--artist {
    flex-direction: column-reverse;
    background-color: #293336;
    @media @desktop {
      flex-direction: row;
      background: none;
    }
  }

  &__content {
    padding-top: @grid-gutter-width/2;
    padding-bottom: @grid-gutter-width/4;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;

    @media @desktop {
      flex-basis: 100% / 3;
      max-width: 100% / 3;

      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-image: linear-gradient(to top, #ccc, transparent 80%) 1;

      &:last-child {
        border: none;
      }

      &--artist-left {
        flex-basis: 100%;
      }

      &--sidebar {
        background-color: #2A3336;
        .default-box-shadow();
        @media @desktop {
          height: 100%;
        }
      }
    }
  }

  &__row {
    margin-bottom: @grid-gutter-width/4;
    padding: 0px @grid-gutter-width/4;

    &--top {
      margin-bottom: @grid-gutter-width/2;
    }
  }
}
