/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.product-box {
  @_top: product-box;

  display: block;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  width: 100%;
  .product-header-base();

  &,
  &:focus,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }

  &::before, &::after {
    .full-size();
    content: ' ';
    will-change: opacity;
    transition: opacity 120ms;
    pointer-events: none;
  }

  &::before {
    .default-box-shadow();
    background-color: fade(#000, 50%);
  }

  &:hover::before {
    opacity: 0;
  }

  &::after {
    .thicker-box-shadow;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  &--large {
    height: 300px;
  }

  &--small {
    height: 200px;
  }

  &__text {
    will-change: opacity;

    .@{_top}:hover & {
      opacity: 0;
    }

    .@{_top}--small & {
      h1 { font-size: 30px; }

      p { display: none; }
    }
  }

  &__bar {
    &--oos {
      width: 233px;
      height: 136px;
      .at2x('/images/layout/store-out-of-stock-bar.png', 233px, 136px);
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
    }
  }
}
