/**
 *    Copyright 2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.profile-cover-uploader {
  padding: @grid-gutter-width/4;
  padding-right: @grid-gutter-width/8;
  border-top: 1px solid #ccc;

  &__button {
    text-transform: none;
    height: 30px;
    margin-right: @grid-gutter-width/8;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    padding: @grid-gutter-width/4;
    margin-bottom: -@grid-gutter-width/4;
  }

  &__info-entry {
    margin-bottom: @grid-gutter-width/8;
  }
}
