/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-header-extra {
  background-color: #333;
  padding: 5px 20px 0;
  color: #fff;
  font-size: @font-size--normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media @desktop {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--follower-meta {
    font-size: 10px;
    padding: 10px 30px 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media @mobile {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__follower-count {
    padding-left: 10px;

    &--no-button {
      padding-left: 0px;
    }
  }

  &__follower-mutual-divider {
    padding: 0px 5px;
    color: #777;
  }

  &__column {
    margin: 0 10px;
    flex-shrink: 0;

    &--text {
      margin-top: -7.5px;
      margin-bottom: -7.5px;
      padding: 10px 0;

      @media @desktop {
        align-self: flex-start;
      }

      @media @mobile {
        width: 280px;
      }
    }

    &--chart {
      flex: none;
      background-color: #222;
      width: @profile-stats-box-width;
      height: 135px;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }

    &--shrink {
      flex-shrink: 1;
      overflow: hidden;

      @media @mobile {
        max-width: 280px;
      }
    }
  }

  &__fancy-link-icon {
    margin-right: 5px;
    color: @blue-light;
  }

  &__fancy-link-text {
    .link-white();
  }

  &__rank-box {
    font-style: italic;
    text-align: center;
    flex: none;
    padding: 0 10px;
  }

  &__rank-chart {
    flex: 1;
    min-height: 0;
    margin: 0 -5px;
  }

  &__rank-country {
    font-size: @font-size--small;
  }

  &__rank-global {
    font-size: @font-size--large;
  }

  &__rows {
    margin: 7.5px 0;
    min-width: 0;
  }

  &__row {
    display: block;
    color: @blue-light;

    &--fancy-link {
      display: flex;
      font-style: italic;
      max-width: 400px;
    }

    // halp
    strong {
      color: #fff;
      font-weight: bold;
      font-style: italic;
    }
  }
}
