/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-badge {
  height: @profile-badge-size;
  width: @profile-badge-size;
  text-align: center;
  background-repeat: no-repeat;
  margin: 0 -3px;

  &--level {
    .at2x("/images/badges/levelbadge.png", @profile-badge-size, @profile-badge-size);
    order: 1;
  }

  &--achievements {
    .at2x("/images/badges/achievements.png", @profile-badge-size, @profile-badge-size);
  }

  &__number {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    top: 6px;
  }
}
