/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-header {
  @top: profile-header;
  .default-header-overlay();
  background-color: #333;
  background-size: cover;
  background-position: center;
  transition: background-image 120ms;

  min-height: @profile-header-height;
  padding: 80px 40px 0; // additional spacing for tournament banner
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media @desktop {
    flex-direction: row;
    padding-top: 30px;
    align-items: flex-end;
  }

  &__actions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: opacity;

    @media @desktop {
      opacity: 0;
      width: 0;
      right: 0;
      bottom: 20px;
    }

    .@{top}:hover & {
      opacity: 1;
    }

    .@{top}--editing & {
      opacity: 1;
    }
  }

  &__column {
    margin: 0 10px;

    &--info {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      min-width: 0;

      @media @desktop {
        flex: 1;
      }
    }
  }

  &__default-mode {
    .reset-input();
    background-color: #333;
    margin-bottom: 10px;

    border: 2px solid transparent;

    font-size: @font-size--normal;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10000px; // rounded corner
    transition: 120ms ease-in-out border-color;

    &:focus {
      border-color: #555;
    }

    &:hover {
      border-color: @yellow;
    }

    &:active {
      border-color: @yellow-dark;
    }

    &--disabled {
      &, &:focus, &:hover, &:active {
        border-color: transparent;
        color: #ccc;
      }
    }
  }

  &__spinner {
    .full-size();
    .center-content();

    font-size: 80px;
    color: #fff;
    background-color: fade(#000, 70%);
  }

  &__tournament-banner {
    width: 100%;

    &--float {
      display: none;
      margin-bottom: 10px;
      z-index: @z-index--profile-tournament-banner;

      @media @desktop {
        display: block;
      }
    }

    &--top {
      position: absolute;
      left: 0;
      top: 0;

      @media @desktop {
        display: none;
      }
    }
  }

  &__tournament-banner-image {
    .@{top}__tournament-banner--float & {
      .default-border-radius();
      .own-layer();
      max-width: 100%;
      transition: transform 200ms cubic-bezier(.08,.82,.17,1);
      will-change: transform;
    }

    .@{top}__tournament-banner--float:hover & {
        transform: scale(1.2);
    }

    .@{top}__tournament-banner--top & {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @desktop {
      align-items: flex-start;
    }

    &--bottom {
      flex: 1 0 auto;
      justify-content: flex-end;
    }

    &--top {
      flex: none;
    }
  }
}
