/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-extra-account-standing {
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    &--action, &--length {
      padding-left: 10px;
    }

    &--info {
      background-color: #ccc;
    }

    &--large {
      height: 30px;
      margin-bottom: 5px;
      padding-left: 20px;
      border-radius: 15px;
      font-size: 15px;
    }

    &--note {
      background-color: @blue;
    }

    &--restriction {
        background-color: @red;
      color: #fff;
    }

    &--silence {
      background-color: @yellow;
    }

    &--small {
      height: 20px;
      border-radius: 10px;

      margin-bottom: 7px;

      font-size: 14px;
    }

    &--warning {
      background-color: @red-dark;
      color: #fff;
    }

  }

  &__table {
    width: 100%;
    min-width: 800px;

    &--notes {
      margin-top: 30px;
    }
  }

  &__table-box {
    overflow-x: scroll;
  }

  &__table-cell {
    &--action {
      width: 105px;
      padding-right: 5px;
    }

    &--date {
      width: 150px;
      padding-right: 20px;
    }

    &--length {
      width: 140px;
      padding-right: 40px;
    }
  }

  &__table-header {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;

    &--action, &--length {
      padding-left: 10px;
    }
  }
}
