/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-extra-entries {
  list-style: none;
  padding: 0;
  margin: 0;
  @item-height: 25px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    height: @item-height;
    white-space: nowrap;

    &--top-ranks {
      height: auto;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 10px 0;

      &::before {
        .full-size();
        content: ' ';
        margin: 0 -10px;
        width: calc(100% ~'+' 20px);
        pointer-events: none;
        will-change: opacity;
        transition: all 25ms ease-out;
        opacity: 0;

        background-color: #eee;
        .default-box-shadow();
      }

      &:hover::before {
        opacity: 1;
        transition: all 50ms ease-out;
      }
    }
  }

  &__detail {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;

    &--vertical {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__detail-column {
    flex: none;
    overflow: hidden;
    text-overflow: ellipsis;

    &--full {
      min-width: 0;
      flex: 1;
    }
  }

  &__detail-row {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  &__text-score {
    font-style: italic;
    font-size: 11px;

    &--title {
      font-size: 16px;
      font-weight: 400;
    }

    &--pp {
      font-size: 18px;
      font-weight: bold;
      color: @pink-text;
    }

    &--time {
      font-style: normal;
    }
  }

  &__icon {
    flex: none;
    width: @item-height;
    height: @item-height;
    margin-right: 10px;
  }
}
