/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-stats {
  @_badge: profile-badge--level;

  font-size: @font-size--normal;
  display: flex;
  flex-direction: column;
  width: @profile-stats-box-width;
  flex: none;
  margin: -1px 0;

  &__entry {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;

    &--full {
      flex-direction: column;
    }
  }

  &__key {
    font-weight: normal;
    margin-right: 30px;
  }

  &__playtime {
    color: @yellow;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  &__stat-box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--playtime {
      .@{_badge}:hover ~ & {
        display: none;
      }
    }

    &--experience-bar {
      flex: 1 0 auto;
      padding-right: 15px;
      display: none;

      .@{_badge}:hover ~ & {
        display: flex;
      }
    }
  }

  &__playtime-main {
    font-size: 18px;
  }

  &__playtime-unit {
    font-weight: 200;

    &::after {
      content: ' ';
    }
  }

  &__rank {
    display: inline-block;
    text-align: center;
    margin: 5px 10px 0;
  }

  &__row {
    background-color: fade(#000, 50%);
    color: #fff;
    padding: 18px 20px;
    margin: 1px 0;

    &--compact {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &--playtime {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__value {
    font-weight: bold;

    &--score-ranks {
      text-align: center;
      padding-top: 10px;
    }

    &--level-progress {
      letter-spacing: 1px;
      margin-left: auto;
    }
  }
}
