/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-cover-change-popup {
  .default-border-radius();
  .default-box-shadow();

  position: absolute;
  top: (@profile-header-height - @profile-user-bar-height + 10px);
  right: 10px;
  width: (@profile-cover-thumb-size * 3 + 5px * 2 + 10px * 2);

  background: #fff;

  font-size: 10px;
  text-align: center;

  &__defaults {
    display: flex;
    flex-wrap: wrap;

    margin-right: -5px;
    margin-bottom: -5px;
    padding: 10px;
  }

  &__selection {
    flex: 0 0 @profile-cover-thumb-size;
    height: @profile-cover-thumb-size;
    margin-right: 5px;
    margin-bottom: 5px;

    cursor: pointer;
    background-size: cover;
    background-position: center;
  }

  &__selected-mark {
    .default-text-shadow();
    color: #fff;
    font-size: 24px;

    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  &__selections-info {
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
  }

  &__uploader {

  }

  &__drop-overlay {
    .default-border-radius();

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 24px;
    padding: 20px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;

    background-color: fade(#000, 50%);

    &--hover {
      background-color: fade(#000, 70%);
    }
  }
}
