/**
 *    Copyright 2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.ranking-scoreboard {
  &__header {
    padding-bottom: @spacing;
  }

  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__tab {
    font-size: 16px;
    font-weight: 600;
    color: @grey-5;
    cursor: pointer;

    margin: 0 @spacing;

    &:hover, &:active, &:focus {
      color: @pink-text;
      text-decoration: none;
    }

    &--active {
      font-weight: 900;
      color: @pink-darker;
    }
  }

  &__main {
    &--loading {
      opacity: 0.2;
    }
  }

  &__line {
    padding-top: @spacing * 2;

    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent 5%, @grey-5, transparent 95%) 1;
  }

  &__row {
    display: flex;
    align-items: center;

    height: 30px;

    padding: 0 @spacing;

    &--score {
      &:hover {
        background-color: @grey-d;
        border-radius: 5px;
      }
    }

    &--myself {
      background-color: @pink-lighter;
      border-radius: 5px;
    }
  }

  &__row-item {
    font-size: 15px;
    font-style: italic;

    &--header {
      font-weight: 600;
      color: @gray-text;
    }

    &--rank-header {
      width: 120px;
    }

    &--rank {
      width: 80px;
    }

    &--flag {
      height: 20px;
      width: 40px;
    }

    &--player, &--mapper, &--country {
      flex: 1;
      font-weight: 600;
      color: @blue-text;
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--player-header, &--mapper-header, &--country-header {
      flex: 1;
      min-width: 0;
    }

    &--play-count {
      text-align: right;
      width: 100px;
    }

    &--score {
      width: 120px;
      text-align: right;
    }

    &--country-score {
      width: 160px;
      text-align: right;
    }

    &--country-performance {
      width: 120px;
      text-align: right;
    }

    &--accuracy {
      width: 80px;
      text-align: right;
    }

    &--x-count {
      width: 60px;
      text-align: right;
    }

    &--s-count {
      width: 60px;
      text-align: right;
    }

    &--a-count {
      width: 60px;
      text-align: right;
    }

    &--user-count {
      text-align: right;
      width: 100px;
    }

    &--kudosu-received, &--kudosu-given, &--kudosu-available {
      text-align: right;
      width: 90px;
    }
  }

  &__notice {
    text-align: center;
    padding-top: @spacing;

    &--no-scores {
      font-size: 15px;
    }

    &--guest {
      text-align: left;
      font-style: italic;
    }
  }

  &__supporter-text {
    font-size: 24px;
    font-weight: 600;

    padding-bottom: @spacing;

    &--small {
      font-size: 18px;
      font-weight: normal;

      padding: 0;
    }
  }

  &__friends {
    text-align: center;
    padding-top: @spacing;
    padding-bottom: @spacing;
    font-size: 14px;
  }

  &__countries-flags {
    text-align: center;
    padding-top: @spacing;
    padding-bottom: @spacing;
    font-size: 14px;
  }

  &__top-flags {
    padding-top: @spacing;
    padding-bottom: @spacing;

    a {
      vertical-align: bottom;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  &__pagination {
    text-align: center;
    padding-top: @spacing;

    > ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

      text-align: center;
      > li {
        display: inline-block;
        span { font-weight: bold; }

        &.active span {
          background: none;
          color: @gray;
        }

        a {
          color: @pink-darker !important;
          &, &:hover {
            text-decoration: none;
            color: @pink-text !important;
          }
        }

        a, span {
          display: block;
          padding: @grid-gutter-width/8;
          font-size: 12px;
        }
      }

    }
  }

  &__prevnext {
    font-weight: bold;

    a, span {
      font-size: 16px !important;
      padding: 0px @grid-gutter-width/4;
    }
  }
 
}
