/**
 *    Copyright 2015-2018 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.report-form {
  @_padding: 15px;
  @_form-color: #333;
  @_background-color: #555;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99999;

  font-size: 14px;
  color: #fff;

  &__button {
    .reset-input();
    .default-text-shadow();

    padding: @_padding;
    width: 200px;
    background-color: @_background-color;
    border-radius: 200px;

    &--report {
      background-color: @red;
    }
  }

  &__form {
    .default-border-radius();

    position: fixed;
    top: 50%;
    left: 50%;
    // FIXME: blurry text
    transform: translate(-50%, -50%);
    padding: @_padding;

    display: flex;
    flex-direction: column;

    background-color: @_form-color;
  }

  &__row {
    display: flex;
    justify-content: center;

    & + & {
      margin-top: 10px;
    }
  }

  &__select {
    background-color: @_background-color;
  }

  &__textarea {
    .reset-input();
    .default-border-radius();
    padding: @_padding;
    font-size: 14px;
    width: 100%;
    height: 300px;
    background-color: @_background-color;
    resize: vertical;

    &::placeholder {
      color: mix(@_background-color, #fff);
    }
  }
}
