/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.search-entry {
  .link-plain();
  .default-box-shadow();
  .default-border-radius();
  background-color: #444;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  padding-bottom: 15px;

  &::after, &::before {
    .full-size();
    content: ' ';
    will-change: opacity;
    transition: opacity 120ms;
    pointer-events: none;
  }

  &::after {
    .thicker-box-shadow();
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  &::before {
    .default-box-shadow();
  }

  &:hover::before {
    opacity: 0;
  }

  &__highlight {
    em {
      color: @yellow-dark;
      font-style: normal;
      font-weight: bold;
    }
  }

  &__row {
    margin: 5px 0;
    padding: 0;
    line-height: 1.5;
    word-wrap: break-word;

    &--title {
      color: #fff;
      font-size: @font-size--title-small-2;
    }

    &--excerpt {
      color: #ddd;
      font-size: @font-size--small-2;
      word-break: break-word;
    }

    &--footer {
      color: #999;
      font-size: @font-size--small;
    }
  }
}
