/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.search-header {
  .default-header-overlay();
  .default-box-shadow();
  .at2x-simple('/images/headers/search.jpg');
  background-size: cover;
  height: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 60px;

  &__box {
    .default-border-radius();
    background-color: fade(#000, 50%);
    display: flex;
    font-size: @font-size--title-small-2;
  }

  &__icon {
    .reset-input();
    .center-content();
    flex: none;
    padding: 0 10px;
  }

  &__input {
    .reset-input();
    flex: 1;
    padding: 20px 10px;
    font-weight: normal;
  }

  &__title {
    font-weight: 300;
    align-self: center;
    margin-bottom: 10px;
    font-size: @font-size--large-2;
  }
}
