/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
.slack-content {
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: center;

  padding-top: 24px;

  @media @desktop {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    padding: 0 20px 0 20px;

    &--text {
      @media @desktop {
        flex-basis: 100%;
      }
    }

    &--image {
      max-width: 100%;
      height: auto;
    }

  }

  &__image-container {
    min-width: 0;
    padding-bottom: 15px;
  }

  &__invite-info {
    padding-bottom: 20px;
    margin: 0;
  }
}
