/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.store-header {
  &__float {
    position: absolute;
    height: 100%;
    top: 0;

    display: flex;
    padding: (@spacing * 2);

    align-items: flex-end;

    @media @desktop {
      align-items: center;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__float-link {
    .default-box-shadow();
    .default-border-radius();
    .pink-link();

    padding: @spacing (@spacing / 2);
    background-color: @gray-f;

    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  &__float-link-text {
    margin: 0 (@spacing / 2);
    font-size: @font-size--store-header-link-text;

    &--icon {
      font-size: @font-size--store-header-link-icon;
    }
  }

  &__main {
    .at2x-simple("/images/headers/store.png");
    background-size: cover;
    background-position: center;
    background-color: @gray-3;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__notice {
    background-color: @yellow;
    background-image: url("/images/backgrounds/button.svg");
    background-size: @container-tablet;
    background-position: center;

    display: flex;
    flex-direction: column;
    padding: (@spacing / 2) (@spacing * 3 + @spacing / 2);
  }

  &__notice-text {
    font-size: @font-size--store-notice-text;
    margin: (@spacing / 2);
    text-align: center;
    color: @gray-4;
    font-style: normal;

    &--title {
      text-transform: uppercase;
      font-weight: 900;
      color: @gray-0;
      letter-spacing: 3px;

      // FIXME: there's a stronger setter in store/base.less
      && {
        font-size: @font-size--store-notice-title;
      }
    }
  }
}
