/**
 *    Copyright 2015 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
.tooltip-achievement {
  @_top: ~"tooltip-achievement";
  @_badge-height: 120px;

  .default-border-radius();
  background-color: fade(@blue-dark, 80%);
  border: 0 solid transparent;
  width: 280px;

  &--locked {
    background-color: fade(@gray, 50%);
  }

  .qtip-content {
    padding: (@spacing / 2);
  }

  &__badge {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: (@spacing * 2);
    padding-top: (@spacing * 2 + @_badge-height / 2);
    text-align: center;
  }

  &__description {
    margin-top: @spacing;
    font-size: 12px;
  }

  &__date {
    margin-top: @spacing;
    font-size: 10px;
    color: @gray-9;
  }

  &__main {
    .default-border-radius();
    overflow: hidden;
    .default-box-shadow();
    background-color: @gray-f;
    display: flex;
    line-height: 1.1;

    width: 100%;

    .@{_top}--locked & {
      background-color: @gray-c;
    }
  }

  &__nickname {
    font-size: 24px;
    font-style: italic;
  }

  &__title {
    background-color: @blue-darker;
    background-image: url("/images/backgrounds/button.svg");
    background-size: cover;
    color: @gray-f;
    text-align: center;

    padding: (@spacing * 2);
    padding-bottom: (@spacing * 2 + @_badge-height / 2);

    font-weight: bold;
    font-style: italic;
    font-size: 14px;

    .@{_top}--locked & {
      background-color: @gray-9;
      color: @gray;
    }
  }
}
