/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.tooltip-default {
  @top: tooltip-default;

  .default-border-radius();

  background-color: fade(#000, 70%);
  border: 0 solid transparent;

  color: #fff;
  background-color: #444;
  font-size: @font-size--normal;
  line-height: 1.1;
  padding: 2px 10px;
  text-align: center;
  pointer-events: none;

  &--extra-padding {
    padding: 7px 10px;
  }

  &--fixed {
    position: fixed;
  }

  .qtip-content {
    text-align: inherit;
  }

  &__time {
    color: #ccc;
  }
}
