/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.tracklist {
  background-color: #1A2223;
  color: white;
  padding-left: @spacing * 2;
  padding-right: @spacing * 2;
  padding-bottom: @spacing * 2;

  &__table {
    width: 100%;

    &--smaller {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__row {
    background-color: #293336;
    color: #8dacb6;
    font-weight: 100;
    font-size: 12px;
    border-bottom: 2px solid #1A2223;
    line-height: 32px;
    transition: 0.1s;

    &:hover {
      background-color: lighten(#293336, 10%);
    }

    &--show-votes {
      background: transparent url(/images/layout/vote-1x1.png) 0 center repeat-y;
    }

    &--selected {
      background-color: rgba(141, 172, 182, 0.25);
    }
  }

  &__row--header {
    text-transform: uppercase;
    color: #8dacb6;
    font-size: 10px;
    line-height: 32px;
  }

  &__col {
    &--preview {
      width: 32px;
    }
    &--title {
      padding-left: 10px;
    }
    &--dl {
      width: 32px;
    }
  }

  &__cover {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
  }

  &__preview {
    background-color: rgba(0,0,0,0.75);
    color: rgba(255,255,255,0.33);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }
  }

  &__title {
    color: white;
    padding-left: 10px;
  }

  &__version {
    color: #8dacb6;
    font-size: 10px;
    @media @mobile {
      display: block;
    }
  }

  &__dl {
    font-size: 16px;
    height: 32px;
    &--contest {
      background-color: rgba(0, 0, 0, 0.75);
      text-align: center;
    }
  }

  &__link {
    .white-link();
    &:hover, &:focus {
      text-decoration: none;
      color: white;
    }
    &--contest-dl {
      color: rgba(255, 255, 255, 0.33);
    }
    &--disabled {
      color: #1a2223;
    }
  }
}
