/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.user-home {
  @top: user-home;

  display: flex;
  background: #333;

  &__news {
    @media @desktop {
      flex: 1 0 60%;
      padding: 20px;
    }
    @media @mobile {
      padding: 20px 0px;
    }
  }

  &__news-fetch-error {
    font-size: @font-size--normal;
    margin-left: 20px;
    color: white;
    @media @mobile {
      margin-left: 40px;
    }
  }

  &__news-title {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: @pink-light;
    font-weight: 100;
  }

  &__news-posts {
    &--collapsed {
      padding: 5px 0;
      background-color: #222;
    }
    .default-box-shadow();
  }

  &__right-sidebar {
    width: 100%;
    overflow: hidden;

    @media @desktop {
      margin: 20px;
      margin-left: 0px;
      margin-top: 50px;
    }

    @media @mobile {
      margin: 0px;
      padding: 0px 20px;
    }
  }

  &__beatmap-lists {
  }

  @media @mobile {
    margin-left: -20px;
    margin-right: -20px;
    flex-direction: column;
  }
}
