/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.usercard {
  @top: usercard;
  @avatar-size: 50px;
  @status-bar-size: 30px;
  @card-item-spacing: 10px;
  @offline-color: #000;
  @online-color: @green;
  @flag-gutter: 3px; // more like half of it

  display: flex;
  flex-direction: column;
  width: @usercard-width;
  height: @usercard-height;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-image: url('/images/layout/beatmaps/default-bg.png');
  margin: @card-item-spacing;

  // to make broken cover images less ugly
  overflow: hidden;

  .thick-box-shadow();
  .link-hover({
    .thicker-box-shadow();
  });
  .fade-element(120ms);
  .default-border-radius();
  .own-layer();

  &--no-margin {
    margin: 0;
  }

  &__background {
    .full-size();
    object-fit: cover;
    .@{top}--popup & {
      opacity: 0;
    }

    // to prevent annoying white-pixel artefacts appearing due to
    // browsers not handling 'overflow: hidden' properly
    .default-border-radius();
  }

  &__background-container {
    .full-size();
  }

  &__background-overlay  {
    .full-size();
    background-color: fade(#000, 75%);

    &--guest {
      background-color: fade(#000, 60%);
    }
  }

  &__card {
    .link-white();
    .link-plain();
    pointer-events: none;
  }

  &__icon {
    margin: 0 @flag-gutter;
    display: flex;
    pointer-events: auto;

    &:empty {
      display: none;
    }
  }

  &__icons {
    margin: @card-item-spacing (-@flag-gutter) 0;
    display: flex;
  }

  &__link-wrapper {
    .link-white();
    .link-plain();
    display: flex;
    flex-direction: column;
  }

  &__card-content {
    display: flex;
    flex-direction: row;
    height: @usercard-height - @status-bar-size;
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    margin: @card-item-spacing 0px;
  }

  &__avatar-space {
    width: @avatar-size;
    height: @avatar-size;
    margin: @card-item-spacing;
  }

  &__avatar {
    .default-border-radius();
    .full-size();
    object-fit: contain;
    background-color: #333;

    &--loader {
      opacity: 0;

      .@{top}--popup & {
        .center-content();
        color: #fff;
        font-size: 14px;
        background: fade(#fff, 10%);
        opacity: 0.25;
      }
    }

    .@{top}--popup &--main {
      opacity: 0;
    }
  }

  &__message {
    .center-content();
    .link-plain();
    .link-white();
    border-radius: 10px;
    width: 40px;
    height: 20px;

    font-size: 14px;
    background: fade(@blue, 70%);

    &:hover {
      background: fade(lighten(@blue, 5%), 70%);
    }
  }

  &__message-icon {
    &::before {
      content: "\F075"; // .fa-comment
    }

    .@{top}__message:hover & {
      &::before {
        content: "\F27A"; // .fa-commenting
      }
    }
  }

  &__username {
    font-weight: 100;
    font-style: italic;
    .default-text-shadow();
  }

  &__status-bar {
    font-weight: 100;
    height: @status-bar-size;
    width: 100%;

    padding-left: @avatar-size + (@card-item-spacing * 2);
    display: inline-flex;
    align-items: center;
    .default-text-shadow();

    background: fade(@offline-color, 50%);

    &--online {
      background: fade(@online-color, 50%);
    }
  }

  &__status-icon {
    padding-right: @card-item-spacing;
  }
}
