/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.user-home {
  @title-height: 50px;

  .default-box-shadow();
  .inner-shadow-top();
  display: flex;
  background: #444;
  flex-direction: column;

  @media @desktop {
    padding: 0 20px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: flex-start;
  }

  &__beatmap-list-title {
    margin: 0;
    padding: 20px 0 10px;
    font-size: @font-size--title-small-3;
    color: @pink-light;
    font-weight: 100;
  }

  &__beatmapsets {
    margin: -10px 0;
  }

  &__button {
    margin: 10px 0;
  }

  &__buttons {
    margin: -10px 0;
  }

  &__news {
    padding: 0 0 20px;
    flex: none;
    width: 100%;

    @media @desktop {
      margin-left: 10px;
      margin-right: 10px;
      width: calc(60% ~'-' 20px);
    }
  }

  &__news-posts-group {
    .default-box-shadow();
    display: block;
    padding: 5px 0;
    background-color: #222;
    margin-bottom: 5px;

    &--more {
      .link-pink-light();
      .link-plain();
      padding: 20px;
      text-align: center;
    }
  }

  &__news-fetch-error {
    font-size: @font-size--normal;
    margin-left: 40px;
    color: #fff;

    @media @desktop {
      margin-left: 20px;
    }
  }

  &__news-title {
    height: @title-height;
    margin: 0;
    padding: 0 0 10px 20px;
    font-size: @font-size--large;
    font-weight: 100;
    color: @pink-light;

    display: flex;
    align-items: flex-end;

    @media @desktop {
      padding-left: 10px;
    }
  }

  &__right-sidebar {
    .inner-shadow-top();
    background-color: #333;
    width: 100%;
    margin: 0;
    padding: 20px;

    @media @desktop {
      .inner-shadow-top();
      .default-box-shadow();
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(40% ~'-' 20px);
      padding: @title-height 10px 10px;
    }
  }
}
