/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.user-home {
  @top: user-home;

  display: flex;
  background: @gray-3;

  @media @mobile {
    margin-left: -20px;
    margin-right: -20px;
    flex-direction: column;
  }

  &__beatmap-list-title {
    margin: 20px 0 10px;
    font-size: @font-size--title-small-3;
    color: @pink-light;
    font-weight: 100;
  }

  &__news {
    padding: 20px 0;

    @media @desktop {
      flex: 1 0 60%;
      padding: 20px;
    }
  }

  &__news-fetch-error {
    font-size: @font-size--normal;
    margin-left: 40px;
    color: #fff;

    @media @desktop {
      margin-left: 20px;
    }
  }

  &__news-posts {
    .default-box-shadow();

    &--collapsed {
      padding: 5px 0;
      background-color: @gray-2;
    }
  }

  &__news-title {
    font-size: @font-size--large;
    font-weight: 100;
    color: @pink-light;

    margin: 0;
    margin-bottom: 10px;
    margin-left: 20px;

    @media @desktop {
      margin-left: 10px;
    }
  }

  &__right-sidebar {
    width: 100%;
    overflow: hidden;

    margin: 0;
    padding: 0 20px;

    @media @desktop {
      padding: 0;
      margin: 20px;
      margin-left: 0;
      margin-top: 50px;
    }
  }
}
