.tocify-wrapper > img
  max-width: 150px;
  margin: 10px auto;

.authenticated
  padding: 1px 10px;
  text-shadow: none;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  border-radius: 9px;
  background-color: #3a87ad;
  display: block;
  width: max-content;
  margin-bottom: 1em;
