$default-font
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 13px

$main-bg = #f3f7f9
$nav-bg = #2e3336
$examples-bg = #2e3336
$lang-select-active-bg = $examples-bg

$code-bg = #1e2224
$code-annotation-bg = #191d1f
