.content
  h1
    font-size: 25px

  h4, h5, h6
    font-size: 12px

  blockquote
    padding: 0

    > p
      border: none
      padding: 13px 2em
      color: #eee
      border-radius: 0

  pre
    padding: 2em

    > code
      overflow: visible

  table
    td
      padding-top: 8px
      padding-bottom: 8px

    tr:nth-child(2n+1) > td
      background-color: #fff

    tr:nth-child(2n) > td
      background-color: #fbfcfd

.tocify-wrapper > img
  max-width: 150px
  margin: 10px auto

.scope
  padding: 1px 10px
  text-shadow: none
  font-size: smaller
  font-weight: bold
  white-space: nowrap
  color: #fff
  border-radius: 9px
  background-color: #87ad3a
  width: max-content
  text-decoration: none

  &--lazer
    background-color: #ba6436

  &--oauth
    background-color: #3a87ad

  .scope-list &
    margin-right: 5px

.scope-list
  display: flex
