/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

@node_root: "../../../node_modules";

@import "@{node_root}/font-awesome/less/font-awesome";

@import "@{node_root}/bootstrap/less/bootstrap";
@import 'bootstrap-overrides';

@import "@{node_root}/retina.js/src/retina";

@import (inline) "@{node_root}/qtip2/dist/jquery.qtip.css";
@import (inline) "@{node_root}/photoswipe/dist/photoswipe.css";
@import "photoswipe-fix";

@import "jquery-ui/slider";
@import "jquery-ui/theme";

@import "functions";
@import "base";
@import "keyframes";
@import "layout";
@import "bbcode";
@import "sections";
@import "notifications";
@import "wiki";
@import "store";
@import "forum/base";
@import "forum/badge";
@import "forum/colours";
@import "forum/create-topic";
@import "forum/edit-post";
@import "forum/post-box";
@import "icons";
@import "utilities";
@import "bem-index";

// Variables are imported last.
// Less has the rule "Last Defined Wins".
@import "bootstrap-variables";
@import "colors";
@import "variables";

@fa-font-path: "/vendor/fonts/font-awesome";
@extra-font-path: "/fonts/extra";
