/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

// main: compiled.less
@import "app";

blockquote {
  font-size: inherit;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h2 {
  font-weight: normal;
  margin: 10px 0 0 0;
}

h1, h2, h3, h4 {
  font-style: italic;
}

a {
  outline-style: none;
  &:link, &:visited, &:hover, &:active { outline-style: none; }

  text-decoration: none;
  &:hover { text-decoration: underline; }

  transition: color 80ms linear;
}

code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border-radius: 0;
}

a.object_link
{
  color: @gray !important;
}

@font-face {
  font-family: 'FontAwesomeExtra';
  src: url('@{extra-font-path}/extra.eot?1280178');
  src: url('@{extra-font-path}/extra.eot?1280178#iefix') format('embedded-opentype'),
       url('@{extra-font-path}/extra.woff2?1280178') format('woff2'),
       url('@{extra-font-path}/extra.woff?1280178') format('woff'),
       url('@{extra-font-path}/extra.ttf?1280178') format('truetype'),
       url('@{extra-font-path}/extra.svg?1280178#extra') format('svg');
  font-weight: normal;
  font-style: normal;
}

body .initially-hidden {
  display: none;
}

.clear {
  clear: both;
}

.large {
  font-size: 120%;
}

.form-control {
  .inset-box-shadow;
  border-radius: @input-border-radius;
  border: none;
  font-size: 14px;

  // otherwise missing shadow in iphone
  &[type="text"],
  &[type="password"] {
    -webkit-appearance: none;
  }

  &:focus {
    .inset-box-shadow;
  }
}

select.form-control {
    .default-box-shadow();
    font-weight: 700;

    &:focus {
      .default-box-shadow();
    }
  }

.btn-osu {
  &:extend(.btn all);
  .default-text-shadow();
  &, &:focus, &.focus, &:hover {
    color: #fff;
  }

  &, &:active, &.active {
    &:focus, &.focus {
      outline: none;
    }
  }

  &, &:active, &.active {
    .btn-bg;
    .default-box-shadow();
  }

  border: none;

  &--small {
    font-size: 12px;
    padding: 10px 20px;
  }

  &--lite {
    font-size: 12px;
    background-color: @gray-light;

    &, &:active, &.active {
      background-image: none;
    }

    &[disabled], &.disabled {
      background-color: @gray-lighter;
      color: #000;
    }
  }

  &--giant {
    .center-content();
    display: flex;
    width: 90%;
    height: 50px;
    max-width: 400px;
    margin-top: 20px;
  }

  &--post-editor {
    min-width: 120px;
    font-size: @font-size--normal;
    padding: 10px 20px;

    & + & {
      margin-left: 10px;
    }
  }

  &--profile-page-edit {
    width: 140px;
  }

  &--full-width {
    display: block;
    width: 100%;
  }

  &--textlike {
    background: none;
    box-shadow: none;
    &:active {
      background: none;
    }
  }

  &--tournament {
    font-size: @font-size--normal;
    padding: 10px 50px;
    margin: 0 10px;
  }

  &--stick-right {
    position: absolute;
    right: 0;
  }
}

.btn-osu(@main, @secondary) {
  background-color: @main;
  box-shadow: 0 10px @secondary, 0 7px 10px fade(#000, 80%);
  margin-bottom: 10px;

  transition: all .1s ease-in-out;

  &[disabled], &.disabled {
    background-color: lighten(@main, 20%);
    box-shadow: 0 10px lighten(@secondary, 30%), 0 7px 10px fade(#000, 60%);
  }

  &:focus {
    background-color: darken(@main, 5%);
    box-shadow: 0 10px darken(@secondary, 5%), 0 7px 10px fade(#000, 80%);
  }

  &:hover {
    background-color: darken(@main, 10%);
    box-shadow: 0 10px darken(@secondary, 10%), 0 7px 10px fade(#000, 80%);
  }

  &:active, &.active {
    transform: translate(0, 5px);

    background-color: darken(@main, 10%);
    box-shadow: 0 5px darken(@secondary, 10%), 0 5px 5px fade(#000, 80%);
  }
}

.btn-osu-default {
  .btn-osu(@blue-dark, @blue-darker);
}

.btn-osu-danger {
  .btn-osu(@pink, @pink-dark);
}

iframe {
  border: none;
}

label {
  text-transform: uppercase;
  font-size: 12px;
}

input[type="checkbox"], input[type="radio"] {
  margin: 2px 0 0;
}

.big-button {
  display: flex;
  justify-content: center;

  a, button {
    min-width: 220px;
    min-height: 35px;
  }
}

.btn-flat {
  border: none;
  background: transparent;
}

.shadow-selected {
  .thick-box-shadow;
}

.shadow-hover {
  .default-box-shadow();

  &:hover {
    .thicker-box-shadow();
  }
}

a[disabled] { &:extend(.btn[disabled]); }

.clickable-row { cursor: pointer; }

.visible-xs-flex {
  display: flex !important;

  @media @desktop {
    display: none !important;
  }
}

[data-visibility] {
  will-change: opacity;
  transition: opacity 120ms;

  &[data-visibility="hidden"] {
    opacity: 0;
    pointer-events: none;
    z-index: @z-index--visibility-hidden;
  }

  &[data-visibility-animation="none"] {
    will-change: unset;
    transition: none;
  }
}
