/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "app";

.bbcode {
  word-wrap: break-word;
  line-height: 1.5;

  h2,
  h4 {
    .default-font();
    font-style: normal;
    font-weight: bold;
  }

  // heading tag
  h2 {
    font-size: @font-size--forum-post-heading;
  }

  // quote tag
  h4 {
    font-size: @font-size--forum-quote-heading;
  }

  blockquote {
    font-size: inherit;
    padding-right: 0;
  }

  img {
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }

  .unordered {
    list-style-type: disc;
  }

  .spoiler {
    background-color: #000 !important;
    color: #000 !important;
  }

  .size-50 { font-size: 50%; }
  .size-85 { font-size: 85%; }
  .size-150 { font-size: 150%; }

  // overrides bootstrap styling for [notice]
  .well {
    margin: 0;
  }

  &--normal-line-height {
    line-height: inherit;
  }

  &__list-title {
    list-style: none;
    margin: 0;
  }

  &__video-box {
    max-width: 425px;
  }

  &__video {
    position: relative;
    padding-bottom: 75%;

    & iframe {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
