/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
// main: compiled.less
@import "app";

#beatmaps-listing {
	text-align: center;

	.beatmap-container {
		opacity: 1;

		&.dimmed {
			opacity: 0.2;
		}
	}

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	background: #eee;

	.sorting {
		text-align: left;
		margin-bottom: @spacing;
		font-size: 12px;
		a {
			margin-right: 15px;
			color: #555555;

			&.active {
				color: #DC62A5;
				font-weight: bold;
			}

			&.asc::after {
				content: ' \25b2'
			}

			&.desc::after {
				content: ' \25bc'
			}

		}
	}

	.beatmaps-load-more {
		padding-top: 10px;
		i {
			display: none;
		}

		&.no_more {
			display: none;
		}

		&.loading {
			a {
				display: none;
			}
			i {
				display: inline-block;
			}
		}
	}
}

#search {
	padding: 10px 50px 10px 50px;
	background: black;
	height: 250px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	margin-left: -20px;
	margin-right: -20px;

	.background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0.3;
	}

	.box
	{
		font-size: 100%;
		margin: 100px 0 20px 0;

		input:focus {
			outline: 0;
			border: solid 1px @pink-light;
			box-shadow: 0 0 10px @pink-lighter;
		}

		input {
			color: @beatmaps_colour;
			border: solid 1px #cccccc;
			padding: 10px 40px 10px 10px;
			margin: -10px;
			width: 100%;
			font-size: 125%;
			font-style: italic;
			font-weight: lighter;
		}

		i {
			font-size: 120%;
			position: absolute;
			right: 0;
			top: 0;
			padding: 5px 25px 5px 5px;

			color: #DC62A5;
		}
	}

	.selector {
		margin-top: 5px;
		.header {
			color: white;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 10px;
			width: inherit;
			width: 95px;
		}
		>a {
			color: @pink !important;
			margin-right: 12px;
			font-size: 13px;
			font-weight: normal;
			&.active {
				color: white !important;
			}
		}
	}

	.more {
		margin-top: 20px;
		a {
			color: white;
			font-size: 10px;
		}

		.toggle {
			.text-center;
		}

		.selector {
			opacity: 0;
		}
	}

	&.expanded {
		height: 300px;
		.more {
			margin-top: 0px;
			.toggle {
				display: none;
			}
			.selector {
				opacity: 1;
			}
		}
	}

}

.beatmap {
	display: inline-block;

	text-align: left;

	width: 100%;
	height: 175px;

	border-radius: 3px;

	background: #ffffff;

	&:hover {
		z-index: @z-index--beatmaps-panel;
	}

	.beatmap-panel {
		position: absolute;
		left: 0px;
		top: 0px;

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		border: none;

		width: 100%;
		height: 100px;

		.at2x('/images/layout/beatmaps/default-bg.png');
		background-position: center !important;
		background-size: cover !important;

		text-shadow: 0px 1px 2px fade(#000, 100%);
		font-weight: 400;
		color: #ffffff;
		font-style: italic;

		.bottom_left {
			position: absolute;
			top: 45px;
			left: 10px;
			z-index: @z-index--beatmaps-panel - 2;

			.title {
				font-size: 130%;
				height: 1.3em;
				overflow: hidden;
			}

			.artist {
				height: 1.3em;
				overflow: hidden;
			}

			.artist, .title {
				>span {
					width: 375px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					display: inline-block;
				}
			}
		}

		.top_right {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: @z-index--beatmaps-panel - 2;

			.stats {
				text-align: right;
				.plays, .favourites {
					span {
						padding-right: 10px;
					}
				}
				i { padding-right: 5px; }
			}
		}
		overflow: hidden;

		.thumb {
			color: white;
			display: block;
			height: 120px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom, fade(#000, 10%), fade(#000, 70%));
			}
		}
	}

	> .bottom_left {
		position: absolute;
		top: 105px;
		font-size: 70%;
		left: 10px;

		.creator {
			font-size: 14px;
		}
		.source {
			padding-top: 3px;
		}
	}

	> .bottom_right {
		position: absolute;
		bottom: 40px;
		right: 10px;

		opacity: 0;

		.object_link {
			padding: 5px;
		}
	}

	&:hover .show_on_hover {
		opacity: 1 !important;
	}

	.difficulties {
		left: 10px;
		top: 145px;

		.difficulty-icon {
			.icon-bg;
			&:extend(.default-box-shadow);

			color: #fff;
			.center-content;

			.circle(20px);
			padding: 0px;
			margin-right: 5px;
		}

		.easy {
			background-color: #aadd00;
		}

		.normal {
			background-color: #ffcc22;
		}

		.hard {
			background-color: #ff66aa;
		}

		.insane {
			background-color: #8866ee;
		}

		.expert {
			background-color: #000;
		}
	}
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'osu';
		src: url('../font/osu.svg?72605884#osu') format('svg');
	}
}
*/

 [class^="mode-"]:before, [class*=" mode-"]:before {
	font-family: "osu";
	font-style: normal;
	font-weight: normal;
		font-size: 22px;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mode-osu:before { content: '\e800'; } /* '' */
.mode-fruits:before { content: '\e801'; } /* '' */
.mode-mania:before { content: '\e802'; } /* '' */
.mode-taiko:before { content: '\e803'; } /* '' */
