/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

@purple-lighter: #eeeeff;
@purple-light: #aa88ff;
@purple: #8866ee;
@purple-dark: #6644cc;
@purple-darker: #441188;

@pink-lighter: #ffddee;
@pink-light: #ff99cc;
@pink: #ff66aa;
@pink-dark: #cc5288;
@pink-darker: #bb1177;

@blue-lighter: #ddffff;
@blue-light: #99eeff;
@blue: #66ccff;
@blue-dark: #44aadd;
@blue-darker: #2299bb;

@yellow-lighter: #ffffdd;
@yellow-light: #ffdd55;
@yellow: #ffcc22;
@yellow-dark: #eeaa00;
@yellow-darker: #cc6600;

@green-lighter: #eeffcc;
@green-light: #b3d944;
@green: #88b300;
@green-dark: #668800;
@green-darker: #445500;

@red-lighter: #FFEDED;
@red-light: #ED7887;
@red: #ED1221;
@red-dark: #BA0011;
@red-darker: #870000;

// https://about.twitter.com/press/brand-assets
@twitter-colour: #1da1f2;
// used the blue from the top bar on facebook, https://www.facebookbrand.com is useless and doesn't list colors
@facebook-colour: #3b5998;
// .sc-orange on https://soundcloud.com ¯\_(ツ)_/¯
@soundcloud-colour: #f50;
// bandcamp "green" from the provided buttons at https://bandcamp.com/buttons
@bandcamp-colour: #61929c;
// spotify "Green*" from https://developer.spotify.com/design/
@spotify-colour: #1DB954;
// patreon orange from the provided logos at https://www.patreon.com/toolbox/media
@patreon-colour: #e6461a;
// youtube red from https://www.youtube.com/yt/brand/ (yes it's supposed to be rgb(255,0,0) - my poor eyes...)
@youtube-colour: #ff0000;

// just for reference, from bootstrap's variables.less
// @gray-base:              #000;
// @gray-darker:            lighten(@gray-base, 13.5%); // #222
// @gray-dark:              lighten(@gray-base, 20%);   // #333
// @gray:                   lighten(@gray-base, 33.5%); // #555
// @gray-light:             lighten(@gray-base, 46.7%); // #777
// @gray-lighter:           lighten(@gray-base, 93.5%); // #eee

// osu!palette 2016
@gray-blue: #35444f;
@gray-blue-dark: #293336;
@gray-blue-darker: #181f21;

@dark-purple-lighter: #ebb8fe;
@dark-purple-light: #cba4da;
@dark-purple: #bf04ff;
@dark-purple-dark: #312436;
@dark-purple-darker: #201823;

// osu!palette 2017(?)
@gray: #262626;
@gray-dark: #1A1A1A;
@gray-darker: #0E0E0E;

// osu!palette 2018 :rolling_eyes:
@community-blue:  #0481ff;
@community-blue-lighter: mix(white, @community-blue, 75%);
@community-blue-dark:    #343c44;
@community-blue-darker:  #2b3035;
@community-blue-darkest: #202326;
@community-blue-bg:      #222;

// community events(?) palette idk (used for contest and tournaments)
@community-grayblue-page-background: #1A2223;
@community-grayblue-tile-background: #323E41;
@community-grayblue-text: #93B8C4;

.colors(@name) {
  @lighter: "@{name}-lighter";
  @light: "@{name}-light";
  @dark: "@{name}-dark";
  @darker: "@{name}-darker";

  .@{name}-lighter { color: @@lighter !important; }
  .@{name}-light { color: @@light !important; }
  .@{name}-normal { color: @@name !important; }
  .@{name}-dark { color: @@dark !important; }
  .@{name}-darker { color: @@darker !important; }
}

.colors(pink);
.colors(green);
.colors(blue);
.colors(yellow);
.colors(purple);

@pink-text: @pink-dark;
@green-text: @green-darker;
@blue-text: @blue-darker;
@yellow-text: @yellow-darker;
@purple-text: @purple-darker;
@gray-text: @gray-darker;

@link-gray-light: #ccc;
@link-gray-light-hover: #eee;
