/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, version 3 of the License.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
@download-button-diameter: 282px/2;

.home_getDownload { &:extend(.text-center); }

#download-header {
  background-image: url(/images/download-header.png);
  height: 270px;
  overflow: hidden;

  &:extend(.default-text-shadow);
  color: #fff;
  font-style: italic;
  font-weight: 300;

  > p {
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      font-size: 40px;
      margin-top: 40px;
      margin-left: -150px;
    }
    &:nth-child(2) {
      font-size: 80px;
      margin-top: 48px;
      margin-left: 100px;
    }
    &:nth-child(3) {
      font-size: 20px;
      margin-top: 146px;
    }
  }
}

#download-button {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -@grid-gutter-width/8;

  a {
    display: block;
    margin-top: -@download-button-diameter/2;
  }

  img {
    width: @download-button-diameter;
    height: @download-button-diameter;
    .circle(@download-button-diameter);
    &:extend(.default-box-shadow);
    overflow: hidden;
  }
}

#download-steps {
  padding-top: @grid-gutter-width/2 + @download-button-diameter/2;

  h1 {
    font-size: 28px;
    margin: 0px;
  }

  p {
    margin-top: @grid-gutter-width/4;
  }

  > div {
    margin-bottom: @grid-gutter-width/2;

    &:last-child { margin-bottom: 0px; }
  }
}

#download-guides {
  padding: 0px;

  .explanation {
    padding: @grid-gutter-width/2;
    @media @desktop {
      padding: @grid-gutter-width/2 200px;
    }
  }
}
