/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
// main: compiled.less

*, ::before, ::after {
  position: relative;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: @pink;
}

html, body {
  height: 100%;
}

body {
  .at2x("/images/backgrounds/page-light.png", 500px, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px @grid-gutter-width/2;
}

.content-extra {
  box-shadow: inset 0 2px 4px #333;
  margin-top: @grid-gutter-width/4;
  margin-bottom: -@grid-gutter-width * 3 / 4;
  width: 100%;
  padding-top: @grid-gutter-width/2;
  .at2x("/images/backgrounds/page-555.png");
}

.header-row {
  background-size: cover;
  background-position-x: 50%;
}

.row-page {
  &:extend(.row);
  &:extend(.default-box-shadow);

  padding: @grid-gutter-width/2;
  background-color: #fff;
  margin-bottom: 10px;

  width: 100%;
  @media @desktop {
    width: @container-sm;
  }
}

.row-blank {
  box-shadow: none;
  background: transparent;
  padding: 0px;
}

.row-group {
  margin-left: @grid-gutter-width/2;
  margin-right: @grid-gutter-width/2;
  width: @container-sm - @grid-gutter-width;

  padding: 0px;
  box-shadow: none; // added by .row-group
}

.row-subgroup {
  &:extend(.default-box-shadow);
  padding: @grid-gutter-width/2;
}

.row-subgroup--extra-padding {
  padding: @grid-gutter-width/2 @grid-gutter-width;
}

.row-subgroup--large {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;
  background: #fff;
}

#overlay {
  backface-visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9990;
  background-color: black;
  opacity: 0.4;

  left: 0px;
  top: 0px;
}

.blackout {
  &:extend(#overlay);
  z-index: 8000;
}

#popup-container {
  backface-visibility: hidden;
  position: fixed;
  width: 100%;
  top: 155px;
  z-index: 9999;

  .alert {
    border: none;
    &:extend(.default-box-shadow);
  }

  .popup-text {
    vertical-align: middle;
    font-weight: 700;
  }
}

.alert-inline {
  margin: 20px;
  border: none;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  &:extend(.default-box-shadow);
}

.fixed-bar-container {
  max-width: @container-sm;
}

.fixed-bar-rows-bottom {
  backface-visibility: hidden;
  z-index: 10;
  position: fixed;
  max-width: @container-sm;
  width: 100%;
  bottom: 0px;
}
