/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
#login-modal {
	// FIXME: Chrome sometimes fail painting the login box without this
	backface-visibility: hidden;

	.modal-dialog {
		width: 430px;
		border-radius: 5px 5px 0px 0px;
		overflow: hidden;
		color: @text-color;
	}

	.modal-content {
		border: none;
		border-radius: 0px;
		background: none;

		> * {
			padding: @grid-gutter-width/4;
		}
	}

	.modal-header {
		.at2x("/images/headers/login-box.jpg", 430px, 60px);
		height: 60px;

		h1 {
			&:extend(.default-text-shadow);

			font-style: normal;
			font-size: 24px;
			color: #fff;

			position: absolute;
			margin: @grid-gutter-width/4;
			bottom: 0px;
			left: 0px;
		}
	}

	.modal-body {
		background-color: #fff;

		> * {
			margin: @grid-gutter-width/4 0px;

			&:first-child {
				margin-top: 0px;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}

		h2 {
			font-size: 18px;
			font-style: normal;
			color: @text-color;
		}

		p {
			display: block;
			font-size: 12px;
		}
	}
}

#login-form {
	display: flex;
	align-items: stretch;

	flex-wrap: wrap;
	@media @desktop {
		flex-wrap: nowrap;
	}

	.login-input {
		flex: 0 1 100%;

		input:last-child {
			margin-top: @grid-gutter-width/8;

			&:first-child {
				margin-top: 0px;
			}
		}
	}

	.login-button {
		flex: 1 0 105px;

		margin-top: @grid-gutter-width/8;
		@media @desktop {
			margin-left: @grid-gutter-width/4;
			margin-top: 0px;
		}
	}
}

.js-login-box {
	position: absolute;
}

.js-login-centre {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	right: 0px !important;
}
