/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

// main: compiled.less
@import "app";

.fn-section(admin, gray);
.fn-section(admin-forum, gray);
.fn-section(admin-store, gray);
.fn-section(beatmaps, pink);
.fn-section(beatmapsets, pink);
.fn-section(community, pink);
.fn-section(error, pink);
.fn-section(help, yellow);
.fn-section(home, purple);
.fn-section(multiplayer, pink);
.fn-section(rankings, green);
.fn-section(store, pink);
.fn-section(user, blue);

.fn-section(@section, @color-name) {
  @_lighter: "@{color-name}-lighter";
  @_light: "@{color-name}-light";
  @_dark: "@{color-name}-dark";
  @_darker: "@{color-name}-darker";
  @_text: "@{color-name}-text";

  @_bg: @@_darker;

  .t-section-@{section} {
    .u-section--bg {
      background-color: @_bg !important;
    }

    .u-section--bg-normal {
      background-color: @@color-name !important;
    }

    .u-section--color-hover {
      &:focus,
      &:hover,
      &:active {
        color: @_text !important;
      }
    }

    .u-section--gradient-down {
      // the parts after 50% are for the header size transition.
      background-image: linear-gradient(fade(@_bg, 90%) 0%, @_bg 37.5%, @_bg 50%, #222 50%, #222 100%);
      background-size: 200% 200%;
    }
  }

  .u-section-@{section}--bg {
    background-color: @_bg !important;
  }

  .u-section-@{section}--before-bg-normal {
    &::before {
      background-color: @@color-name !important;
    }
  }
}

.fn-changelog-stream(stable);
.fn-changelog-stream(stable-fallback);
.fn-changelog-stream(beta);
.fn-changelog-stream(cutting-edge);
.fn-changelog-stream(lazer);
.fn-changelog-stream(lazer-experimental);
.fn-changelog-stream(web);
.fn-changelog-stream(wiki);

.fn-changelog-stream(@stream) {
  @color-name: "changelog-stream--@{stream}";

  .t-changelog-stream--@{stream} {
    .u-changelog-stream--bg {
      background-color: @@color-name;
    }

    .u-changelog-stream--text {
      color: @@color-name;
    }
  }
}
