/**
 *    Copyright 2015-2016 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
// main: compiled.less
@import "app";

.fn-section(admin, @gray-darker, @gray-text);
.fn-section(beatmaps, @pink-darker, @pink-text);
.fn-section(beatmapsets, @pink-darker, @pink-text);
.fn-section(community, @pink-darker, @pink-text);
.fn-section(error, @pink-darker, @pink-text);
.fn-section(help, @yellow-darker, @yellow-text);
.fn-section(home, @purple-darker, @purple-text);
.fn-section(multiplayer, @pink-darker, @pink-text);
.fn-section(ranking, @green-darker, @green-text);
.fn-section(store, @pink-darker, @pink-text);
.fn-section(user, @blue-darker, @blue-text);

.fn-section(@section, @bg-color, @text-color) {
  .t-section-@{section} {
    .u-section--bg {
      background-color: @bg-color !important;
    }

    .u-section--color-hover {
      &:focus,
      &:hover,
      &:active {
        color: @text-color !important;
      }
    }

    .u-section--gradient-down {
      background-image: linear-gradient(fade(@bg-color, 90%) 0%, @bg-color 75%, @bg-color 100%) !important;
    }
  }

  .u-section-@{section}--bg {
    background-color: @bg-color !important;
  }
}
