/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
@import "app";

.tournament {
  .default-box-shadow;

  display: flex;

  margin: 10px auto;

  max-width: 640px;
  min-height: 150px;

  .title {
    font-weight: bold;
    font-size: 25px;
    color: @pink-text;
  }

  .dates-tournament {
    font-weight: bold;
    color: @pink-text;
  }

  .dates-reg {
    font-weight: bold;
    padding-top: 10px;
  }

  .mode {
    width: 150px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    .at2x("/images/backgrounds/watercolour-square-blue.jpg", 150px, 150px);

    background-size: auto 100%;

    font-size: 70px;
    .default-text-shadow;
  }

  .info {
    padding: 25px;
  }
}
