/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
@import "app";

@profile-header-height: 250px;
@profile-user-bar-height: 60px;
@profile-avatar-size: 110px;

.profile-header {
  background-color: transparent;
  height: @profile-header-height;
  padding: 0px;
}

.profile-cover {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;

  transition: background-image 0.2s ease-in-out;

  @media @desktop {
    opacity: 1;
  }
}

.user-bar-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: fade(#fff, 80%);
  height: @profile-user-bar-height;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.profile-avatar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-bottom: @profile-user-bar-height;

  @media @desktop {
    height: @profile-user-bar-height;
    padding-bottom: 0px;
    bottom: 0px;
    top: auto;

    width: @profile-avatar-size;
    margin-left: @grid-gutter-width * 3 / 4;
  }

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-basic {
  margin: 0px;
  padding: 0px;

  color: @gray;
  font-size: 12px;
  font-style: normal;
  line-height: 1.1;

  &--large {
    font-size: 24px;
  }
}

.profile-tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1px;

  &::after {
    content: " ";

    position: absolute;
    top: 100%;
    left: 0px;

    width: 100%;
    height: 1px;

    background-image:linear-gradient(to left, transparent 10%, #ddd 50%, transparent 90%);
  }
}

.profile-tab {
  margin: 0px @grid-gutter-width/4;
  padding: @grid-gutter-width/8 0px;
  border-bottom: @grid-gutter-width/8 solid transparent;

  font-weight: bold;
  font-size: 14px;
  color: @text-color;

  &:hover, &:active, &:focus {
    color: @pink-darker;
    text-decoration: none;
  }

  &--active {
    color: @pink-darker;
    font-weight: 900;
    border-bottom-color: @pink-darker;
  }
}

.profile-contents {
  width: 100%;

  font-size: 14px;
}

.profile-content {
  padding-top: @grid-gutter-width/2;
  padding-bottom: @grid-gutter-width/4;

  @media @desktop {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-image: linear-gradient(to top, #ccc, transparent 80%) 1;

    &:last-child {
      border: none;
    }
  }
}

.profile-row {
  margin-bottom: @grid-gutter-width/4;
  padding: 0px @grid-gutter-width/4;

  &--top {
    margin-bottom: @grid-gutter-width/2;
  }
}

.profile-icons {
  display: flex;
  justify-content: center;
}

.profile-icon {
  .circle(50px);
  border-width: 5px;
  font-size: 20px;
}

.profile-data {
  > dt {
    font-weight: normal;
    font-size: 12px;
  }

  > dd {
    font-weight: bold;
    margin-bottom: @grid-gutter-width/4;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.profile-title {
  font-weight: bold;

  &--supporter {
    color: @pink-dark;
  }
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: @grid-gutter-width/8;

  > dt {
    font-weight: normal;
  }

  > dd {
    font-weight: bold;
  }

  &--light > dd {
    margin-bottom: 0px;
    font-weight: normal;
  }

  &--full {
    flex-direction: column;
  }
}

@profile-badge-size: 50px;

.profile-top-badge {
  height: @profile-badge-size;
  margin-bottom: @grid-gutter-width/8;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
}

.profile-level-badge {
  .at2x("/images/badges/levelbadge.png", @profile-badge-size, @profile-badge-size);
}

.profile-achievements-badge {
  .at2x("/images/badges/achievements.png", @profile-badge-size, @profile-badge-size);
}

.profile-badge-number {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  top: 6px;
}

.profile-exp-bar {
  height: 10px;
  background: #ddd;
  margin-bottom: @grid-gutter-width/8;
}

.profile-exp-bar-fill {
  background: @blue-dark;
  height: 100%;
}

.user-rank {
  text-align: right;
}

.user-rank-icon {
  margin-right: @grid-gutter-width/4;
  top: -1px;
}

.profile-change-cover-button {
  &:extend(.default-border-radius);
  &:extend(.default-text-shadow);

  position: absolute;
  bottom: @grid-gutter-width/4 + @profile-user-bar-height;
  right: @grid-gutter-width/4;
  padding: @grid-gutter-width/8 @grid-gutter-width/4;

  font-size: 12px;
  font-weight: bold;

  background-color: fade(#000, 50%);
  color: #fff;

  cursor: pointer;

  display: none;
  @media @desktop {
    display: block;
  }
}

@profile-cover-thumb-size: 85px;

.profile-change-cover-popup {
  &:extend(.default-border-radius);
  &:extend(.default-box-shadow);

  position: absolute;
  top: @profile-header-height - @profile-user-bar-height + @grid-gutter-width/4;
  right: @grid-gutter-width/4;
  width: @profile-cover-thumb-size*3 + @grid-gutter-width/8*2 + @grid-gutter-width/4*2;

  background: #fff;

  z-index: 8001;

  font-size: 10px;
  text-align: center;

  &__drop-overlay {
    &:extend(.default-border-radius);
    .fade-element(120ms);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: fade(#000, 50%);
    color: #fff;
    font-size: 24px;
    padding: @grid-gutter-width/2;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    user-select: none;

    &--hover {
      background-color: fade(#000, 70%);
    }

    &--hidden {
      opacity: 0;
    }

    &--inactive {
      display: none;
    }

  }
}

.profile-change-cover-defaults {
  display: flex;
  flex-wrap: wrap;

  margin-right: -@grid-gutter-width/8;
  margin-bottom: -@grid-gutter-width/8;
  padding: @grid-gutter-width/4;
}

.profile-cover-upload {
  padding: @grid-gutter-width/4;
  padding-right: @grid-gutter-width/8;
  border-top: 1px solid #ccc;

  &__button {
    text-transform: none;
    height: 30px;
    margin-right: @grid-gutter-width/8;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.profile-cover-upload-info {
  padding: @grid-gutter-width/4;
  margin-bottom: -@grid-gutter-width/4;
}

.profile-cover-upload-info-entry {
  margin-bottom: @grid-gutter-width/8;
}

.profile-cover-selection {
  flex: 0 0 @profile-cover-thumb-size;
  height: @profile-cover-thumb-size;
  margin-right: @grid-gutter-width/8;
  margin-bottom: @grid-gutter-width/8;

  cursor: pointer;
  background-size: cover;

  &__selected-mark {
    &:extend(.default-text-shadow);
    color: #fff;
    font-size: 24px;

    position: absolute;
    bottom: @grid-gutter-width/4;
    left: @grid-gutter-width/4;
  }
}

.profile-cover-selections-info {
  padding: @grid-gutter-width/4;
  margin-bottom: 0px;
  width: 100%;
}

.profile-cover-uploading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: @profile-user-bar-height;

  font-size: 80px;
  color: #fff;
  background: fade(#000, 70%);
}

.profile-score-ranks {
  display: flex;
  justify-content: space-between;

  padding-top: @grid-gutter-width/4;
}

.profile-score-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-recent-achievements {
  text-align: center;
}

.profile-user-page-header {
  margin-bottom: @grid-gutter-width/8;
  display: flex;
  justify-content: flex-end;
}

.profile-page-new-content {
  margin-bottom: 40px;
}

.profile-page-new-icon {
  font-size: 125px;
}

.profile-page-editor {
  padding-bottom: 0px;
  flex: 1 0 auto;
}

.profile-page-editor-body {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  min-height: 200px;
  font-family: @font-family-monospace;
}
