/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.u-blackout-visible {
  z-index: @z-index--blackout-visible !important;
}

.u-ellipsis-overflow {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.u-ellipsis-overflow-desktop {
  @media @desktop {
    .u-ellipsis-overflow();
  }
}

// so elements with anchors as subelements don't create stacking contexts
// that block each other.
.u-has-anchor {
  position: static;
}

.u-hidden {
  display: none !important;
}

.u-hide-by-height {
  height: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
}

.u-nav-float {
  z-index: @z-index--nav-float !important;
}
