@import "app";

@desktop: ~"(min-width: @{screen-sm-min})";
@screen-large: ~"(min-width: @{screen-lg-min})";
@mobile: ~"(max-width: @{screen-sm-min})";

@spacing: 10px;

@padding-big: 130px;

@navbar-mobile--content-height: @navbar-height - (@navbar-padding-vertical * 2);

@z-index--visibility-hidden: 0;
@z-index--body-background: 0;
@z-index--beatmaps-panel: 4;
@z-index--profile-extra-tabs: 5;
// navbar-static-top: 1000 (bootstrap nav for mobile)
@z-index--forum-topic-headernav: 1001;
@z-index--fixed-bar: 1001;
@z-index--blackout: 8000;
@z-index--blackout-visible: 8001;
@z-index--editor-zoom: 9999;

@forum-category-colour--osu-bg: @pink;
@forum-category-colour--osu-link: @pink-text;
@forum-category-colour--osu-link-hover: @pink;

@forum-category-colour--language-specific-bg: @yellow;
@forum-category-colour--language-specific-link: @yellow-text;
@forum-category-colour--language-specific-link-hover: @yellow-dark;

@forum-category-colour--other-bg: @green;
@forum-category-colour--other-link: @green-text;
@forum-category-colour--other-link-hover: @green;

@forum-category-colour--beatmaps-bg: @purple;
@forum-category-colour--beatmaps-link: @purple-text;
@forum-category-colour--beatmaps-link-hover: @purple;

@forum-category-colour--osu-bg: @pink;
@forum-category-colour--osu-link: @pink-text;
@forum-category-colour--osu-link-hover: @pink;

@forum-category-colour--management-bg: @gray;
@forum-category-colour--management-link: @gray-text;
@forum-category-colour--management-link-hover: @gray;
