.user-tag-picker-button {
  &__picker {
    position: absolute;
    right: 0;
    top: 55px; // roughly the height of the input container plus some padding

    z-index: @z-index--beatmapsets-search-tag-picker;
  }
}
