/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

@forum-topic-navigator-diameter: 80px;
@forum-search-diameter: 30px;

body.community {
  &.action-forum-forums-show,
  &.action-forum-forums-index,
  &.action-forum-topics-show,
  &.action-forum-topics-create {
    &::before {
      .at2x("/images/backgrounds/page-ddd.png");
    }
  }
}

.forum-category {
  .default-box-shadow();

  background: fade(#000, 80%);
  margin-bottom: 10px;

}

.forum-pagination {
  padding: 10px;
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    text-align: center;
    > li {
      display: inline-block;
      span { font-weight: bold; }

      &.active span {
        background: none;
        color: @gray;
      }

      a, span {
        display: block;
        padding: 5px;
        color: @gray;
        font-size: 12px;

        &, &:hover {
          text-decoration: none;
        }
      }
    }

    &.forum-pagination-prevnext {
      font-weight: bold;

      a, span {
        font-size: 16px;
        padding: 0 10px;
      }
    }
  }
}

.forums {
  @_top: forums;

  background: #fff;
  list-style: none;
  padding: 5px;
  margin: 0 -20px;

  .name { font-size: 16px; }
  .description { font-size: 12px; }

  &__colour-stripe {
    .full-size();
    width: 10px;
    .fade-element(120ms);
    will-change: transform;
    transform-origin: 0;

    .@{_top}__forum:hover & {
      transform: scaleX(2.5);
    }
  }

  &__forum-topic-link {
    font-weight: bold;
    display: block;
  }

  &__hover-bar {
    flex: none;
    width: 25px;
  }

  &__hover-bar-icon {
    .full-size();
    opacity: 0;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    will-change: opacity;

    .@{_top}__forum:hover & {
      opacity: 1;
    }
  }

  &__forum {
    margin: 5px 5px;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    &::before, &::after {
      .full-size();
      content: ' ';
      pointer-events: none;
      will-change: opacity;
      transition: all 25ms ease-out;
    }

    &:hover {
      &::before, &::after {
        transition: all 50ms ease-out;
      }
    }

    &::before {
      .default-box-shadow();
    }

    &:hover::before {
      opacity: 0;
    }

    &::after {
      z-index: 100; // to push shadow up
      .thicker-box-shadow();
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }

    .left, .right {
      padding: 10px;
    }

    .left {
      background-color: #fff;
      flex: 0 1 100%;
      align-self: center;

      .name {
        font-size: 16px;
      }

      .subforums {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          padding-right: 10px;
          display: inline-block;

          .name {
            i { margin-right: 5px; }
            font-size: 12px;
          }
          font-weight: bold;
        }
      }
    }

    .right {
      // for some reason required in ie for text-overflow to work correctly
      // otherwise this div (and children)'s width would just extend beyond
      // the parent div
      .right-content {
        width: 100%;
      }

      flex: none;
      width: 300px;
      background-color: @gray-lighter;
      display: flex;
      align-items: center;

      font-size: 12px;
      .last-post {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

  }
}

.forum__issue-icons {
  flex: none;
  display: flex;
  padding: 5px 5px 0;
  order: 1;

  @media @desktop {
    align-self: center;
    order: 0;
    padding-top: 0;
  }
}

.forum__avatar-container {
  padding: 5px;
  box-shadow: 0 2px 5px fade(#000, 30%);
  .default-border-radius();
  background-color: #fff;
}

.forum__avatar-container--reply {
  align-self: flex-start;
  flex: none;
  width: 80px;
  margin-right: 10px;
}

#forum-search {
  z-index: 100;
  .default-box-shadow();
  color: #fff;
  text-decoration: none;

}

.forum-search-logo {
  .circle(@forum-search-diameter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

#forum-search-modal .modal-dialog {
  margin: 0;
  position: absolute;
  width: auto;
  .modal-content {
    background-color: darken(@gray-lighter, 7%); // #ddd
    border: none;
    font-size: 12px;
    font-weight: bold;
    .default-box-shadow();
  }

  .modal-body {
    padding: 10px 10px 40px;
  }

  .modal-footer {
    border: none;
    padding: 0;

    .forum-search-logo {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0;
      color: darken(@gray-lighter, 20%); // #bbb
    }
  }

  h2 {
    text-transform: uppercase;
    color: @gray;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  label {
    text-transform: none;

    &.flex-checkbox {
      display: flex;
      align-items: center;
    }
  }

  .text-addon-append {
    .default-box-shadow();
    .default-border-radius();
    background: #fff;
    display: flex;
    padding: 5px;
    margin: 10px 0;

    > * {
      border: none;
      border-radius: 0;
      box-shadow: none;
      background: none;
      font-size: 20px;
      padding: 0 5px;
    }

    input {
      font-style: italic;
      padding: 0;
    }

    button {
      color: @pink-text;
      display: flex;
      align-items: center;
      &, * { font-weight: bold; }
    }

    span {
      align-self: center;
      font-weight: normal;
    }
  }
}

#forum-topic-navigator {
  position: absolute;

  bottom: 10px;
  right: 10px;
  @media @desktop {
    right: (40px - @forum-topic-navigator-diameter / 2);
    bottom: 20px;
  }

  .circle(@forum-topic-navigator-diameter);
  .default-box-shadow();
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;

  justify-content: center;
  text-align: center;

  > * { flex: none; }

  .jump-link {
    font-size: 10px;
    color: @gray-dark;
  }
}

.forum-posts-load-link {
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  a, i {
    color: #000;
  }

  i { font-size: 24px; }

  span { display: none; }

  &.loading {
    a { display: none; }
    span { display: block; }
  }
}

.forum__poster-box {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0;
  .default-border-radius();
  background-color: @blue-darker;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.forum__poster-box--extra {
  margin-top: 5px;
  padding: 10px;
}

.forum__poster-box__link {
  &, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.forum__info-row {
  margin-bottom: 10px;
  flex: none;
}
