/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License version 3
*    as published by the Free Software Foundation.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
@forum-topic-navigator-diameter: 80px;
@forum-search-diameter: 30px;

body.community {
  &.action-forum-forums-show,
  &.action-forum-forums-index,
  &.action-forum-topics-show,
  &.action-forum-topics-create {
    &::before {
      .at2x("/images/backgrounds/page-ddd.png");
    }
  }
}

.action-forum-forums-show {
  h2 {
    color: @gray;
    font-size: 16px;
    padding-bottom: @grid-gutter-width/8;
  }
}

.pippy {
  position: absolute;

  .at2x("/images/layout/forum-top-pippy.png", 924px, 210px);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 210px;

  // 24px is the protruding part
  background-position: calc(100% ~'-' (@grid-gutter-width - 24px)) 0;
  background-repeat: no-repeat;
  z-index: 2;
}

.forum-header {
  a { .white-link(100%); }

  > div {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    padding: 0px @grid-gutter-width/4;
    @media @desktop {
      padding: 0px 100px;
    }
  }
}

.forums-breadcrumb {
  background: none;
  margin: 0px;
  padding: @grid-gutter-width/4 0px;

  li::before {
    display: none;
  }

  li::after {
    content: "»";
    color: #fff;
    display: inline-block;
    margin: 0px @grid-gutter-width/8;
  }
}

#forum-index-header {
  .at2x-simple("/images/headers/forum-top.png");
  background-size: 1350px 200px;
  background-position: 0 0;
  height: 200px;

  .text-area {
    position: absolute;
    width: 100%;
    // the diameter of circle thing (more or less)
    max-width: 740px;
    left: 0;
    bottom: 0;

    // the thickness of the circle (more or less)
    padding: 0px 70px;
  }

  .text {
    text-align: center;

    h1, h2 {
      .default-text-shadow;
      color: #fff;

      font-style: normal;
    }

    h1 { font-size: 32px; }
    h2 { font-size: 16px; }
  }
}

@topic-header-height: 200px;
@topic-header-sticky-height: 60px;

.js-forum__sticky-header-marker {
  position: absolute;
  top: @topic-header-height - @topic-header-sticky-height;
}

.forum-category {
  &:extend(.default-box-shadow);

  background: fade(#000, 80%);
  margin-bottom: @grid-gutter-width/4;

}

.forum-pagination {
  padding: @grid-gutter-width/4;
  > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    text-align: center;
    > li {
      display: inline-block;
      span { font-weight: bold; }

      &.active span {
        background: none;
        color: @gray;
      }

      a, span {
        display: block;
        padding: @grid-gutter-width/8;
        color: @gray;
        font-size: 12px;

        &, &:hover {
          text-decoration: none;
        }
      }
    }

    &.forum-pagination-prevnext {
      font-weight: bold;

      a, span {
        font-size: 16px;
        padding: 0px @grid-gutter-width/4;
      }
    }
  }
}

.forums .user-name, .topics .user-name {
  font-weight: bold;
}

.forums {
  @_top: ~"forums";

  background: #fff;
  list-style: none;
  padding: @grid-gutter-width/8;
  margin: 0px -@grid-gutter-width/2;

  .name { font-size: 16px; }
  .description { font-size: 12px; }

  .last-post {
    font-weight: bold;
  }

  &__colour-stripe {
    .full-size();
    width: 10px;
    .fade-element(120ms);
    will-change: transform;
    transform-origin: 0;

    .@{_top}__forum:hover & {
      transform: scaleX(2.5);
    }
  }

  &__hover-bar {
    flex: none;
    width: 25px;
  }

  &__hover-bar-icon {
    .full-size();
    opacity: 0;
    color: @grey-f;

    display: flex;
    align-items: center;
    justify-content: center;

    will-change: opacity;

    .@{_top}__forum:hover & {
      opacity: 1;
    }
  }

  &__forum {
    margin: @grid-gutter-width/8 @grid-gutter-width/8;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    &::before, &::after {
      .full-size();
      pointer-events: none;
      will-change: opacity;
      transition: all 25ms ease-out;
    }

    &:hover {
      &::before, &::after {
        transition: all 50ms ease-out;
      }
    }

    &::before {
      .default-box-shadow();
    }

    &:hover::before {
      opacity: 0;
    }

    &::after {
      z-index: 100; // to push shadow up
      .thicker-box-shadow();
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }

    .left, .right {
      padding: @grid-gutter-width/4;
    }

    .left {
      background-color: #fff;
      flex: 0 1 100%;
      align-self: center;

      .name {
        font-size: 16px;
      }

      .subforums {
        list-style: none;
        margin: 0px;
        padding: 0px;

        > li {
          padding-right: @grid-gutter-width/4;
          display: inline-block;

          .name {
            i { margin-right: 5px; }
            font-size: 12px;
          }
          font-weight: bold;
        }
      }
    }

    .right {
      // for some reason required in ie for text-overflow to work correctly
      // otherwise this div (and children)'s width would just extend beyond
      // the parent div
      .right-content {
        width: 100%;
      }

      flex: none;
      width: 300px;
      background-color: @gray-lighter;
      display: flex;
      align-items: center;

      font-size: 12px;
      .last-post {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

  }
}

.topics-container {
  padding: 0px @grid-gutter-width/4;

  @media @desktop {
    padding: 0px @grid-gutter-width/2;
  }
}

.topics {
  list-style: none;

  padding: 0px 0px @grid-gutter-width/2;

  font-size: 12px;

  li {
    &:hover::before {
      transition: none;
      background: @gray-lighter;
    }

    &::before {
      transition: all 250ms ease;
      content: " ";
      position: absolute;
      background: none;

      height: 100%;
      width: auto;

      top: 0px;
      left: -@grid-gutter-width/4*3;
      right: -@grid-gutter-width/4*3;
      @media @desktop {
        left: -@grid-gutter-width;
        right: -@grid-gutter-width;
      }
    }

    display: flex;
    align-items: center;

    border-bottom: 1px solid #ccc;

    justify-content: space-between;

    padding: @grid-gutter-width/4 0px;

    &.new-topic {
      .read-and-type-icon a {
        background-color: @blue-darker;
      }
      .fa-plus {
        margin-top: 0px;
      }
    }

    .lock-status-icon {
      position: absolute;
      left: -20px;
      top: 0px;
      width: 20px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      i {
        display: none;
        font-size: 16px;
      }

      &.locked {
        i { display: inline; }
      }
    }

    .read-and-type-icon {
      flex: 0 0 32px;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover { text-decoration: none; }

        .circle(32px);

        background-color: @gray-light;
        background-image: url("/images/backgrounds/button.svg");
        background-size: 50px;
        background-position: 50% 50%;
      }

      i {
        font-size: 16px;
        color: #fff;
        margin-top: -2px;
      }
    }

    .main {
      flex: 0 1 auto;
      width: 100%;
    }

    .left {
      flex: 0 1 auto;
      display: flex;
      width: 100%;

      .topic-link {
        padding-left: @grid-gutter-width/4;
      }
    }

    .middle {
      flex: 0 0 70px;
      text-align: right;
    }

    .right {
      flex: none;
      padding-top: (@spacing / 2);
      padding-left: @grid-gutter-width/4;

      @media @desktop {
        flex: 0 0 200px;
        text-align: right;
        padding-top: 0;
      }

      .latest-reply-by {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .go-to-last {
      flex: 0 0 30px;

      align-self: stretch;
      display: flex;
      align-items: stretch;

      a {
        width: 100%;

        font-size: 16px;
        color: @gray;
        display: flex;
        align-items: center;
        justify-content: center;

        &, i { font-weight: bold; }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }
}

.forum__issue-icons {
  flex: none;
  display: flex;
  padding: (@spacing / 2) (@spacing / 2) 0;
  order: 1;

  @media @desktop {
    align-self: center;
    order: 0;
    padding-top: 0;
  }
}

.forum__avatar-container {
  padding: @grid-gutter-width/8;
  box-shadow: 0px 2px 5px fade(#000, 30%);
  &:extend(.default-border-radius);
  background-color: #fff;
}

.forum__avatar-container--reply {
  align-self: flex-start;
  flex: none;
  width: 80px;
  margin-right: @grid-gutter-width/4;
}

.avatar--forum-small {
  flex: none;
  width: 50px;
  height: 50px;
  box-shadow: none;
}


#forum-search {
  z-index: 100;
  &:extend(.default-box-shadow);
  color: #fff;
  text-decoration: none;

}

.forum-search-logo {
  .circle(@forum-search-diameter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

#forum-search-modal .modal-dialog {
  margin: 0px;
  position: absolute;
  width: auto;
  .modal-content {
    background-color: darken(@gray-lighter, 7%); // #ddd
    border: none;
    font-size: 12px;
    font-weight: bold;
    &:extend(.default-box-shadow);
  }

  .modal-body {
    padding: @grid-gutter-width/4 @grid-gutter-width/4 @grid-gutter-width;
  }

  .modal-footer {
    border: none;
    padding: 0px;

    .forum-search-logo {
      position: absolute;
      right: 0px;
      bottom: 0px;
      padding: 0px;
      color: darken(@gray-lighter, 20%); // #bbb
    }
  }

  h2 {
    text-transform: uppercase;
    color: @gray;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
  }

  label {
    text-transform: none;

    &.flex-checkbox {
      display: flex;
      align-items: center;
    }
  }

  .text-addon-append {
    &:extend(.default-box-shadow);
    &:extend(.default-border-radius);
    background: #fff;
    display: flex;
    padding: @grid-gutter-width/8;
    margin: @grid-gutter-width/4 0px;

    > * {
      border: none;
      border-radius: 0px;
      box-shadow: none;
      background: none;
      font-size: 20px;
      padding: 0px @grid-gutter-width/8;
    }

    input {
      font-style: italic;
      padding: 0px;
    }

    button {
      color: @pink-text;
      display: flex;
      align-items: center;
      &, * { font-weight: bold; }
    }

    span {
      align-self: center;
      font-weight: normal;
    }
  }
}

#forum-topic-navigator {
  position: absolute;

  bottom: @grid-gutter-width/4;
  right: @grid-gutter-width/4;
  @media @desktop {
    right: @grid-gutter-width - @forum-topic-navigator-diameter/2;
    bottom: @grid-gutter-width/2;
  }

  .circle(@forum-topic-navigator-diameter);
  &:extend(.default-box-shadow);
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;

  justify-content: center;
  text-align: center;

  > * { flex: none; }

  .jump-link {
    font-size: 10px;
    color: @gray-dark;
  }
}

.forum-posts-load-link {
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: @spacing;

  a, i {
    color: #000;
  }

  i { font-size: 24px; }

  span { display: none; }

  &.loading {
    a { display: none; }
    span { display: block; }
  }
}

.forum__poster-box {
  display: flex;
  flex-direction: column;

  padding: @grid-gutter-width/4 @grid-gutter-width/4 0px;
  &:extend(.default-border-radius);
  background-color: @blue-darker;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.forum__poster-box--extra {
  margin-top: @grid-gutter-width/8;
  padding: @grid-gutter-width/4;
}

.forum__poster-box__link {
  &, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.forum__info-row {
  margin-bottom: @grid-gutter-width/4;
  flex: none;
}
