/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
.post-editor {
  margin-bottom: @grid-gutter-width/8;
  padding-bottom: 0px;

  display: flex;
  flex-direction: column;

  &--edit {
    width: 100%;
    margin-bottom: -@grid-gutter-width/2;

    @media @desktop {
      margin-bottom: 0px;
    }
  }

  &--reply {
    margin-left: -(@grid-gutter-width/2 - @grid-gutter-width/8);
    margin-right: -(@grid-gutter-width/2 - @grid-gutter-width/8);
    width: 100%;
    max-width: @container-sm;
  }

  [name=body] {
    font-size: 14px;
    outline: none;
    border: none;
    resize: vertical;
    min-height: 200px;
  }

  &__main {
    flex: 1;
    display: flex;
    background-color: #fff;

    flex-direction: column;
    @media @desktop {
      flex-direction: row;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0px -@grid-gutter-width/2;

    padding: @grid-gutter-width/4 @grid-gutter-width/2;

    background-color: @gray-lighter;
    background-image: linear-gradient(fade(#000, 30%), transparent 3px);

    &--profile-page {
      padding: (@grid-gutter-width/4) (@grid-gutter-width*3/4);
      margin: 0px (-@grid-gutter-width*3/4) (-@grid-gutter-width/2);
    }

    &--large {
      @media @desktop {
        @space-left: @grid-gutter-width/2;
        margin-left: -@space-left;
        padding-left: @space-left;

        @space-right: @grid-gutter-width*6/4;
        margin-right: -@space-right;
        padding-right: @space-right;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
  }

  &__action {
    margin-left: @grid-gutter-width/4;
    min-width: 120px;
  }
}

.post-box-toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: @grid-gutter-width/8;
}

.bbcode-item--extra-space {
  margin-left: @grid-gutter-width/8;
}

.bbcode-btn {
  margin: 0px @grid-gutter-width/8 @grid-gutter-width/8 0px;
  font-size: 13px;
  .circle(30px);
  background-color: @blue-darker;
  color: #fff;
  &:extend(.default-text-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    &:extend(.default-box-shadow);
  }
}

.bbcode-btn--bold { font-weight: bold; }
.bbcode-btn--italic { font-style: italic; }

.bbcode-size-group {
  background: #fff;
  &:extend(.default-box-shadow);
  &:extend(.default-border-radius);
  text-transform: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: @grid-gutter-width/8 @grid-gutter-width/4;

  select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    opacity: 0;
  }
  i { margin-left: @grid-gutter-width/4; }
}
