/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
.post-box {
  margin-bottom: @grid-gutter-width/8;

  .create-post-advanced, .create-post-advanced-hide {
    display: none;
  }

  .create-post-advanced-switch {
    cursor: pointer;
  }

  .create-post-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .create-post-advanced-switch {
    font-size: 12px;
    font-weight: bold;
  }

  [name=body] {
    font-size: 14px;
    outline: none;
    border: none;
    resize: vertical;
    min-height: 200px;
  }
}

.post-box__actions {
  > * {
    min-height: 60px;
    width: 140px;
    margin-right: @grid-gutter-width/4;
  }
  display: flex;
}

.post-box__actions--edit {
  > * {
    min-height: 40px;
  }
}

.reply-box-footer {
  display: flex;
  background: @gray-lighter;
  justify-content: space-between;
  padding-top: @grid-gutter-width/4;
  padding-bottom: @grid-gutter-width/4;
}

.post-box-toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: @grid-gutter-width/8;
}

.bbcode-item--extra-space {
  margin-left: @grid-gutter-width/8;
}

.bbcode-btn {
  margin: 0px @grid-gutter-width/8 @grid-gutter-width/8 0px;
  font-size: 13px;
  .circle(30px);
  background-color: @blue-darker;
  color: #fff;
  &:extend(.default-text-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    &:extend(.default-box-shadow);
  }
}

.bbcode-btn--bold { font-weight: bold; }
.bbcode-btn--italic { font-style: italic; }

.bbcode-size-group {
  background: #fff;
  &:extend(.default-box-shadow);
  &:extend(.default-border-radius);
  text-transform: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: @grid-gutter-width/8 @grid-gutter-width/4;

  select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    opacity: 0;
  }
  i { margin-left: @grid-gutter-width/4; }
}
