/**
 *    Copyright 2015-2017 ppy Pty. Ltd.
 *
 *    This file is part of osu!web. osu!web is distributed with the hope of
 *    attracting more community contributions to the core ecosystem of osu!.
 *
 *    osu!web is free software: you can redistribute it and/or modify
 *    it under the terms of the Affero GNU General Public License version 3
 *    as published by the Free Software Foundation.
 *
 *    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
 *    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *    See the GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
 */

.post-editor {
  margin-bottom: 5px;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;

  &--edit {
    width: 100%;
    margin-bottom: -20px;

    @media @desktop {
      margin-bottom: 0;
    }
  }

  [name=body] {
    .reset-input();
    resize: vertical;
    min-height: 200px;
  }

  &__main {
    flex: 1;
    display: flex;
    background-color: #fff;

    flex-direction: column;
    @media @desktop {
      flex-direction: row;
    }

    &--reply {
      padding: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 -20px;
    padding: 10px 20px;

    background-color: @gray-lighter;
    background-image: linear-gradient(fade(#000, 30%), transparent 3px);

    &--profile-page {
      padding: 10px 30px;
      margin: 0 -30px -20px;
    }

    &--large {
      @media @desktop {
        @space-left: 20px;
        margin-left: -@space-left;
        padding-left: @space-left;

        @space-right: 60px;
        margin-right: -@space-right;
        padding-right: @space-right;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
  }

  &__action {
    margin-left: 10px;
    min-width: 120px;

    &--compact {
      min-width: 0;
    }
  }
}

.post-box-toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
