name: Lint

on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  APP_ENV: testing

jobs:
  lint:
    name: Lint all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get current date
        id: current-date
        run: echo "today=$(date '+%Y%m%d')" >> "$GITHUB_OUTPUT"

      - name: Cache ip2asn
        uses: actions/cache@v5
        with:
          path: database/ip2asn/
          key: ip2asn-${{ steps.current-date.outputs.today }}
          restore-keys: ip2asn-

      - name: Cache composer
        uses: actions/cache@v5
        with:
          path: .docker/.cache/composer/files/
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Prepare Docker dev environment
        run: ./docker/development/prepare.sh

      - run: 'docker compose exec php yarn lint --max-warnings 54 > /dev/null'

      - run: docker compose exec php yarn pretty

      - run: ./bin/update_licence.sh -nf

      - name: Run PHPCS
        run: ./vendor/bin/phpcs --report=checkstyle --basepath="$PWD" -q > checkstyle.xml

      - name: Annotate pull request
        uses: staabm/annotate-pull-request-from-checkstyle-action@v1
        with:
          files: checkstyle.xml
