name: Lint

on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  APP_ENV: testing

jobs:
  lint:
    name: Lint all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Read versions
        id: versions
        run: |
          echo "php_version=$(cat ./.php-version)" >> $GITHUB_OUTPUT
          echo "node_version=$(cat ./.node-version)" >> $GITHUB_OUTPUT

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: '${{ steps.versions.outputs.node_version }}'

      - name: Set php version
        uses: shivammathur/setup-php@v2
        with:
          tools: composer:v2, cs2pr
          php-version: '${{ steps.versions.outputs.php_version }}'
          coverage: none

      - name: Get composer cache directory
        id: composercache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer
        uses: actions/cache@v5
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: >-
          composer config -g github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}
          && composer install --prefer-dist --no-progress

      - name: Install js dependencies
        run: yarn --frozen-lockfile

      - run: 'yarn lint --max-warnings 54 > /dev/null'

      - run: yarn pretty

      - run: ./bin/update_licence.sh -nf

      - name: Run PHPCS
        run: ./vendor/bin/phpcs --report=checkstyle --basepath="$PWD" -q | cs2pr
