name: Lint

on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  APP_ENV: testing

jobs:
  lint:
    name: Lint all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '16'

      - name: Set php version
        uses: shivammathur/setup-php@v2
        with:
          tools: composer:v2
          php-version: '8.0'

      - name: Get composer cache directory
        id: composercache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer
        uses: actions/cache@v3
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: >-
          composer config -g github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}
          && composer install --prefer-dist --no-progress

      - name: Install js dependencies
        run: yarn --frozen-lockfile

      - run: 'yarn lint --max-warnings 158 > /dev/null'

      - run: ./bin/update_licence.sh -nf

      - name: Run PHPCS
        run: |
          echo "::add-matcher::${PWD}/.github/workflows/lint/problem-matcher.json"
          ./vendor/bin/phpcs --report=checkstyle --basepath="$PWD"
