name: Tests

on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      matrix:
        php: ['8.3', '8.4']
    name: Tests
    runs-on: ubuntu-latest
    env:
      PHP_VERSION: ${{ matrix.php }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create .env
        run: |
          cat > .env <<EOF
          APP_ENV=testing
          APP_KEY=base64:q7U5qyAkedR1F6UhN0SQlUxBpAMDyfHy3NNFkqmiMqA=
          APP_URL=http://localhost:8000
          DB_HOST=127.0.0.1
          DUSK_DRIVER_URL=http://127.0.0.1:9515
          ES_SOLO_SCORES_HOST=http://localhost:9200
          GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          NOTIFICATION_ENDPOINT=ws://localhost:2345
          OSU_INSTALL_DEV=1
          OSU_USE_SYSTEM_COMPOSER=1
          OSU_DB_CREATE=1
          PAYMENT_SANDBOX=true
          REDIS_HOST=127.0.0.1
          SHOPIFY_DOMAIN=notarealdomainortld
          SHOPIFY_STOREFRONT_TOKEN=notreal
          SLACK_ENDPOINT=https://myconan.net/null/
          EOF

      - name: Get current date
        id: current-date
        run: echo "today=$(date '+%Y%m%d')" >> "$GITHUB_OUTPUT"

      - name: Cache ip2asn
        uses: actions/cache@v4
        with:
          path: database/ip2asn/
          key: ip2asn-${{ steps.current-date.outputs.today }}
          restore-keys: ip2asn-

      - name: Spin up Docker dev environment
        run: ./bin/docker_dev.sh -d

      - name: Wait for migrations to be done
        run: docker compose logs -t -f migrator

      - name: Generate docs
        run: docker compose exec php /app/docker/development/entrypoint.sh artisan scribe:generate

      - name: Run PHPUnit
        run: docker compose exec php /app/docker/development/entrypoint.sh test phpunit

      # TODO: workaround things (beatmaps) being indexed during test above and not cleaned up.
      # This used to cause beatmap listing returning cursor with Long.MIN_VALUE for null timetamp
      # and errors out when trying to get the next page (es can't parse such value for timestamp)
      # but has since been fixed.
      # Something should still be done regarding es index between tests though.
      - name: Clean indexes
        run: php artisan es:index-documents --no-interaction

      - name: Run Dusk
        run: docker compose exec php /app/docker/development/entrypoint.sh test browser

      - name: Run karma
        run: docker compose exec php /app/docker/development/entrypoint.sh test js

      # this only tests that the rollback functions are valid and doesn't check
      # if they actually do what they're expected to do.
      - name: Migration rollback test
        run: |
          docker compose exec php /app/docker/development/entrypoint.sh artisan migrate:reset | tee rollback.log
          grep -Fq 'no rolling back from this migration =)' rollback.log
